.home{
    color: #808285;
    font: 400 10px/11px Lato,sans-serif;
}
.home:hover{
    color: #096;
}
a{
    text-decoration: none;
    color: #666;
    font-size: 14px;
}
a:hover{
    color: #096;
}
li{
    margin-left: 14px;
    margin-top: 3px;
}
mat-checkbox:hover{
    color: #096;
    
}
