<a href="http://localhost:4200/" class="home"  style="text-decoration: none;margin-left: 90px;">HOME ></a>
<h6 style="color: #808285;margin-left:140px;margin-top: -20px;">PRESSURE COOKER & NON-STICK</h6>
<div class="category" style="background-color:transparent;width: 270px;height: 50px;margin-left: 90px;margin-top: -40px;">
    <h4 style="margin-top: 70px;font-size: 16px;color: #222;">Categories</h4>
     <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
    <ul style="display: inline;list-style-type:none;">
     <li style="margin-top:-20px;">
     <a href="">Kitchen, Garden & Pets</a>
     </li>
     <li>
     <a href="">Cookware & Non Stick</a>
     </li>
 </ul>
</div>

<div style="width: 230px;height: 250px;background-color:transparent;margin-left: 80px;margin-top: 30px;position: relative;z-index: 1;">
<h4 style="font-size: 16px;color: #222;margin-left: 10px;">Brand</h4>
<mat-divider style="width: 210px;margin-top: -15px;"></mat-divider> 
 <input type="text" placeholder="Search by Brand" style="width: 208px;margin-top: 3px;margin-left:4px;padding-left: 16px;"/>
 <img src="../../assets/images/search.png" style="margin-left: 186px;margin-top: -50px;">
 <div style="position: absolute;overflow-y:scroll;height: 180px;width: 200px;margin-left: 10px;margin-top: -10px;">
                                             <mat-checkbox >Anjali</mat-checkbox><br>
                                             <mat-checkbox >Classic Essentials</mat-checkbox><br> 
                                             <mat-checkbox >Hawkins</mat-checkbox><br>
                                             <mat-checkbox >Kvg</mat-checkbox><br> 
                                             <mat-checkbox >Le Kaviraj</mat-checkbox><br>
                                             <mat-checkbox >Leo Natura</mat-checkbox><br> 
                                             <mat-checkbox >Master</mat-checkbox><br>
                                             <mat-checkbox >Nirlon</mat-checkbox><br> 
                                             <mat-checkbox >Pigeon </mat-checkbox><br>
                                             <mat-checkbox >Prestige</mat-checkbox><br> 
                                             <mat-checkbox >Sowbaghya</mat-checkbox><br>
 </div>
 </div> 

 <div style="width: 250px;height: 50px;background-color:transparent;margin-left: 80px;margin-top: 10px;position: relative;z-index: 1;">
    <h4 style="font-size: 16px;color: #222;margin-left: 10px;">Price</h4>
     <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>   
    <div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
                               <mat-checkbox >Rs 201 to Rs 500 (7)</mat-checkbox><br>
                               <mat-checkbox >More than Rs 501 (138)</mat-checkbox><br>
    </div> 
     </div> 

 <div style="width: 230px;height: 130px;background-color:transparent;margin-left: 80px;margin-top: 50px;position: relative;z-index: 1;">
 <h4 style="font-size: 16px;color: #222;margin-left: 10px;">Discount</h4>
 <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>   
 <div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
                                    <mat-checkbox >Upto 5% (8)</mat-checkbox><br>
                                    <mat-checkbox >5% - 10% (7)</mat-checkbox><br>
                                    <mat-checkbox >10% - 15% (3)</mat-checkbox><br>
                                    <mat-checkbox >15% - 25% (1)</mat-checkbox>
 </div> 
 </div> 

 <div style="width: 230px;height: 250px;background-color:transparent;margin-left: 80px;margin-top: 40px;position: relative;z-index: 1;">
 <h4 style="font-size: 16px;color: #222;margin-left: 10px;">Pack Size</h4>
<mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
 <input type="text" placeholder="Search by Pack Size" style="width: 208px;margin-top: 3px;margin-left:6px;padding-left: 16px;"/>
 <img src="../../assets/images/search.png" style="margin-left: 186px;margin-top: -50px;">
 <div style="position: absolute;overflow-y:scroll;height: 160px;width: 200px;margin-left: 10px;margin-top: -20px;">
                                         <mat-checkbox >16 cm</mat-checkbox><br>
                                         <mat-checkbox >20 cm</mat-checkbox><br>
                                         <mat-checkbox >21 cm</mat-checkbox><br>
                                         <mat-checkbox >24 cm</mat-checkbox><br>
                                         <mat-checkbox >28 cm</mat-checkbox><br>
                                         <mat-checkbox >1 pc</mat-checkbox><br>
                                         <mat-checkbox >3 pcs</mat-checkbox><br>
                                         <mat-checkbox >2 pcs (3 L + 2 L)</mat-checkbox><br>
                                         <mat-checkbox >4 pcs</mat-checkbox><br>
 </div> 
</div> 

<div style="width: 230px;height: 50px;background-color:transparent;margin-left: 80px;margin-top:-20px;position: relative;z-index: 1;">
    <h4 style="font-size: 16px;color: #222;margin-left: 10px;">Country Of Origin</h4>
   <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
    <div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
                        
                                       <mat-checkbox >China</mat-checkbox><br>
                                       <mat-checkbox >India</mat-checkbox><br>
                                       
    </div>
   </div> 
    
   <div style="width: 230px;height: 240px;background-color:transparent;margin-left: 80px;margin-top:60px;position: relative;z-index: 1;">
    <h4 style="font-size: 16px;color: #222;margin-left: 10px;">Capacity</h4>
   <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
    <div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
        <mat-checkbox >1 L - 3 L</mat-checkbox><br>
        <mat-checkbox >3.1 L - 5 L</mat-checkbox><br>
        <mat-checkbox >5.1 L & above</mat-checkbox><br>
        <mat-checkbox >Less than 1 L</mat-checkbox><br>
        <mat-checkbox >2 L</mat-checkbox><br>
        <mat-checkbox >3 L</mat-checkbox><br>                                                                  
    </div>
   </div> 

   <mat-divider [vertical]="true" style="width: 300px;height: 1380px;margin-left: 20px;margin-top: -1220px;"></mat-divider> 
   <div style="width: 900px;height: 1450px;background-color: transparent;margin-left: 330px;margin-top: -1360px;">
    <h4 style="font: 24px ProximaNovaA;color:#58595b;">Pressure Cooker & Non-Stick (9)</h4>
   <ul style="list-style-type: none;">
    <li style="margin-top: 40px;margin-left:-1px;">
    <a href="" style="color: #58595b!important;font-size: 12px;font-family: ProximaNovaA-Semibold;border-bottom: 2px solid #84c225;">ALL PRODUCTS</a>
    </li>
    </ul>
    <img src="../../assets/images/bus.png" style="margin-top:-60px"/>  
   <mat-divider style="margin-top: -30px;"></mat-divider> 
   <mat-card  style="width: 240px;height: 420px;margin-top: 20px;margin-left: 20px;">  
    <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
    <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 50% OFF</span> 
     <img src="../../assets/images/asterisk.png"/>
     </mat-toolbar> 
     <img src="../../assets/uploads/srushti-gold-aluminium-pressure-cooker-outer-lid.png" style="margin-left: 40px;"/> 
     <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Srushti Gold</h6> 
      <ul style="list-style-type: none;">
      <li style="margin-top: -13px;margin-left: -30px;">
      <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Aluminium Pressure Cooker - Outer Lid</a>
     </li>
     </ul> 
     <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">3 L</h6>
     <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: -10px;">
        <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 900</h6>
         <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 449</h4>  
         <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
             <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
         <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
         <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
         <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
        <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
             <img src="../../assets/images/grey-basket.png"/>
             </button>
           </mat-card>  
  </mat-card>   

  <mat-card  style="width: 240px;height: 420px;margin-top: -420px;margin-left: 290px;">
    <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
        <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 46% OFF</span> 
         <img src="../../assets/images/asterisk.png"/>
         </mat-toolbar> 
         <img src="../../assets/uploads/_4-srushti-gold-aluminium-pressure-cooker-outer-lid.png" style="margin-left: 40px;"/> 
         <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Srushti Gold</h6> 
          <ul style="list-style-type: none;">
          <li style="margin-top: -13px;margin-left: -30px;">
          <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Aluminium Pressure Cooker - Outer Lid</a>
         </li>
         </ul> 
         <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">5 L</h6>
         <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: -10px;">
            <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 1100</h6>
             <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 599</h4>  
             <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
                 <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
             <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
             <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
             <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
            <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
                 <img src="../../assets/images/grey-basket.png"/>
                 </button>
               </mat-card>     
    </mat-card> 

    <mat-card  style="width: 240px;height: 420px;margin-top:-420px;margin-left: 560px;">
        <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
            <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 47% OFF</span> 
             <img src="../../assets/images/asterisk.png"/>
             </mat-toolbar> 
             <img src="../../assets/uploads/3-srushti-gold-pressure-cooker-aluminium-outer-lid-induction-base.png" style="margin-left: 40px;"/> 
             <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Srushti Gold</h6> 
              <ul style="list-style-type: none;">
              <li style="margin-top: -13px;margin-left: -30px;">
              <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Pressure Cooker - Aluminium, Outer Lid, Induction Base</a>
             </li>
             </ul> 
             <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">2 L</h6>
             <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: -10px;">
                <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 850</h6>
                 <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 449</h4>  
                 <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
                     <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
                 <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
                 <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
                 <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
                <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
                     <img src="../../assets/images/grey-basket.png"/>
                     </button>
                   </mat-card>           
   </mat-card>  
   
   <mat-card  style="width: 240px;height: 430px;margin-top: 20px;margin-left: 20px;">
    <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
     <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 65% OFF</span> 
    <img src="../../assets/images/asterisk.png"/>
     </mat-toolbar> 
     <img src="../../assets/uploads/nirlon-honey-comb-touch-non-stick-cookware-set-black.png" style="margin-left: 40px;"/> 
     <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Nirlon</h6> 
      <ul style="list-style-type: none;">
      <li style="margin-top: -13px;margin-left: -30px;">
      <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Honey Comb Touch Non-Stick Cookware Set - Black</a>
     </li>
     </ul> 
     <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">2 pcs (Tawa 250 mm + Kadhai 220 mm)</h6>    
     <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top:-10px;">
        <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 2429</h6>
         <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 849</h4>  
         <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
             <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
         <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
         <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
         <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
        <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
             <img src="../../assets/images/grey-basket.png"/>
        </button>        
    </mat-card>     
    </mat-card>  

    <mat-card  style="width: 240px;height: 430px;margin-top: -430px;margin-left: 290px;">
        <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
            <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 40% OFF</span> 
           <img src="../../assets/images/asterisk.png"/>
            </mat-toolbar> 
            <img src="../../assets/uploads/nirlon-combo-non-stick-flat-tawa-kadai-red.png" style="margin-left: 40px;"/> 
            <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Nirlon</h6> 
             <ul style="list-style-type: none;">
             <li style="margin-top: -13px;margin-left: -30px;">
             <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Combo - Non-Stick Flat Tawa & Kadai, Red</a>
            </li>
            </ul> 
            <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">2 pcs (25 cm + 22.5 cm)</h6>    
            <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top:20px;">
               <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 1049</h6>
                <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 629</h4>  
                <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
                    <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
                <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
                <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
                <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
               <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
                    <img src="../../assets/images/grey-basket.png"/>
               </button>        
           </mat-card>             
 </mat-card>  
 
 <mat-card  style="width: 240px;height: 420px;margin-top:-420px;margin-left: 560px;">
    <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
        <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 50% OFF</span> 
       <img src="../../assets/images/asterisk.png"/>
        </mat-toolbar> 
        <img src="../../assets/uploads/ucook-by-united-aluminium-pressure-cooker-super-slvr-silver.png" style="margin-left: 40px;"/> 
        <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">UCOOK by United</h6> 
         <ul style="list-style-type: none;">
         <li style="margin-top: -13px;margin-left: -30px;">
         <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Aluminium Pressure Cooker - Super SLVR, Silver</a>
        </li>
        </ul> 
        <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">3 L</h6>    
        <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top:-10px;">
           <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 1300</h6>
            <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 649</h4>  
            <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
                <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
            <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
            <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
            <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
           <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
                <img src="../../assets/images/grey-basket.png"/>
           </button>        
       </mat-card>            
</mat-card>

<mat-card class="pedigree" style="width: 240px;height: 420px;margin-left: 20px;margin-top: 20px;">
    <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
    <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 26% OFF</span> 
    <img src="../../assets/images/asterisk.png"/>
    </mat-toolbar> 
    <img src="../../assets/uploads/united-aluminium-pressure-cooker-regular-magic-chhotu-induction-base-silver.png" style="margin-left: 40px;"/> 
    <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">United</h6> 
         <ul style="list-style-type: none;">
     <li style="margin-top: -13px;margin-left: -30px;">
     <a href="" style="font-size:13px;color:rgb(7, 3, 3);margin-top: -30px;">Aluminium Pressure Cooker - Regular Magic, Chhotu, Induction Base, Silver</a>
     </li>
     </ul> 
     <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">1 L</h6>  
     <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: -10px;">
        <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 940</h6>
        <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 699</h4>  
        <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
          <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
        <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
         <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
        <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
       <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
        <img src="../../assets/images/grey-basket.png"/>
          </button>        
        </mat-card>
    </mat-card> 
    
    <mat-card class="pedigree" style="width: 240px;height: 420px;margin-left: 290px;margin-top: -420px;">
        <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
            <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 29% OFF</span> 
            <img src="../../assets/images/asterisk.png"/>
            </mat-toolbar> 
            <img src="../../assets/uploads/united-3-in-1-aluminium-pressure-cooker-smart-induction-base-hard-anodised-black.png" style="margin-left: 40px;"/> 
            <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">United</h6> 
                 <ul style="list-style-type: none;">
             <li style="margin-top: -13px;margin-left: -30px;">
             <a href="" style="font-size:13px;color:rgb(7, 3, 3);margin-top: -30px;">Aluminium Pressure Cooker - With Silicone Soft Touch Handle, Cibo X1, Silver</a>
             </li>
             </ul> 
             <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">5 L</h6>  
             <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: -10px;">
                <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 1765</h6>
                <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 1249</h4>  
                <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
                  <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
                <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
                 <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
                <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
               <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
                <img src="../../assets/images/grey-basket.png"/>
                  </button>        
                </mat-card>       
    </mat-card>

    <mat-card class="pedigree" style="width: 240px;height: 420px;margin-left: 560px;margin-top: -420px;">
        <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
            <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 26% OFF</span> 
            <img src="../../assets/images/asterisk.png"/>
            </mat-toolbar> 
            <img src="../../assets/uploads/united-3-in-1-aluminium-pressure-cooker-smart-induction-base-hard-anodised-black.png" style="margin-left: 40px;"/> 
            <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">United</h6> 
                 <ul style="list-style-type: none;">
             <li style="margin-top: -13px;margin-left: -30px;">
             <a href="" style="font-size:13px;color:rgb(7, 3, 3);margin-top: -30px;">Aluminium Pressure Cooker - Regular Magic, Chhotu, Induction Base, Silver</a>
             </li>
             </ul> 
             <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">1 L</h6>  
             <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: -10px;">
                <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 940</h6>
                <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 699</h4>  
                <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
                  <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
                <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
                 <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
                <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
               <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
                <img src="../../assets/images/grey-basket.png"/>
                  </button>        
                </mat-card>
            </mat-card> 
            
            <mat-card class="pedigree" style="width: 240px;height: 420px;margin-left: 290px;margin-top: -420px;">
                <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
                    <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 30% OFF</span> 
                    <img src="../../assets/images/asterisk.png"/>
                    </mat-toolbar> 
                    <img src="../../assets/uploads/united-aluminium-pressure-cooker-with-silicone-soft-touch-handle-cibo-x1-silver.png" style="margin-left: 40px;"/> 
                    <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">United</h6> 
                         <ul style="list-style-type: none;">
                     <li style="margin-top: -13px;margin-left: -30px;">
                     <a href="" style="font-size:13px;color:rgb(7, 3, 3);margin-top: -30px;">3-In-1 Aluminium Pressure Cooker - Smart, Induction Base, Hard Anodised, Black</a>
                     </li>
                     </ul> 
                     <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">5 L</h6>  
                     <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: -10px;">
                        <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 3199</h6>
                        <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 2249</h4>  
                        <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
                          <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
                        <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
                         <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
                        <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
                       <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
                        <img src="../../assets/images/grey-basket.png"/>
                          </button>        
                        </mat-card>       
 </mat-card>           
   </div>    
       
    