<div class="crockery">
<a href="http://localhost:4200/" class="home"  style="text-decoration: none;margin-left: 90px;">HOME ></a>
<h6 style="color: #808285;margin-left:140px;margin-top: -20px;">CROCKERY & GLASSWARE</h6>
<div class="category" style="background-color:transparent;width: 270px;height: 80px;margin-left: 90px;margin-top: -40px;">
    <h4 id="category" style="margin-top: 70px;font-size: 16px;color: #222;">Categories</h4>
     <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
    <ul style="display: inline;list-style-type:none;">
     <li style="margin-top:-20px;">
     <a href="">Kitchen, Garden & Pets</a>
     </li>
     <li>
     <a href="">Crockery & Cutlery (484)</a>
     </li>
     <li >
        <a href="">Snacks & Branded Foods</a>
        </li>
        <li>
        <a href="">Ready To Cook & Eat (1)</a>
        </li>
 </ul>
</div>

<div class="brand" style="width: 230px;height: 250px;background-color:transparent;margin-left: 80px;margin-top: 40px;position: relative;z-index: 1;">
 <h4 id="brand-title" style="font-size: 16px;color: #222;margin-left: 10px;">Brand</h4>
<mat-divider style="width: 210px;margin-top: -15px;"></mat-divider> 
 <input type="text" placeholder="Search by Brand" id="search-icon" style="width: 208px;margin-top: 3px;margin-left:4px;padding-left: 16px;"/>
 <img src="../../assets/images/search.png" id="search-brand" style="margin-left: 186px;margin-top: -50px;">
<div style="position: absolute;overflow-y:scroll;height: 180px;width: 200px;margin-left: 10px;margin-top: -10px;">
                                                 <mat-checkbox >BB Home</mat-checkbox><br>
                                                 <mat-checkbox >Blinkmax</mat-checkbox><br> 
                                                 <mat-checkbox >Borosil</mat-checkbox><br>
                                                 <mat-checkbox >BP Bharat</mat-checkbox><br> 
                                                 <mat-checkbox >Cello</mat-checkbox><br>
                                                 <mat-checkbox >Claycraft</mat-checkbox><br> 
                                                 <mat-checkbox >Corelle</mat-checkbox><br>
                                                 <mat-checkbox >Diamond'S</mat-checkbox><br> 
                                                 <mat-checkbox >DP</mat-checkbox><br>
                                                 <mat-checkbox >Glass Ideas</mat-checkbox><br> 
                                                 <mat-checkbox >Gupta Glass Ideas</mat-checkbox><br>
</div>
</div> 

<div style="width: 250px;height: 120px;background-color:transparent;margin-left: 80px;margin-top: 10px;position: relative;z-index: 1;">
    <h4 id="price-title" style="font-size: 16px;color: #222;margin-left: 10px;">Price</h4>
     <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>   
    <div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
                               <mat-checkbox >Rs 201 to Rs 500 (7)</mat-checkbox><br>
                               <mat-checkbox >More than Rs 501 (138)</mat-checkbox><br>
                               <mat-checkbox >Rs 21 to Rs 50 (4)</mat-checkbox><br>
                               <mat-checkbox >Rs 51 to Rs 100 (11)</mat-checkbox><br>
                               <mat-checkbox>Rs 101 to Rs 200 (93)</mat-checkbox><br>
    </div> 
     </div> 

 <div style="width: 230px;height: 130px;background-color:transparent;margin-left: 80px;margin-top: 80px;position: relative;z-index: 1;">
  <h4 id="discount" style="font-size: 16px;color: #222;margin-left: 10px;">Discount</h4>
 <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>   
 <div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
                                           <mat-checkbox >Upto 5% (8)</mat-checkbox><br>
                                           <mat-checkbox >5% - 10% (7)</mat-checkbox><br>
                                           <mat-checkbox >10% - 15% (3)</mat-checkbox><br>
                                           <mat-checkbox >15% - 25% (1)</mat-checkbox>
  </div> 
 </div>   
 
 <div style="width: 230px;height: 250px;background-color:transparent;margin-left: 80px;margin-top: 40px;position: relative;z-index: 1;">
<h4 id="pack-size" style="font-size: 16px;color: #222;margin-left: 10px;">Pack Size</h4>
   <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
    <input type="text" placeholder="Search by Pack Size" id="search-icon" style="width: 208px;margin-top: 3px;margin-left:6px;padding-left: 16px;"/>
    <img src="../../assets/images/search.png" id="search-brand" style="margin-left: 186px;margin-top: -50px;">
    <div style="position: absolute;overflow-y:scroll;height: 160px;width: 200px;margin-left: 10px;margin-top: -20px;">
                                            <mat-checkbox >11 inch (Pack of 2)</mat-checkbox><br>
                                            <mat-checkbox >8 Inches</mat-checkbox><br>
                                            <mat-checkbox >1 pc</mat-checkbox><br>
                                            <mat-checkbox >7.5 Inch (Set of 6)</mat-checkbox><br>
                                            <mat-checkbox >7.5 Inch Set of 6</mat-checkbox><br>
                                            <mat-checkbox >22 cm Pack of 6</mat-checkbox><br>
                                            <mat-checkbox >26 cm Pack of 6</mat-checkbox><br>
                                            <mat-checkbox >22.5 cm Pack of 6</mat-checkbox><br>
                                            <mat-checkbox >3 pcs</mat-checkbox><br>
    </div> 
   </div> 

 <div class="capacity" style="width: 230px;height: 260px;background-color:transparent;margin-left: 80px;margin-top:-30px;position: relative;z-index: 1;">
 <h4 style="font-size: 16px;color: #222;margin-left: 10px;">Capacity</h4>
   <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
    <div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
        <mat-checkbox >100 ml - 200 ml</mat-checkbox><br>
        <mat-checkbox >401 ml - 700 ml</mat-checkbox><br>
        <mat-checkbox >701 ml - 1 L</mat-checkbox><br>
        <mat-checkbox >1.5 L - 2 L</mat-checkbox><br>
        <mat-checkbox >100 g - 200 g</mat-checkbox><br>
        <mat-checkbox >2 kg & above</mat-checkbox><br>   
        <mat-checkbox >Below 100 g</mat-checkbox><br>
        <mat-checkbox >701 ml & above</mat-checkbox><br>                                                                  
    </div>
   </div>
   
   <div style="width: 230px;height: 240px;background-color:transparent;margin-left: 80px;margin-top:40px;position: relative;z-index: 1;">
    <h4 id="colour" style="font-size: 16px;color: #222;margin-left: 10px;">Colour</h4>
   <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
    <div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
        <mat-checkbox >Red</mat-checkbox><br>
        <mat-checkbox >White</mat-checkbox><br>
        <mat-checkbox >Others</mat-checkbox><br>                                                                 
    </div>
   </div> 

   <div style="width: 230px;height: 240px;background-color:transparent;margin-left: 80px;margin-top:-100px;position: relative;z-index: 1;">
    <h4 id="country" style="font-size: 16px;color: #222;margin-left: 10px;">Country Of Origin</h4>
   <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
    <div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
        <mat-checkbox >China</mat-checkbox><br>
        <mat-checkbox >Germany</mat-checkbox><br>
        <mat-checkbox >India</mat-checkbox><br>
        <mat-checkbox >Thailand</mat-checkbox><br>
        <mat-checkbox >Iran</mat-checkbox><br>
        <mat-checkbox >USA</mat-checkbox><br>                                                                  
    </div>
   </div> 

   <mat-divider [vertical]="true" style="width: 300px;height: 1650px;margin-left: 20px;margin-top: -1670px;"></mat-divider>    
   <div class="banner-section" >
   <div style="width: 900px;height: 1620px;background-color: transparent;margin-left: 330px;margin-top: -1660px;">
    <h4 class="glassware" style="font: 24px ProximaNovaA;color:#58595b;">Crockery & Glassware (9)</h4>
   <ul id="all-products" style="list-style-type: none;">
    <li style="margin-top: 40px;margin-left:-1px;">
    <a href="" style="color: #58595b!important;font-size: 12px;font-family: ProximaNovaA-Semibold;border-bottom: 2px solid #84c225;">ALL PRODUCTS</a>
    </li>
    </ul>
    <img src="../../assets/images/bus.png" id="bus-img" style="margin-top:-60px"/>  
   <mat-divider style="margin-top: -30px;"></mat-divider> 
   <div class="mug">
   <mat-card  style="width: 240px;height: 420px;margin-top: 20px;margin-left: 20px;">  
    <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
    <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 40% OFF</span> 
     <img src="../../assets/images/asterisk.png"/>
     </mat-toolbar> 
     <img src="../../assets/uploads/ziva-jade-beer-mug.png" style="margin-left: 40px;"/> 
     <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Ziva</h6> 
      <ul style="list-style-type: none;">
      <li style="margin-top: -13px;margin-left: -30px;">
      <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Jade Beer Mug</a>
     </li>
     </ul> 
     <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">407 ml</h6> 
     <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: -10px;">
        <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 98</h6>
         <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 59</h4>  
         <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
             <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
         <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
         <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
         <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
        <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
             <img src="../../assets/images/grey-basket.png"/>
             </button>
           </mat-card>     
     </mat-card>
    </div>
    <div class="bowl">
     <mat-card  style="width: 240px;height: 420px;margin-top: -420px;margin-left: 290px;">
        <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
            <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 50% OFF</span> 
             <img src="../../assets/images/asterisk.png"/>
             </mat-toolbar> 
             <img src="../../assets/uploads/glass-ideas-glass-bowl-set-sweety.png" style="margin-left: 40px;"/> 
             <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Glass Ideas</h6> 
              <ul style="list-style-type: none;">
              <li style="margin-top: -13px;margin-left: -30px;">
              <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Glass Bowl Set - Sweety</a>
             </li>
             </ul> 
             <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">6 pcs</h6>
             <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: -10px;">
                <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 249</h6>
                 <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 125</h4>  
                 <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
                     <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
                 <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
                 <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
                 <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
                <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
                     <img src="../../assets/images/grey-basket.png"/>
                     </button>
                   </mat-card>          
    </mat-card>   
  </div>
  <div class="service">
    <mat-card  style="width: 240px;height: 420px;margin-top:-420px;margin-left: 560px;">
        <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
            <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 68% OFF</span> 
             <img src="../../assets/images/asterisk.png"/>
             </mat-toolbar> 
             <img src="../../assets/uploads/gupta-glass-ideas-glass-serving-bowls.png" style="margin-left: 40px;"/> 
             <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Gupta Glass Ideas</h6> 
              <ul style="list-style-type: none;">
              <li style="margin-top: -13px;margin-left: -30px;">
              <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Glass Serving Bowls</a>
             </li>
             </ul> 
             <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">300 ml (Pack of 2)</h6>
             <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: -10px;">
                <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 199</h6>
                 <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 64</h4>  
                 <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
                     <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
                 <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
                 <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
                 <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
                <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
             <img src="../../assets/images/grey-basket.png"/>
             </button>
     </mat-card>           
   </mat-card>   
  </div>
  <div class="beer">
   <mat-card  style="width: 240px;height: 410px;margin-top: 20px;margin-left: 20px;">
    <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
     <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 28% OFF</span> 
    <img src="../../assets/images/asterisk.png"/>
     </mat-toolbar> 
     <img src="../../assets/uploads/pasabahce-pubbeer-glass-tumbler.png" style="margin-left: 40px;"/> 
     <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Pasabahce</h6> 
      <ul style="list-style-type: none;">
      <li style="margin-top: -13px;margin-left: -30px;">
      <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Pub/Beer Glass Tumbler</a>
     </li>
     </ul> 
     <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">320 ml Set of 2</h6> 
     <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: -10px;">
        <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 247</h6>
         <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 179</h4>  
         <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
             <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
         <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
         <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
         <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
        <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
     <img src="../../assets/images/grey-basket.png"/>
     </button>
</mat-card>        
     </mat-card>    
    </div>
    <div class="long">
     <mat-card  style="width: 240px;height: 410px;margin-top: -410px;margin-left: 290px;">
        <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
            <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 45% OFF</span> 
           <img src="../../assets/images/asterisk.png"/>
            </mat-toolbar> 
            <img src="../../assets/uploads/soogo-long-drink-glass-set-divine.png" style="margin-left: 40px;"/> 
            <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Soogo</h6> 
             <ul style="list-style-type: none;">
             <li style="margin-top: -13px;margin-left: -30px;">
             <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Long Drink Glass Set - Divine</a>
            </li>
            </ul> 
            <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">6 pcs</h6>  
            <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: -10px;">
                <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 309</h6>
                 <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 219</h4>  
                 <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
                     <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
                 <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
                 <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
                 <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
                <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
             <img src="../../assets/images/grey-basket.png"/>
             </button>
        </mat-card>        
          </mat-card> 
        </div>
        <div class="mixing">
<mat-card  style="width: 240px;height: 410px;margin-top:-410px;margin-left: 560px;">
 <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
     <span style="color: #ba5253;font-size: 10px;margin-left:110px;">SAVE Rs 46</span> 
               <img src="../../assets/images/asterisk.png"/>
                </mat-toolbar> 
                <img src="../../assets/uploads/cello-mixing-bowl.png" style="margin-left: 40px;"/> 
                <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Cello</h6> 
                 <ul style="list-style-type: none;">
                 <li style="margin-top: -13px;margin-left: -30px;">
                 <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Mixing Bowl</a>
                </li>
                </ul> 
                <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">3 pcs (500 ml + 1 L + 1.5 L)</h6>   
                <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: -10px;">
                    <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 595</h6>
                     <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 549</h4>  
                     <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
                         <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
                     <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
                     <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
                     <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
                    <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
                 <img src="../../assets/images/grey-basket.png"/>
                 </button>
            </mat-card>                
       </mat-card>   
      </div>
      <div class="whisky">
       <mat-card class="pedigree" style="width: 240px;height: 420px;margin-left: 20px;margin-top: 20px;">
        <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
        <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 36% OFF</span> 
        <img src="../../assets/images/asterisk.png"/>
        </mat-toolbar> 
        <img src="../../assets/uploads/pasabahce-whisky-glass-karat.png" style="margin-left: 40px;"/> 
        <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Pasabahce</h6> 
             <ul style="list-style-type: none;">
         <li style="margin-top: -13px;margin-left: -30px;">
         <a href="" style="font-size:13px;color:rgb(7, 3, 3);margin-top: -30px;">Whisky Glass Karat</a>
         </li>
         </ul> 
         <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">300 ml (Set of 6)</h6>  
         <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: -10px;">
            <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 612</h6>
            <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 389</h4>  
            <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
              <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
            <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
             <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
            <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
           <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
            <img src="../../assets/images/grey-basket.png"/>
              </button>        
            </mat-card>  
       </mat-card>   
      </div>
      <div class="lid">
       <mat-card class="pedigree" style="width: 240px;height: 420px;margin-left: 290px;margin-top: -420px;">
        <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
            <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 67% OFF</span> 
            <img src="../../assets/images/asterisk.png"/>
            </mat-toolbar> 
            <img src="../../assets/uploads/gupta-glass-ideas-storage-bowl-with-lid.png" style="margin-left: 40px;"/> 
            <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Gupta Glass Ideas</h6> 
                 <ul style="list-style-type: none;">
             <li style="margin-top: -13px;margin-left: -30px;">
             <a href="" style="font-size:13px;color:rgb(7, 3, 3);margin-top: -30px;">Storage Bowl With Lid</a>
             </li>
             </ul> 
             <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">400 ml Pack of 2</h6>  
             <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: -10px;">
                <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 299</h6>
                <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 98</h4>  
                <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
                  <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
                <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
                 <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
                <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
               <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
                <img src="../../assets/images/grey-basket.png"/>
                  </button>        
                </mat-card>       
    </mat-card>
  </div>
  <div class="pudding">
    <mat-card class="pedigree" style="width: 240px;height: 420px;margin-left: 560px;margin-top: -420px;">
        <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
            <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 53% OFF</span> 
            <img src="../../assets/images/asterisk.png"/>
            </mat-toolbar> 
            <img src="../../assets/uploads/glass-ideas-savoury-pudding-set.png" style="margin-left: 40px;"/> 
            <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Glass Ideas</h6> 
                 <ul style="list-style-type: none;">
             <li style="margin-top: -13px;margin-left: -30px;">
             <a href="" style="font-size:13px;color:rgb(7, 3, 3);margin-top: -30px;">Savoury Pudding Set</a>
             </li>
             </ul> 
             <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">7 pcs</h6>  
             <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: -10px;">
                <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 549</h6>
                <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 249</h4>  
                <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
                  <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
                <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
                 <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
                <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
               <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
                <img src="../../assets/images/grey-basket.png"/>
                  </button>        
                </mat-card>
            </mat-card> 
          </div>
          </div> 
</div>  
</div> 
    