.home{
    color: #808285;
    font: 400 10px/11px Lato,sans-serif;
}
.home:hover{
    color: #096;
}
a{
    text-decoration: none;
    color: #666;
    font-size: 14px;
}
a:hover{
    color: #096;
}
li{
    margin-left: 14px;
    margin-top: 3px;
}
mat-checkbox:hover{
    color: #096;
    
}

@media screen and (max-width:425px){
    .crockery{
        overflow-x: hidden;
    }
    .category{
        display: none;
    }
    mat-checkbox{
        display: none;
    }
    mat-divider{
        display: none;
    }
    #category{
        display: none;
    }
    #brand-title{
        display: none;
    }
    #search-brand{
        display: none;
    }
    #search-icon{
        display: none;
    }
    #price-title{
        display: none;
    }
    #discount{
        display: none;
    }
    #pack-size{
        display: none;
    }
    .capacity{
        display: none;
    }
    #country{
        display: none;
    }
    #colour{
        display: none;
    }
    .glassware{
        margin-left: -310px;
        margin-top: 340px;
       }
    
        #all-products{
            margin-left: -250px;
            margin-top: -10px;
        }
        #bus-img{
            margin-left: -270px;
        }
        .banner-section{
            max-width: 400px;
            height:550vh;
        }
        .mug{
            margin-top: 10px;
            margin-left: -280px; 
        }
        .bowl{
            margin-left: -550px;
        margin-top: 430px;    
        }
        .service{
            margin-left: -820px;
            margin-top: 430px;  
        }
        .beer{
            margin-left: -280px;
            margin-top: -13px; 
        }
        .long{
            margin-left: -550px;
            margin-top: 420px;  
        }
        .mixing{
            margin-top: 420px;
            margin-left: -820px;   
        }
        .whisky{
            margin-left: -280px;
            margin-top: -10px; 
        }
        .lid{
            margin-left: -550px;
            margin-top: 430px;    
        }
        .pudding{
            margin-left: -820px;
            margin-top: 430px;    
        }
}
@media screen and (max-width:385px){
    .banner-section{
        max-width: 400px;
        height:630vh;
    }
}
@media screen and (max-width:375px){
    .banner-section{
        max-width: 400px;
        height:500vh;
    }
}
@media screen and (max-width:320px){
    .banner-section{
        max-width: 400px;
        height:630vh;
    } 
    .mug{
        margin-top: 10px;
        margin-left: -320px; 
    }
    .bowl{
        margin-left: -590px;
    margin-top: 430px;    
    }
    .service{
        margin-left: -860px;
        margin-top: 430px;  
    }
    .beer{
        margin-left: -320px;
        margin-top: -13px; 
    }
    .long{
        margin-left: -590px;
        margin-top: 420px;  
    }
    .mixing{
        margin-top: 420px;
        margin-left: -860px;   
    }
    .whisky{
        margin-left: -320px;
        margin-top: -10px; 
    }
    .lid{
        margin-left: -590px;
        margin-top: 430px;    
    }
    .pudding{
        margin-left: -860px;
        margin-top: 430px;    
    }
}
@media screen and (min-width:426px) and (max-width:800px){
    .crockery{
        overflow-x: hidden;
    }
    .category{
        display: none;
    }
    mat-checkbox{
        display: none;
    }
    mat-divider{
        display: none;
    }
    #category{
        display: none;
    }
    #brand-title{
        display: none;
    }
    #search-brand{
        display: none;
    }
    #search-icon{
        display: none;
    }
    #price-title{
        display: none;
    }
    #discount{
        display: none;
    }
    #pack-size{
        display: none;
    }
    .capacity{
        display: none;
    }
    #country{
        display: none;
    }
    #colour{
        display: none;
    }
    .glassware{
        margin-left: -110px;
        margin-top: 340px;
       }
    
        #all-products{
            margin-left: -150px;
            margin-top: -10px;
        }
        #bus-img{
            margin-left: -170px;
        }
        .banner-section{
            max-width: 400px;
            height:145vh;
        }
        .mug{
            margin-top: 10px;
            margin-left: -340px; 
        }
        .bowl{
            margin-left: -360px;
        margin-top: -10px;    
        }
        .service{
            margin-left: -380px;
            margin-top: -10px;  
        }
        .beer{
            margin-left: -340px;
            margin-top: -10px; 
        }
        .long{
            margin-left: -360px;
            margin-top: -18px;  
        }
        .mixing{
            margin-top: -18px;
            margin-left: -380px;   
        }
        .whisky{
            margin-left: -340px;
            margin-top: -10px; 
        }
        .lid{
            margin-left: -360px;
            margin-top: -18px;    
        }
        .pudding{
            margin-left: -380px;
            margin-top: -18px;    
        }
}