<a href="http://localhost:4200/" class="home"  style="text-decoration: none;margin-left: 90px;">HOME ></a>
<h6 style="color: #808285;margin-left:140px;margin-top: -20px;">BINS & BATHWARE</h6>
<div class="category" style="background-color:transparent;width: 270px;height: 50px;margin-left: 90px;margin-top: -40px;">
    <h4 style="margin-top: 70px;font-size: 16px;color: #222;">Categories</h4>
     <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
    <ul style="display: inline;list-style-type:none;">
     <li style="margin-top:-20px;">
     <a href="">Cleaning & Household</a>
     </li>
     <li>
     <a href="">Bins & Bathroom Ware</a>
     </li> 
    <li>
 </ul>
</div>

<div style="width: 230px;height: 250px;background-color:transparent;margin-left: 80px;margin-top: 30px;position: relative;z-index: 1;">
<h4 style="font-size: 16px;color: #222;margin-left: 10px;">Brand</h4>
<mat-divider style="width: 210px;margin-top: -15px;"></mat-divider> 
<input type="text" placeholder="Search by Brand" style="width: 208px;margin-top: 3px;margin-left:4px;padding-left: 16px;"/>
 <img src="../../assets/images/search.png" style="margin-left: 186px;margin-top: -50px;">
<div style="position: absolute;overflow-y:scroll;height: 180px;width: 200px;margin-left: 10px;margin-top: -10px;">
                                             <mat-checkbox >All Time</mat-checkbox><br>
                                             <mat-checkbox >Aristo</mat-checkbox><br> 
                                             <mat-checkbox >BB Home</mat-checkbox><br>
                                             <mat-checkbox >Cello</mat-checkbox><br> 
                                             <mat-checkbox >ChenYing</mat-checkbox><br>
                                             <mat-checkbox >DP</mat-checkbox><br> 
                                             <mat-checkbox >Jai Veer</mat-checkbox><br>
                                             <mat-checkbox >Jianan</mat-checkbox><br> 
                                             <mat-checkbox >Joyo</mat-checkbox><br>
                                             <mat-checkbox >KM</mat-checkbox><br> 
                                             <mat-checkbox >Laplast</mat-checkbox><br>
</div>
 </div> 
 
 <div style="width: 250px;height: 130px;background-color:transparent;margin-left: 80px;margin-top: 10px;position: relative;z-index: 1;">
<h4 style="font-size: 16px;color: #222;margin-left: 10px;">Price</h4>
 <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>   
<div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
                               <mat-checkbox >Rs 21 to Rs 50 (40)</mat-checkbox><br>
                               <mat-checkbox >Rs 51 to Rs 100 (46)</mat-checkbox><br>
                               <mat-checkbox >Rs 101 to Rs 200 (4)</mat-checkbox><br>
                               <mat-checkbox >Rs 201 to Rs 500 (3)</mat-checkbox><br>
                               <mat-checkbox >More than Rs 501 (16)</mat-checkbox><br>
 </div> 
 </div>  

 <div style="width: 230px;height: 130px;background-color:transparent;margin-left: 80px;margin-top: 70px;position: relative;z-index: 1;">
<h4 style="font-size: 16px;color: #222;margin-left: 10px;">Discount</h4>
 <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>   
<div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
                                <mat-checkbox >Upto 5% (8)</mat-checkbox><br>
                                <mat-checkbox >5% - 10% (7)</mat-checkbox><br>
                                <mat-checkbox >10% - 15% (3)</mat-checkbox><br>
                                <mat-checkbox >15% - 25% (1)</mat-checkbox>
</div> 
 </div> 

 <div style="width: 230px;height: 250px;background-color:transparent;margin-left: 80px;margin-top: 40px;position: relative;z-index: 1;">
 <h4 style="font-size: 16px;color: #222;margin-left: 10px;">Pack Size</h4>
<mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
<input type="text" placeholder="Search by Pack Size" style="width: 208px;margin-top: 3px;margin-left:6px;padding-left: 16px;"/>
 <img src="../../assets/images/search.png" style="margin-left: 186px;margin-top: -50px;">
 <div style="position: absolute;overflow-y:scroll;height: 160px;width: 200px;margin-left: 10px;margin-top: -20px;">
                                         <mat-checkbox >1 Pc</mat-checkbox><br>
                                         <mat-checkbox >3 Pc</mat-checkbox><br>
                                         <mat-checkbox >5 pc </mat-checkbox><br>
                                         <mat-checkbox >6 pc</mat-checkbox><br>
                                         <mat-checkbox >9 pc</mat-checkbox><br>
                                         <mat-checkbox >12 pcs</mat-checkbox><br>
                                         <mat-checkbox >1 lt</mat-checkbox><br>
                                         <mat-checkbox >1.5 lt</mat-checkbox><br>
                                         <mat-checkbox >2 L</mat-checkbox><br>
 </div> 
 </div> 

 <div style="width: 230px;height: 50px;background-color:transparent;margin-left: 80px;margin-top:-20px;position: relative;z-index: 1;">
<h4 style="font-size: 16px;color: #222;margin-left: 10px;">Country Of Origin</h4>
<mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
 <div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
                            
                                       <mat-checkbox >China</mat-checkbox><br>
                                       <mat-checkbox >India</mat-checkbox><br>
 </div>
</div>

<div style="width: 230px;height: 240px;background-color:transparent;margin-left: 80px;margin-top:50px;position: relative;z-index: 1;">
    <h4 style="font-size: 16px;color: #222;margin-left: 10px;">Material</h4>
    <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
     <div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
                                
                                           <mat-checkbox >Plastic</mat-checkbox><br>
                                           <mat-checkbox >Steel</mat-checkbox><br>
     </div>
    </div>

    <mat-divider [vertical]="true" style="width: 300px;height: 1360px;margin-left: 20px;margin-top: -1320px;"></mat-divider>  
    <div style="width: 900px;height: 1450px;background-color: transparent;margin-left: 330px;margin-top: -1330px;">
    <h4 style="font: 24px ProximaNovaA;color:#58595b;">Bins & Bathware (9)</h4>
       <ul style="list-style-type: none;">
        <li style="margin-top: 40px;margin-left:-1px;">
        <a href="" style="color: #58595b!important;font-size: 12px;font-family: ProximaNovaA-Semibold;border-bottom: 2px solid #84c225;">ALL PRODUCTS</a>
        </li>
        </ul>
        <img src="../../assets/images/bus.png" style="margin-top:-60px"/>  
       <mat-divider style="margin-top: -30px;"></mat-divider> 
       <mat-card  style="width: 240px;height: 420px;margin-top: 20px;margin-left: 20px;">  
        <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
        <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 46% OFF</span> 
         <img src="../../assets/images/asterisk.png"/>
         </mat-toolbar> 
         <img src="../../assets/uploads/bb-home-premium-plastic-bathing-mug-red.png" style="margin-left: 40px;"/> 
         <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">BB Home</h6> 
          <ul style="list-style-type: none;">
          <li style="margin-top: -13px;margin-left: -30px;">
          <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Premium Plastic Bathing Mug - Red</a>
         </li>
         </ul> 
         <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">1 L</h6>
         <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: -10px;">
            <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 35</h6>
             <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 19</h4>  
             <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
                 <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
             <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
             <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
             <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
            <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
                 <img src="../../assets/images/grey-basket.png"/>
                 </button>
               </mat-card>
        </mat-card> 

<mat-card  style="width: 240px;height: 420px;margin-top: -420px;margin-left: 290px;">
 <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
 <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 46% OFF</span> 
  <img src="../../assets/images/asterisk.png"/>
     </mat-toolbar> 
<img src="../../assets/uploads/bb-home-premium-plastic-bathing-mug-green.png" style="margin-left: 40px;"/> 
<h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">BB Home</h6> 
 <ul style="list-style-type: none;">
 <li style="margin-top: -13px;margin-left: -30px;">
<a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Premium Plastic Bathing Mug - Green</a>
 </li>
 </ul> 
 <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">1 L</h6>
 <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: -10px;">
  <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 35</h6>
 <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 19</h4>  
 <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
   <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
 <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
 <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
 <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
 <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
 <img src="../../assets/images/grey-basket.png"/>
 </button>
 </mat-card>       
     </mat-card> 
     
  <mat-card  style="width: 240px;height: 420px;margin-top:-420px;margin-left: 560px;">
        <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
            <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 41% OFF</span> 
             <img src="../../assets/images/asterisk.png"/>
                </mat-toolbar> 
           <img src="../../assets/uploads/3-bb-home-premium-plastic-bathing-mug-red.png" style="margin-left: 40px;"/> 
           <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">BB Home</h6> 
            <ul style="list-style-type: none;">
            <li style="margin-top: -13px;margin-left: -30px;">
           <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Premium Plastic Bathing Mug - Red</a>
            </li>
            </ul> 
            <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">1 L</h6>
            <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: -10px;">
             <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 49</h6>
            <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 29</h4>  
            <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
              <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
            <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
            <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
            <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
            <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
            <img src="../../assets/images/grey-basket.png"/>
 </button>
     </mat-card>          
    </mat-card>  
    
    <mat-card  style="width: 240px;height: 410px;margin-top: 20px;margin-left: 20px;">
        <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
         <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 50% OFF</span> 
        <img src="../../assets/images/asterisk.png"/>
         </mat-toolbar>
         <img src="../../assets/uploads/bb-home-premium-plastic-bucket-green.png" style="margin-left: 40px;"/> 
         <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">BB Home</h6> 
          <ul style="list-style-type: none;">
          <li style="margin-top: -13px;margin-left: -30px;">
         <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Premium Plastic Bucket - Green</a>
          </li>
          </ul> 
          <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">16 L</h6>
          <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: -10px;">
           <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 209</h6>
          <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 149</h4>  
          <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
            <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
          <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
          <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
          <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
          <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
          <img src="../../assets/images/grey-basket.png"/>
</button>
   </mat-card>         
    </mat-card>  
    
    <mat-card  style="width: 240px;height: 410px;margin-top: -410px;margin-left: 290px;">
        <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
            <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 50% OFF</span> 
           <img src="../../assets/images/asterisk.png"/>
            </mat-toolbar>
            <img src="../../assets/uploads/bb-home-premium-plastic-bucket-red.png" style="margin-left: 40px;"/> 
            <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">BB Home</h6> 
             <ul style="list-style-type: none;">
             <li style="margin-top: -13px;margin-left: -30px;">
            <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Premium Plastic Bucket - Red</a>
             </li>
             </ul> 
             <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">16 L</h6>
             <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: -10px;">
              <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 209</h6>
             <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 149</h4>  
             <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
               <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
             <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
             <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
             <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
             <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
             <img src="../../assets/images/grey-basket.png"/>
   </button>
      </mat-card>               
   </mat-card> 
   
   <mat-card  style="width: 240px;height: 410px;margin-top:-410px;margin-left: 560px;">
    <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
        <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 49% OFF</span> 
       <img src="../../assets/images/asterisk.png"/>
        </mat-toolbar>
        <img src="../../assets/uploads/3-bb-home-premium-plastic-bucket-green.png" style="margin-left: 40px;"/> 
        <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">BB Home</h6> 
         <ul style="list-style-type: none;">
         <li style="margin-top: -13px;margin-left: -30px;">
        <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Premium Plastic Bucket - Green</a>
         </li>
         </ul> 
         <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">20 L</h6>
         <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: -10px;">
          <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 349</h6>
         <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 179</h4>  
         <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
           <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
         <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
         <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
         <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
         <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
         <img src="../../assets/images/grey-basket.png"/>
</button>
  </mat-card>             
 </mat-card>      

 <mat-card class="pedigree" style="width: 240px;height: 420px;margin-left: 20px;margin-top: 20px;">
    <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
    <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 28% OFF</span> 
    <img src="../../assets/images/asterisk.png"/>
    </mat-toolbar> 
    <img src="../../assets/uploads/aristo-dyna-printed-plastic-bathroom-set-deluxe-assorted-colour.png" style="margin-left: 40px;"/> 
    <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Aristo</h6> 
     <ul style="list-style-type: none;">
     <li style="margin-top: -13px;margin-left: -30px;">
    <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Dyna Printed Plastic Bathroom Set Deluxe - Assorted Colour</a>
     </li>
     </ul> 
     <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">6 pcs</h6>
     <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: -10px;">
      <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 1387</h6>
     <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 199</h4>  
     <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
       <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
     <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
     <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
     <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
     <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
     <img src="../../assets/images/grey-basket.png"/>
</button>
</mat-card>    
  </mat-card>
  
  <mat-card class="pedigree" style="width: 240px;height: 420px;margin-left: 290px;margin-top: -420px;">
    <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
        <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 24% OFF</span> 
        <img src="../../assets/images/asterisk.png"/>
        </mat-toolbar> 
        <img src="../../assets/uploads/nakoda-pixel-patla-bathroom-plastic-stool-big-assorted-colour.png" style="margin-left: 40px;"/> 
        <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Nakoda</h6> 
         <ul style="list-style-type: none;">
         <li style="margin-top: -13px;margin-left: -30px;">
        <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Pixel Patla Bathroom Plastic Stool - Big, Assorted Colour</a>
         </li>
         </ul> 
         <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">1 pc</h6>
         <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: -10px;">
          <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 474</h6>
         <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 359</h4>  
         <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
           <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
         <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
         <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
         <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
         <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
         <img src="../../assets/images/grey-basket.png"/>
    </button>
    </mat-card>      
   </mat-card>   

   <mat-card class="pedigree" style="width: 240px;height: 420px;margin-left: 560px;margin-top: -420px;">
    <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
        <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 38% OFF</span> 
        <img src="../../assets/images/asterisk.png"/>
        </mat-toolbar> 
        <img src="../../assets/uploads/joyo-comfort-bathroom-stool-plasticpatla-plain-big-assorted.png" style="margin-left: 40px;"/> 
        <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Joyo</h6> 
         <ul style="list-style-type: none;">
         <li style="margin-top: -13px;margin-left: -30px;">
        <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Comfort Bathroom Stool Plastic/Patla - Plain, Big, Assorted</a>
         </li>
         </ul> 
         <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">1 pc</h6>
         <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: -10px;">
          <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 255</h6>
         <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 219</h4>  
         <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
           <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
         <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
         <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
         <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
         <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
         <img src="../../assets/images/grey-basket.png"/>
    </button>
    </mat-card>       
   </mat-card>    
    </div>       