<div class="location" style="background-color: transparent;width: 300px;">
<p style="color:#4a4a4a;font-size:14px">Select your city to start shopping</p>
<mat-form-field id="text"  style="margin-top:-10px;width: 280px;">
<mat-label>select city</mat-label>
    <mat-select >
      <mat-option>None</mat-option>
      <mat-option  value="ahemmadabad">Ahemmadabad</mat-option>
      <mat-option value="bangalore">Bangalore</mat-option>
      <mat-option value="bhopal">Bhopal</mat-option>
      <mat-option value="chennai">Chennai</mat-option>
      <mat-option value="coimbatore">Coimbatore</mat-option>
      <mat-option value="delhi">Delhi</mat-option>
      <mat-option value="eluru">Eluru</mat-option>
      <mat-option value="gurgaon">Gurgaon</mat-option>
      <mat-option value="hosur">hosur</mat-option>
      <mat-option value="hyderabad">Hyderabad</mat-option>
      <mat-option value="indore">Indore</mat-option>
      <mat-option value="jaipure">Jaipure</mat-option>
      <mat-option value="kanpur">Kanpur</mat-option>
      <mat-option value="kochi">Kochi</mat-option>
      <mat-option value="kolkata">Kolkata</mat-option>
      <mat-option value="lucknow">Lucknow</mat-option>
      <mat-option value="meerut">Meerut</mat-option>
      <mat-option value="mumbai">Mumbai</mat-option>
      <mat-option value="mysore">Mysore</mat-option>
      <mat-option value="mumbai">Mumbai</mat-option>
      <mat-option value="nagpure">nagpure</mat-option>
      <mat-option value="pune">Pune</mat-option>
    </mat-select>
  </mat-form-field>
  
  <input type="search" class="search" placeholder="Enter your area / apartment / pincode " style="width:280px;height: 30px;margin-top:-10px;margin-left:5px;border: 1px solid;"/>
<button mat-button mat-dialog-close="true" style="background-color: #6ca516;margin-top: 10px;margin-left: 85px;color: white;">Continue</button>

</div>