.h1{
    font-size: 30px;
    font-family: inherit;
    color: inherit;
    font-weight: 500;
    line-height: 1.1;
    
}
.about{
    text-decoration: none;
    margin-left:-19px; 
}

.fontsize{
    margin-left: 30px;
    margin-top: 27px;
}

h4{
    color: #6cd138;
    font-size: 18px;
    font-family: ProximaNovaA-Semibold;
    margin-left: 20px;
}
.about{
    text-decoration: none;
    margin-left:-19px;
    color: gray;
    font-family: ProximaNovaA-Regular;
    font-size: 16px;
    
}
.about:hover{
    color:#096;
}
.news{
    text-decoration: none;
    margin-left:-19px; 
    color: gray;
    font-family: ProximaNovaA-Regular;
    font-size: 16px;
}
.news:hover{
    color: #096;
}

.green{
    text-decoration: none;
    margin-left:-19px; 
    color: gray;
    font-family: ProximaNovaA-Regular;
    font-size: 16px;
}
.green:hover{
    color: #096;
}
.privacy{
    text-decoration: none;
    margin-left:-19px; 
    color:gray;
    font-family: ProximaNovaA-Regular;
    font-size: 16px;
}
.privacy:hover{
    color: #096;
}
.afiliate{
    text-decoration: none;
    margin-left:-19px;
    color: #6B6868; 
    font-family: ProximaNovaA-Regular;
    font-size: 16px;
}
.afiliate:hover{
    color: #096;
}
.terms{
    text-decoration: none;
    margin-left:-19px; 
    color: gray;
    font-family: ProximaNovaA-Regular;
    font-size: 16px;
}
.terms:hover{
    color: #096;
}
.careers{
    text-decoration: none;
    margin-left:-19px;
    color: gray; 
    font-family: ProximaNovaA-Regular;
    font-size: 16px;
}
.careers:hover{
    color: #096;
}
.bb{
    text-decoration: none;
    margin-left:-19px; 
    color: gray;
    font-family: ProximaNovaA-Regular;;
    font-size: 16px;
}
.bb:hover{
    color:#096;
}
.daily{
    text-decoration: none;
    margin-left:-19px; 
    color: gray;
    font-family: ProximaNovaA-Regular;
    font-size: 16px;
}
.daily:hover{
    color: #096;
}
.faq{
    text-decoration: none;
    margin-left: -15px;
    color: gray;
    font-family: ProximaNovaA-Regular;
    font-size: 16px;
}
.faq:hover{
    color: #096;
}
.contact{
    text-decoration: none;
    margin-left:-19px; 
    color: gray;
    font-family: ProximaNovaA-Regular;
    font-size: 16px;
}
.contact:hover{
    color: #096;
}
.wallet{
    text-decoration: none;
    margin-left:-19px; 
    color: gray;
    font-family: ProximaNovaA-Regular;
    font-size: 16px;
}
.wallet:hover{
    color: #096;
}
.wal{
    text-decoration: none;
    margin-left:-19px; 
    color: gray;
    font-family: ProximaNovaA-Regular;
    font-size: 16px;
}
.wal:hover{
    color: #096;
}
.vendor{
    text-decoration: none;
    margin-left:-19px; 
    color: gray;
    font-family: ProximaNovaA-Regular;
    font-size: 16px;
}
.vendor:hover{
    color: #096;
}

.footer ul li a{
    text-decoration: none;
    color: gray;
    font-size: 14px;
}
.footer ul li a:hover{
    color:#096 ;
}

.cashon{
    margin-top: -5px;
}

@media screen and (max-width: 425px) {
    .footer-section{
        max-width: 400px;
        overflow-x: hidden;
        
    }
    .about-news-privacy{
        max-height: 800px;
    }
    #bigbasket{
        margin-left: -80px;
    }
    #about-news{
        margin-left: -90px;
    }
    .help{
        margin-left: -180px;
    }
    .contact-faq{
        margin-left: -200px;    
    }   
    .download-app{
        margin-left: -640px;
        font-size: 16px;
        margin-top: 300px;
    }
    .google-img{
        margin-left: -670px;
    }
    .get-social{
        width: 200px;
        margin-left: -780px;
        font-size: 16px;
    }
    .fb-pin{
        margin-left: -790px;
    }
    .security{
       display: none;
    }
    mat-divider{
        margin-top: -160px;
        width: 100%;
    }
    .popular{
        margin-left: 20px;
        margin-top: -20px;
    }
    .categories{
        max-width: 600px;
        margin-left: -290px;
        margin-top: 30px;
        max-height: 70px;
        font-size: 3px;
    }
    .brands{
        font-size: 10px;
        margin-top: 40px;
        height: 47px;
    }
    .popular-brands{
        max-width: 600px;
        margin-left: -290px;
        margin-top: 70px;
        max-height: 150px;
    }
    .cities{
        font-size: 10px;
        margin-left: -40px;
        height: 47px;
    }
    .cities-we-have{
        max-width: 600px;
        margin-left: -290px;
    }
    .payment-options{
        display:none;
    }
    .copy{
        width: 100%;
    }
    .copy-right{
        width: 100%;
       margin-right: 50px;
    }
     
}
@media screen and (max-width:385px){
    .fb-pin{
        margin-left: -805px;
    }
    .categories{
        max-width: 570px;
        margin-left: -290px;
        margin-top: 30px;
        max-height: 70px;
        font-size: 3px;
    }
    .popular-brands{
        max-width: 570px;
        margin-left: -290px;
        margin-top: 70px;
        max-height: 150px;
    }
    .cities-we-have{
        max-width: 570px;
        margin-left: -290px;
    }
    
}
@media screen and (max-width: 365px){
    .fb-pin{
        margin-left: -820px;
    }

}
@media screen and (max-width: 320px){
    .help{
        margin-left: -250px;
    }
    .contact-faq{
        margin-left: -260px;    
    }  
    .fb-pin{
        margin-left: -808px;
        max-width: 210px;
    }
    .categories{
        max-width: 570px;
        margin-left: -290px;
        margin-top: 30px;
        max-height: 70px;
        font-size: 3px;
    }
}
@media screen and (min-width:426px) and (max-width:800px){
    .footer-section{
        overflow-x: hidden;
        max-width: 800px;
        
    }
    .about-news-privacy{
        max-height: 700px;
    }
    #bigbasket{
        margin-left: -80px;
    }
    #about-news{
        margin-left: -90px;
    }
    .help{
        margin-left: -180px;
    }
    .contact-faq{
        margin-left: -200px;    
    }   
    .download-app{
        margin-left: -260px;
        font-size: 16px;
        margin-top: -10px;
    }
    .google-img{
        margin-left: -280px;
    }
    .get-social{
        width: 200px;
        margin-left: -370px;
        font-size: 16px;
    }
    .fb-pin{
        margin-left: -420px;
    }
    .security{
       display: none;
    }
    mat-divider{
        display: none;
    }
    .popular{
        margin-left: 20px;
        margin-top: 20px;
    }
    .categories{
        max-width: 880px;
        margin-left: -290px;
        margin-top: 30px;
        max-height: 70px;
        font-size: 10px;
    }
    .brands{
        font-size: 10px;
        margin-top: -10px;
        height: 47px;
    }
    .popular-brands{
        max-width: 850px;
        margin-left: -290px;
        margin-top: 70px;
        max-height: 150px;
    }
    .cities{
        font-size: 10px;
        margin-left: -40px;
        height: 47px;
    }
    .cities-we-have{
        max-width: 850px;
        margin-left: -290px;
    }
    .payment-options{
        display:block;
        margin-top: 50px;
    }
    .payment{
        margin-top: 40px;
    }
    #cash-on{
        margin-left: -230px;
        margin-top: 30px;
    }
    .cashon{
        margin-left: -230px;
    }
    .visa{
        margin-left: -180px;
    }
    .copy{
        width: 100%;
    }
    .copy-right{
        width: 100%;
       margin-right: 50px;
    }
     
}  
