
<div class="footer-section" style="height: 100%;">
<div class="about-news-privacy" style="width: 1180px;height: 350px;background-color: transparent;margin-left: 60px;">
    <div class="footer1" style="width: 200px;height: 320px;background-color: transparent;margin-left:30px ;margin-top: 30px;">
   <h4 id="bigbasket">bigbasket</h4>
   <ul id="about-news" style="list-style-type: none;">
       <li style="margin-top: -5px;">
           <a href="#" class="about" >About Us</a>
       </li>
       <li style="margin-top: 10px;">
           <a href="#" class="news">In News</a>
       </li>
       <li style="margin-top: 10px;">
           <a href="#" class="green">Green bigbasket</a>
       </li>
       <li style="margin-top: 10px;">
           <a href="#" class="privacy">Privacy Policy</a>
       </li>
       <li style="margin-top: 10px;">
           <a href="#" class="afiliate">Affiliate</a>
       </li>
       <li style="margin-top: 10px;">
           <a href="#" class="terms">Terms and Conditions</a>
       </li>
       <li style="margin-top: 10px;">
        <a href="#" class="careers">Careers At Bigbasket</a>
    </li>
    <li style="margin-top: 10px;">
        <a href="#" class="bb">bb Instant</a>
    </li>
    <li style="margin-top: 10px;">
        <a href="#" class="daily">bb Daily</a>
    </li>
   </ul>
    </div>

    <div style="width:200px;height: 320px;background-color:transparent;margin-left: 350px;margin-top:-320px">
  <h4 class="help">Help</h4>
  <ul class="contact-faq" style="list-style-type: none;">
  <li style="margin-top: -5px;">
      <a href="#" class="faq">FAQs</a>
  </li>
  <li style="margin-top: 10px;">
    <a href="#" class="contact">Contact Us</a>
</li>
<li style="margin-top: 10px;">
    <a href="#" class="wallet">bb Wallet FAQs</a>
</li>
<li style="margin-top: 10px;">
    <a href="#" class="wal">bb Wallet T&Cs </a>
</li>
<li style="margin-top: 10px;">
    <a href="#" class="vendor">Vendor Connect</a>
</li>
</ul>
    </div>
    <div class="download" style="width: 200px;height: 320px;background-color: transparent;margin-left: 600px;margin-top: -320px;">
        <h4 class="download-app">Download Our App</h4>
        <ul class="google-img" style="list-style-type: none;">
            <li style="margin-left: -19px;">
                <a href="">
                    <img src="../../assets/images/Google-App-store-icon.png" alt="" width="150px"/>
                </a>
            </li>
            <li style="margin-left: -19px;">
                <a href="">
                    <img src="../../assets/images/Apple-App-store-icon.png" alt="" width="150px" style="margin-top:8px;"/>
                </a>
            </li>
            </ul>

</div>
<div class="social" style="width: 250px;height: 320px;background-color: transparent;margin-left: 900px;margin-top: -320px;">
<h4 class="get-social">Get Social With Us</h4>
<ul class="fb-pin" style="list-style-type: none;">
    <li style="display: inline;margin-left: -19px;">
        <a href="">
            <img src="../../assets/images/fb.png" alt="fb" width="45px" height="45px"/>
        </a>
        <a href="">
            <img src="../../assets/images/pin.png" alt="pintrest" width="45px" height="45px" style="margin-left:10px ;"/>
        </a>
        <a href="">
            <img src="../../assets/images/unnamed.png" id="twitter" width="45px" height="45px" style="margin-left:10px ;"/>
        </a>
        <a href="">
            <img src="../../assets/images/images.jpg" id="insta" width="45px" height="45px" style="margin-left:10px ;"/>
        </a>
    </li>
    <li style="display: inline;margin-left: -19px;">
        <a href=""  >
            <img src="../../assets/images/vulnerability-scanner-2.gif" class="security"  style="margin-top:10px ;margin-left:10px;"/>
        </a>
        </li>
    </ul>
</div>
<mat-divider style="width: 1060px;margin-left: 50px;"></mat-divider>
<div class="footer" style="width:1180px;height: 200px;background-color:transparent;margin-top: 16px;margin-left: 40px;">
    <h4 class="popular" style="color:#6cd138 ;font-size: 14px;font-family:ProximaNovaA-Semibold ;">POPULAR CATEGORIES:</h4>
    <div class="categories"  style="width:1140px ;height: 52px;background-color: transparent;">
        
        <ul   style="list-style-type: none;margin-left: 170px;margin-top:-36px ;">
            <li  style="display: inline;">
         <a href="#"  >Fruits & Vegetables,
         </a>
            </li>
            <li style="display: inline;">
                <a href="#">Basmati Rice,</a>
            </li>
            <li style="display: inline;">
                <a href="#"> Green Tea,</a>
            </li>
            <li style="display: inline;">
                <a href="#"> OTC,</a>
            </li>
            <li style="display: inline;">
                <a href="#"> Cheese,</a>
            </li>
            <li style="display: inline;">
                <a href="#"> Dry Fruits,</a>
            </li>
            <li style="display: inline;">
                <a href="#"> Food Grains,</a>
            </li>
            <li style="display: inline;">
                <a href="#"> Oil & Masala,</a>
            </li>
            <li style="display: inline;">
                <a href="#"> chocolates & Sweets,</a>
            </li>
            <li style="display: inline;">
                <a href="#"> Soft Drinks,</a>
            </li>
            <li style="display: inline;">
                <a href="#"> Energy Drinks,</a>
            </li>
            <li style="display: inline;">
                <a href="#"> Bakery,</a>
            </li>
            <li style="display: inline;">
                <a href="#"> Cakes & Dairy,</a>
            </li>
            <li style="display: inline;">
                <a href="#"> Olive Oils,</a>
            </li>
            <li style="display: inline;">
                <a href="#"> Sunflower Oils,</a>
            </li>
            <li style="display: inline;">
                <a href="#"> Liquid Soaps & Bars,</a>
            </li>
        </ul>
    </div>
    
        <h4 class="brands" style="color:#6cd138 ;font-size: 14px;font-family:ProximaNovaA-Semibold ;margin-left:14px ;">POPULAR BRANDS:</h4>
        <div class="popular-brands" style="width:1140px ;height: 52px;background-color: transparent;margin-top: 4px;">
        <ul style="list-style-type: none;margin-left: 170px;margin-top: -36px;">
            <li style="display: inline;">
         <a href="#" >bb Royal,
         </a>
            </li>
            <li style="display: inline;">
                <a href="#" > Amul,</a>
             </li>
             <li style="display: inline;">
                <a href="#" > Haldirams,</a>
             </li>
             <li style="display: inline;">
                <a href="#" > Tropicana,</a>
             </li>
             <li style="display: inline;">
                <a href="#" > Kelloggs,</a>
             </li>
             <li style="display: inline;">
                <a href="#" > Dettol,</a>
             </li>
             <li style="display: inline;">
                <a href="#" > MTR,</a>
             </li>
             <li style="display: inline;">
                <a href="#" > Bru,</a>
             </li>
             <li style="display: inline;">
                <a href="#" > McCain,</a>
             </li>
             <li style="display: inline;">
                <a href="#" > Ariel,</a>
             </li>
             <li style="display: inline;">
                <a href="#" > Britania,</a>
             </li>
             <li style="display: inline;">
                <a href="#" > Nescafe,</a>
             </li>
             <li style="display: inline;">
                <a href="#" > Colgate,</a>
             </li>
             <li style="display: inline;">
                <a href="#" > Horlicks,</a>
             </li>
             <li style="display: inline;">
                <a href="#" > Galaxy,</a>
             </li>
             <li style="display: inline;">
                <a href="#" > Complan,</a>
             </li>
            </ul>
        </div>
        <h4 class="cities" style="color:#6cd138 ;font-size: 14px;font-family:ProximaNovaA-Semibold ;margin-left:14px ;">CITIES WE SERVE:</h4>
        <div class="cities-we-have" style="width:1091px ;height: 50px;background-color: transparent;margin-top: -15px;">
            <ul id="cities-serve" style="list-style-type: none;margin-left: 170px;margin-top: -40px;">
                <li style="display: inline;">
             <a href="#" >Bangalore,
             </a>
                </li>
         <li style="display: inline;">
         <a href="#" > Hyderabad,
         </a>
        </li>
        <li style="display: inline;">
        <a href="#" > Mumbai,
        </a>
          </li>
         <li style="display: inline;">
         <a href="#" > Pune,
              </a>
              </li>
         <li style="display: inline;">
         <a href="#" > Chennai,
         </a>
          </li>
         <li style="display: inline;">
         <a href="#" > Delhi,
         </a>
          </li>
         <li style="display: inline;">
         <a href="#" > Mysore,
         </a>
           </li>
         <li style="display: inline;">
        <a href="#" > Coimbatore,
     </a>
      </li>
    <li style="display: inline;">        
        <a href="#" > Vijayawada-Guntur,
        </a>
     </li>
     <li style="display: inline;">        
        <a href="#" > Kolkata,
        </a>
     </li>
     <li style="display: inline;">        
        <a href="#" > Ahmedabad-Gandhinagar,
        </a>
     </li>
     <br>
     <li style="display: inline;">        
        <a href="#" > Lucknow-Kanpur,
        </a>
     </li>
     <li style="display: inline;">        
        <a href="#" > Gurgaon,
        </a>
     </li>
     <li style="display: inline;">        
        <a href="#" > Vadodara,
        </a>
     </li>
     <li style="display: inline;">        
        <a href="#" > Visakhapatnam,
        </a>
     </li>
     <li style="display: inline;">        
        <a href="#" > Surat,
        </a>
     </li>
     <li style="display: inline;">        
        <a href="#" > Nagpur,
        </a>
     </li>
     <li style="display: inline;">        
        <a href="#" > Patna,
        </a>
     </li>
     <li style="display: inline;">        
        <a href="#" > Indore,
        </a>
     </li>
     <li style="display: inline;">        
        <a href="#" > Chandigarh Tricity,
        </a>
     </li>
     <li style="display: inline;">        
        <a href="#" > Jaipur,
        </a>
     </li>
     <li style="display: inline;">        
        <a href="#" > Bhopal,
        </a>
     </li>
     <li style="display: inline;">        
        <a href="#" > Noida-Ghaziabad,
        </a>
     </li>
     <li style="display: inline;">        
        <a href="#" > Kochi,
        </a>
     </li>
     </ul>
     </div>
    <div class="payment-options" style="margin-top: 20px;">
     <h4 class="payment" style="color:#6cd138 ;font-size: 14px;font-family:ProximaNovaA-Semibold ;margin-left:14px ;">PAYMENT OPTIONS:</h4>
     <ul  style="list-style-type: none;margin-left: 170px;margin-top: -30px;">
        <li id="cash-on" style="display: inline;color: gray;font-size: 11PX;display: block;font-weight: bold;">
            CASH ON 
     </li>
     <li class="cashon" style="display: inline;color: gray;font-size: 11PX;display: block;font-weight: bold; ">
        DELIVERY</li>   
     </ul>
     <ul  class="visa">
        <li style="display: inline;">
            <img src="../../assets/images/visa.png" style="margin-left: 230px;margin-top: -90px;"/>
        </li>
        <li style="display: inline;">
            <img src="../../assets/images/master.png" style="margin-left:10px;margin-top: -90px;"/>
        </li>
        <li style="display: inline;">
            <img src="../../assets/images/paytm.png" style="margin-left:1px;margin-top: -90px;"/>
        </li>
        <li style="display: inline;">
            <img src="../../assets/images/mobikwik.jpg" style="margin-left:-8px;margin-top: -90px;"/>
        </li>
        <li  style="display: inline;">
            <img src="../../assets/images/rupay.png" id="rupay" style="margin-top:-90px;margin-left:1px;width: 120px;" />
        </li>
        <li style="display: inline;">
            <img src="../../assets/images/american.png" style="margin-top:-90px;margin-left:1px;width: 50px;" />
        </li>
     </ul>
    </div>
    <div id="copy"  style="background-color: lightgrey;margin-top: 88px;width:1350px;height: 30px;margin-left: -100px;">
   <p class="copy-right" style="margin-left:120px;color: gray;font-size: 12px;margin-top:35px;"> Copyright © 2019-2021 Supermarket Grocery Supplies Pvt Ltd</p>
</div>
</div>

</div>
