.home{
    color: #808285;
    font: 400 10px/11px Lato,sans-serif;
}
.home:hover{
    color: #096;
}
a{
    text-decoration: none;
    color: #666;
    font-size: 14px;
}
a:hover{
    color: #096;
}
li{
    margin-left: 14px;
    margin-top: 3px;
}
mat-checkbox:hover{
    color: #096;
    
}
@media screen and (max-width:425px){
    .mask-gloves{
        overflow-x: hidden;
    }
    .category{
        display: none;
    }
    mat-checkbox{
        display: none;
    }
    mat-divider{
        display: none;
    }
    #category{
        display: none;
    }
    #brand-title{
        display: none;
    }
    #search-brand{
        display: none;
    }
    #search-icon{
        display: none;
    }
    #price-title{
        display: none;
    }
    #discount{
        display: none;
    }
    .country{
        display: none;
    }
    #pack-size{
        display: none;
    }
    .mask{
        margin-left: -310px;
        margin-top: 320px;
    }
    #all-products{
        margin-left: -250px;
        margin-top: 20px;
    }
    #bus-img{
        margin-left: -270px;
    }
    .banner-section{
        max-width: 400px;
        height:400vh;
    }
    .light{
        margin-top: 10px;
        margin-left: -260px;
    }
    .finger{
        margin-left: -530px;
        margin-top: 460px;    
    }
    .medical{
        margin-left: -800px;
        margin-top: 460px;
    }
    .face-shield{
        margin-left: -260px;
        margin-top: -10px; 
    }
    .face-mask{
        margin-left: -530px;
        margin-top: 460px;   
    }
    .valve{
        margin-top: 455px;
        margin-left: -800px;
    }
}
@media screen and (max-width:385px){
    .banner-section{
        max-width: 400px;
        height:360vh;
    }
}
    @media screen and (max-width:360px){
        .banner-section{
            max-width: 400px;
            height:450vh;
        } 
    }
    @media screen and (max-width:320px){
        .light{
            margin-top: 10px;
            margin-left: -320px;
        }
        .finger{
            margin-left: -590px;
            margin-top: 460px;    
        }
        .medical{
            margin-left: -860px;
            margin-top: 460px;
        }
        .face-shield{
            margin-left: -320px;
            margin-top: -10px; 
        }
        .face-mask{
            margin-left: -590px;
            margin-top: 460px;   
        }
        .valve{
            margin-top: 455px;
            margin-left: -860px;
        }
    }   
    @media screen and (min-width:426px) and (max-width:800px){
        .mask-gloves{
            overflow-x: hidden;
        }
        .category{
            display: none;
        }
        mat-checkbox{
            display: none;
        }
        mat-divider{
            display: none;
        }
        #category{
            display: none;
        }
        #brand-title{
            display: none;
        }
        #search-brand{
            display: none;
        }
        #search-icon{
            display: none;
        }
        #price-title{
            display: none;
        }
        #discount{
            display: none;
        }
        .country{
            display: none;
        }
        #pack-size{
            display: none;
        }
        .mask{
            margin-left: -110px;
            margin-top: 320px;
        }
        #all-products{
            margin-left: -150px;
            margin-top: 20px;
        }
        #bus-img{
            margin-left: -170px;
        }
        .banner-section{
            max-width: 400px;
            height:110vh;
        }
        .light{
            margin-top: 10px;
            margin-left: -340px;
        }
        .finger{
            margin-left: -360px;
            margin-top: -10px;    
        }
        .medical{
            margin-left: -380px;
            margin-top: -10px;
        }
        .face-shield{
            margin-left: -340px;
            margin-top: -10px; 
        }
        .face-mask{
            margin-left: -360px;
            margin-top: -18px;   
        }
        .valve{
            margin-top: -18px;
            margin-left: -380px;
        }

    }

