<div class="mask-gloves">
<a href="http://localhost:4200/" class="home"  style="text-decoration: none;margin-left: 90px;">HOME ></a>
<h6 style="color: #808285;margin-left:140px;margin-top: -20px;">MASK & GLOVES</h6>
<div class="category" style="background-color:transparent;width: 270px;height: 250px;margin-left: 90px;margin-top: -40px;">
    <h4 id="category" style="margin-top: 70px;font-size: 16px;color: #222;">Categories</h4>
    <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
<ul style="display: inline;list-style-type:none;">
    <li style="margin-top:-20px;">
     <a href="">Beauty & Hygiene</a>
 </li>
     <li>
     <a href="">Health & Medicine (30)</a>
 </li>
 </ul>
</div>

<div class="brand" style="width: 230px;height: 250px;background-color:transparent;margin-left: 80px;margin-top: -160px;position: relative;z-index: 1;">
    <h4 id="brand-title" style="font-size: 16px;color: #222;margin-left: 10px;">Brand</h4>
    <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider> 
    <input type="text" placeholder="Search by Brand" id="search-brand" style="width: 208px;margin-top: 3px;margin-left:4px;padding-left: 16px;"/>
<img src="../../assets/images/search.png" id="search-icon" style="margin-left: 186px;margin-top: -50px;">
<div style="position: absolute;overflow-y:scroll;height: 180px;width: 200px;margin-left: 10px;margin-top: -10px;">
    <mat-checkbox >Abilities</mat-checkbox><br>
    <mat-checkbox >Aerostar</mat-checkbox><br> 
    <mat-checkbox >FabAlley</mat-checkbox><br>
    <mat-checkbox >Floh</mat-checkbox><br> 
    <mat-checkbox >Kawach</mat-checkbox><br>
    <mat-checkbox >KCL</mat-checkbox><br> 
    <mat-checkbox >KNM</mat-checkbox><br>
    <mat-checkbox >Peter England</mat-checkbox><br> 
    <mat-checkbox >SHAMROCK</mat-checkbox><br>
    <mat-checkbox >SwiftT </mat-checkbox><br> 
    <mat-checkbox >BASE</mat-checkbox><br>
    </div>
</div>

<div style="width: 230px;height: 130px;background-color:transparent;margin-left: 80px;margin-top: 10px;position: relative;z-index: 1;">
    <h4 id="price-title" style="font-size: 16px;color: #222;margin-left: 10px;">Price</h4>
    <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
    
<div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
    <mat-checkbox >Rs 51 to Rs 100 (1)</mat-checkbox><br>
    <mat-checkbox >Rs 101 to Rs 200 (2)</mat-checkbox><br>
    <mat-checkbox >Rs 201 to Rs 500 (2)</mat-checkbox><br>
    <mat-checkbox >More than Rs 501 (25)</mat-checkbox><br>
   </div> 
</div>

<div style="width: 230px;height: 130px;background-color:transparent;margin-left: 80px;margin-top: 38px;position: relative;z-index: 1;">
    <h4 id="discount" style="font-size: 16px;color: #222;margin-left: 10px;">Discount</h4>
    <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
    
<div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
    <mat-checkbox >15% - 25% (3)</mat-checkbox><br>
    <mat-checkbox >More than 25% (5)</mat-checkbox><br>
   </div> 
</div>

<div style="width: 230px;height: 250px;background-color:transparent;margin-left: 80px;margin-top: -20px;position: relative;z-index: 1;">
    <h4 id="pack-size" style="font-size: 16px;color: #222;margin-left: 10px;">Pack Size</h4>
    <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
    <input type="text" placeholder="Search by Pack Size" id="search-icon" style="width: 208px;margin-top: 3px;margin-left:6px;padding-left: 16px;"/>
<img src="../../assets/images/search.png" id="search-brand" style="margin-left: 186px;margin-top: -50px;">
<div style="position: absolute;overflow-y:scroll;height: 100px;width: 200px;margin-left: 10px;margin-top: -20px;">
    <mat-checkbox >1 pc</mat-checkbox><br>
    <mat-checkbox >2 pcs</mat-checkbox><br>
    <mat-checkbox >3 pcs</mat-checkbox><br>
    <mat-checkbox >100 pcs</mat-checkbox><br>
   </div> 
</div>

<div class="country" style="width: 230px;height: 250px;background-color:transparent;margin-left: 80px;margin-top:-90px;position: relative;z-index: 1;">
    <h4 style="font-size: 16px;color: #222;margin-left: 10px;">Country Of Origin</h4>
    <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
    
<div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
    <mat-checkbox >India</mat-checkbox><br>
</div>
</div>

<mat-divider [vertical]="true" style="width: 300px;height: 930px;margin-left: 20px;margin-top: -1060px;"></mat-divider>  
<div class="banner-section" >
<div style="width: 900px;height: 1080px;background-color: transparent;margin-left: 330px;margin-top: -920px;">
    <h4 class="mask" style="font: 24px ProximaNovaA;color:#58595b;">Masks & Gloves (6)</h4>
<ul id="all-products" style="list-style-type: none;">
 <li style="margin-top: 10px;margin-left:-1px;">
 <a href="" style="color: #58595b!important;font-size: 12px;font-family: ProximaNovaA-Semibold;border-bottom: 2px solid #84c225;">ALL PRODUCTS</a>
 </li>
 </ul>
 <img src="../../assets/images/bus.png" id="bus-img" style="margin-top:-60px"/>  
 <mat-divider style="margin-top: -30px;"></mat-divider>
 <div class="light">
 <mat-card  style="width: 240px;height: 450px;margin-top: 20px;margin-left: 20px;">
 <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
 <span style="color: #ba5253;font-size: 10px;margin-left:110px;"> GET 28% OFF </span> 
 <img src="../../assets/images/asterisk.png"/>
 </mat-toolbar>
 <img src="../../assets/images/4mate-portable-uv-light-8w-ultraviolet-sanitiser-lamp-room-germicidal-disinfection.jpg" style="margin-left: 40px;"/> 
<h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">UV Mate</h6>
<ul style="list-style-type: none;">
<li style="margin-top: -13px;margin-left: -30px;">
<a href="" style="font-size:13px;color:#000;margin-top: -30px;">Portable UV Light 8W Ultraviolet Sanitiser Lamp Room Germicidal Disinfection</a>
</li>
</ul>
<h6 style="font-size: 12px;color:#999 ;margin-left:-5px;margin-top: -10px;">1 pc</h6> 
<mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 10px;">
    <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 4999 </h6>
    <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 3599</h4>  
    <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
  <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
  <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
 <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
 <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
 <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
    <img src="../../assets/images/grey-basket.png"/>
</button>
    </mat-card>
</mat-card>
</div>
<div class="finger">
<mat-card  style="width: 240px;height: 450px;margin-top: -450px;margin-left: 290px;">
<mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
 <span style="color: #ba5253;font-size: 10px;margin-left:110px;"> GET 17% OFF </span> 
<img src="../../assets/images/asterisk.png"/>
 </mat-toolbar>
 <img src="../../assets/images/disposable-finger-gloves.jpg" style="margin-left: 40px;"/> 
 <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">KCL</h6> 
 <ul style="list-style-type: none;">
 <li style="margin-top: -13px;margin-left: -30px;">
 <a href="" style="font-size:13px;color:#000;margin-top: -30px;">Disposable Finger Gloves</a>
 </li>
 </ul>
 <h6 style="font-size: 12px;color:#999 ;margin-left:-5px;margin-top: -10px;">100 pcs</h6> 
 <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 40px;">
<h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 1200 </h6>
<h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 999</h4>  
<img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
<span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
<h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
 <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
 <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
 <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
    <img src="../../assets/images/grey-basket.png"/>
</button>
    </mat-card>
 </mat-card>
</div>
<div class="medical">
 <mat-card  style="width: 240px;height: 450px;margin-top:-448px;margin-left: 560px;">
    <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
    <span style="color: #ba5253;font-size: 10px;margin-left:110px;"> GET 13% OFF</span> 
<img src="../../assets/images/asterisk.png"/>
</mat-toolbar>
<img src="../../assets/images/medical-face-shield-break-resistant.jpg" style="margin-left: 40px;"/> 
 <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Aerostar</h6> 
 <ul style="list-style-type: none;">
 <li style="margin-top: -13px;margin-left: -30px;">
 <a href="" style="font-size:13px;color:#000;margin-top: -30px;">Medical Face Shield - Break Resistant</a>
 </li>
 </ul>
 <h6 style="font-size: 12px;color:#999 ;margin-left:-5px;margin-top: -10px;">1 pcs</h6> 
 <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 20px;">
 <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 400 </h6>
 <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 349</h4>  
 <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
<span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
 <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
 <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
 <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
  <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
     <img src="../../assets/images/grey-basket.png"/>
    </button>
        </mat-card>
 </mat-card>
</div>
<div class="face-shield">
 <mat-card  style="width: 240px;height: 450px;margin-top: 20px;margin-left: 20px;">
 <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
 <span style="color: #ba5253;font-size: 10px;margin-left:110px;"> SAVE Rs 5 </span> 
 <img src="../../assets/images/asterisk.png"/>
 </mat-toolbar>
 <img src="../../assets/images/tipoya-face-shield.jpg" style="margin-left: 40px;"/> 
 <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Tipoya</h6>
 <ul style="list-style-type: none;">
 <li style="margin-top: -13px;margin-left: -30px;">
 <a href="" style="font-size:13px;color:#000;margin-top: -30px;">Face Shield</a>
 </li>
</ul>
 <h6 style="font-size: 12px;color:#999 ;margin-left:7px;margin-top: -10px;">1 pc</h6> 
 <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 30px;">
 <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 200 </h6>
 <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 195</h4>  
 <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
<span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
<h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
<span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
 <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
 <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
 <img src="../../assets/images/grey-basket.png"/>
     </button>
  </mat-card>    
 </mat-card>
</div>
<div class="face-mask">
 <mat-card  style="width: 240px;height: 450px;margin-top: -450px;margin-left: 290px;">
    <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
     <span style="color: #ba5253;font-size: 10px;margin-left:110px;"> GET 54% OFF </span> 
    <img src="../../assets/images/asterisk.png"/>
     </mat-toolbar>
  <img src="../../assets/images/n95-face-mask-5-ply-assorted-colour.jpg" style="margin-left: 40px;"/> 
 <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: 10;">SHAMROCK</h6>
 <ul style="list-style-type: none;">
 <li style="margin-top: -13px;margin-left: -30px;">
 <a href="" style="font-size:13px;color:#000;margin-top: -30px;">N95 Face Mask - 5 Ply, Assorted Colour</a>
 </li>
 </ul>
<h6 style="font-size: 12px;color:#999 ;margin-left:-5px;margin-top: -10px;">10 x 15 cm (Pack of 3)</h6> 
<mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 10px;">
    <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 599 </h6>
    <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 275</h4>  
    <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
   <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
   <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
   <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
    <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
    <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
    <img src="../../assets/images/grey-basket.png"/>
        </button>
     </mat-card> 
 </mat-card>  
</div>
<div class="valve">
 <mat-card  style="width: 240px;height: 445px;margin-top:-448px;margin-left: 560px;">
    <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
    <span style="color: #ba5253;font-size: 10px;margin-left:110px;"> GET 50% OFF</span> 
<img src="../../assets/images/asterisk.png"/>
</mat-toolbar>
<img src="../../assets/images/n95-face-mask-with-valve-white.jpg" style="margin-left: 40px;"/> 
 <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: 10;">SHAMROCK</h6>
 <ul style="list-style-type: none;">
    <li style="margin-top: -13px;margin-left: -30px;">
    <a href="" style="font-size:13px;color:#000;margin-top: -30px;">N95 Face Mask With Valve - White</a>
    </li>
    </ul>
   <h6 style="font-size: 12px;color:#999 ;margin-left:-5px;margin-top: -10px;">10 x 15 cm (Pack of 1)</h6> 
 <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 20px;">
<h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 199 </h6>
<h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 99</h4>  
 <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
<span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
 <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
<span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
 <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
 <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
 <img src="../../assets/images/grey-basket.png"/>
 </button>
 </mat-card>  
</mat-card>
</div>
</div>
</div> 
</div>  