<a href="http://localhost:4200/" class="home"  style="text-decoration: none;margin-left: 90px;">HOME ></a>
<h6 style="color: #808285;margin-left:140px;margin-top: -20px;">MEN'S GROOMING</h6>
<div class="category" style="background-color:transparent;width: 270px;height: 150px;margin-left: 90px;margin-top: -40px;">
    <h4 style="margin-top: 70px;font-size: 16px;color: #222;">Categories</h4>
     <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
    <ul style="display: inline;list-style-type:none;">
     <li style="margin-top:-20px;">
     <a href="">Beauty & Hygiene</a>
     </li>
     <li>
     <a href="">Bath & Hand Wash </a>
     </li>
     <li>
     <a href="">Fragrances & Deos (1)</a>
 </li>
 <li>
  <a href="">Hair Care</a>
    </li>
 <li>
  <a href="">Men's Grooming</a>
 </li>  
 <li>
 <a href=""> Skin Care</a>
 </li>             
 </ul>
</div>

<div style="width: 230px;height: 250px;background-color:transparent;margin-left: 80px;margin-top: 20px;position: relative;z-index: 1;">
<h4 style="font-size: 16px;color: #222;margin-left: 10px;">Brand</h4>
 <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider> 
     <input type="text" placeholder="Search by Brand" style="width: 208px;margin-top: 3px;margin-left:4px;padding-left: 16px;"/>
     <img src="../../assets/images/search.png" style="margin-left: 186px;margin-top: -50px;">
     <div style="position: absolute;overflow-y:scroll;height: 180px;width: 200px;margin-left: 10px;margin-top: -10px;">
                                                 <mat-checkbox >Aloe Veda</mat-checkbox><br>
                                                 <mat-checkbox >Axe</mat-checkbox><br> 
                                                 <mat-checkbox >Ayur. Veda . Aroma</mat-checkbox><br>
                                                 <mat-checkbox >Barber's Club</mat-checkbox><br> 
                                                 <mat-checkbox >Beardo</mat-checkbox><br>
                                                 <mat-checkbox >Bigen</mat-checkbox><br> 
                                                 <mat-checkbox >Braun</mat-checkbox><br>
                                                 <mat-checkbox >Bro Code</mat-checkbox><br> 
                                                 <mat-checkbox >Cinthol </mat-checkbox><br>
                                                 <mat-checkbox >Dermal</mat-checkbox><br> 
                                                 <mat-checkbox >EVAM</mat-checkbox><br>
    </div>
 </div> 

 <div style="width: 250px;height: 120px;background-color:transparent;margin-left: 80px;margin-top: 10px;position: relative;z-index: 1;">
    <h4 style="font-size: 16px;color: #222;margin-left: 10px;">Price</h4>
     <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>   
    <div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
        <mat-checkbox >Less than Rs 20 (5)</mat-checkbox><br>
        <mat-checkbox >Rs 21 to Rs 50 (47)</mat-checkbox><br>
        <mat-checkbox >Rs 201 to Rs 500 (7)</mat-checkbox><br>
        <mat-checkbox >More than Rs 501 (138)</mat-checkbox><br>
    </div> 
     </div> 

     <div style="width: 230px;height: 130px;background-color:transparent;margin-left: 80px;margin-top: 50px;position: relative;z-index: 1;">
        <h4 style="font-size: 16px;color: #222;margin-left: 10px;">Discount</h4>
        <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>   
       <div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
                                                  <mat-checkbox >Upto 5% (8)</mat-checkbox><br>
                                                  <mat-checkbox >5% - 10% (7)</mat-checkbox><br>
                                                  <mat-checkbox >10% - 15% (3)</mat-checkbox><br>
                                                  <mat-checkbox >15% - 25% (1)</mat-checkbox>
        </div> 
        </div>  
        
        <div style="width: 230px;height: 250px;background-color:transparent;margin-left: 80px;margin-top: 40px;position: relative;z-index: 1;">
            <h4 style="font-size: 16px;color: #222;margin-left: 10px;">Pack Size</h4>
           <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
            <input type="text" placeholder="Search by Pack Size" style="width: 208px;margin-top: 3px;margin-left:6px;padding-left: 16px;"/>
            <img src="../../assets/images/search.png" style="margin-left: 186px;margin-top: -50px;">
            <div style="position: absolute;overflow-y:scroll;height: 160px;width: 200px;margin-left: 10px;margin-top: -20px;">
                                             <mat-checkbox >3x150 ml Multipack</mat-checkbox><br>
                                             <mat-checkbox >1 pc</mat-checkbox><br>
                                             <mat-checkbox >1 pc Pouch</mat-checkbox><br>
                                             <mat-checkbox >2 pcs</mat-checkbox><br>
                                             <mat-checkbox >3 pcs</mat-checkbox><br>
                                             <mat-checkbox >4 g</mat-checkbox><br>
                                             <mat-checkbox >4 pcs</mat-checkbox><br>
                                                    <mat-checkbox >4 pcs Carton</mat-checkbox><br>
                                                    <mat-checkbox >5 ml</mat-checkbox><br>
            </div> 
           </div> 

           <div style="width: 230px;height: 250px;background-color:transparent;margin-left: 80px;margin-top:-30px;position: relative;z-index: 1;">
            <h4 style="font-size: 16px;color: #222;margin-left: 10px;">Colour</h4>
           <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
            <div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
                <mat-checkbox >Black</mat-checkbox><br>                
                <mat-checkbox >Blue</mat-checkbox><br>
                <mat-checkbox >Brown</mat-checkbox><br>
                <mat-checkbox >Red</mat-checkbox><br>
                <mat-checkbox >Silver</mat-checkbox><br>
                <mat-checkbox >White</mat-checkbox><br>
                <mat-checkbox >Yellow</mat-checkbox><br>
                <mat-checkbox >Transparent</mat-checkbox><br>
                                             
                
            </div>
           </div>  
      
<div style="width: 230px;height: 240px;background-color:transparent;margin-left: 80px;margin-top:50px;position: relative;z-index: 1;">
 <h4 style="font-size: 16px;color: #222;margin-left: 10px;">Country Of Origin</h4>
 <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
 <div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
                                
                <mat-checkbox >China</mat-checkbox><br>
                <mat-checkbox >France</mat-checkbox><br>
                <mat-checkbox >Germany</mat-checkbox><br>
                <mat-checkbox >India</mat-checkbox><br>
                <mat-checkbox >Indonesia</mat-checkbox><br> 
                <mat-checkbox >UAE</mat-checkbox><br>
                <mat-checkbox >UK</mat-checkbox><br>                               
                
 </div>
 </div>   
 <mat-divider [vertical]="true" style="width: 300px;height: 1590px;margin-left: 20px;margin-top: -1550px;"></mat-divider>       
 <div style="width: 900px;height: 1550px;background-color: transparent;margin-left: 330px;margin-top: -1590px;">
    <h4 style="font: 24px ProximaNovaA;color:#58595b;">Men's Grooming (9)</h4>     
    <ul style="list-style-type: none;">
        <li style="margin-top: 40px;margin-left:-1px;">
        <a href="" style="color: #58595b!important;font-size: 12px;font-family: ProximaNovaA-Semibold;border-bottom: 2px solid #84c225;">ALL PRODUCTS</a>
        </li>
        </ul>
        <img src="../../assets/images/bus.png" style="margin-top:-60px"/>  
     <mat-divider style="margin-top: -30px;"></mat-divider>  
       <mat-card  style="width: 240px;height: 420px;margin-top: 20px;margin-left: 20px;">  
         <img src="../../assets/uploads/beardo-activated-charcoal-facewash.png" style="margin-left: 40px;"/> 
         <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Beardo</h6> 
          <ul style="list-style-type: none;">
          <li style="margin-top: -13px;margin-left: -30px;">
          <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Activated Charcoal Facewash</a>
         </li>
         </ul> 
         <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">100 ml</h6> 
         <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 20px;">
             <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -16px;margin-left: 65px;">MRP:Rs 250</h4>  
             <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
                 <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
             <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
             <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
             <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
            <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
                 <img src="../../assets/images/grey-basket.png"/>
                 </button>
               </mat-card>          
      </mat-card>   

      <mat-card  style="width: 240px;height: 420px;margin-top: -420px;margin-left: 290px;">
        <img src="../../assets/uploads/fair-lovely-instant-brightness-cream-2x-sun-protection.png" style="margin-left: 40px;"/> 
        <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Fair & Lovely</h6> 
         <ul style="list-style-type: none;">
         <li style="margin-top: -13px;margin-left: -30px;">
         <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Instant Brightness Cream 2X Sun Protection</a>
        </li>
        </ul> 
        <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">50 g</h6> 
        <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: -10px;">
            <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -16px;margin-left: 65px;">MRP:Rs 130</h4>  
            <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
                <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
            <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
            <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
            <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
           <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
                <img src="../../assets/images/grey-basket.png"/>
                </button>
              </mat-card>           
     </mat-card>       
     
     <mat-card  style="width: 240px;height: 420px;margin-top:-420px;margin-left: 560px;">
        <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
            <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 20% OFF</span> 
             <img src="../../assets/images/asterisk.png"/>
             </mat-toolbar> 
             <img src="../../assets/uploads/gillette-pre-shave-foam-classic-sensitive-skin.png" style="margin-left: 40px;"/> 
             <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Gillette</h6> 
              <ul style="list-style-type: none;">
              <li style="margin-top: -13px;margin-left: -30px;">
              <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Pre Shave Foam - Classic Sensitive Skin</a>
             </li>
             </ul> 
             <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">418 g</h6> 
             <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: -10px;">
                <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 199</h6>
                 <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">MRP:Rs 159.20</h4>  
                <button mat-button style="background-color: #fee67c;width: 140px;height: 30px;margin-left:4px;">NOTIFY ME
                     </button>
                   </mat-card>               
       </mat-card>   
       
       <mat-card  style="width: 240px;height: 430px;margin-top: 20px;margin-left: 20px;"> 
        <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
            <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 25% OFF</span> 
             <img src="../../assets/images/asterisk.png"/>
             </mat-toolbar> 
             <img src="../../assets/uploads/fair-and-handsome-fairness-cream-deep-action-for-men.png" style="margin-left: 40px;"/> 
             <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">FAIR AND HANDSOME</h6> 
              <ul style="list-style-type: none;">
              <li style="margin-top: -13px;margin-left: -30px;">
              <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Fairness Cream - Deep Action, For Men</a>
             </li>
             </ul> 
             <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">60 g</h6>     
             <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: -10px;">
                <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 130</h6>
                 <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 97.50</h4>  
                 <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
                     <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
                 <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
                 <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
                 <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
                <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
                     <img src="../../assets/images/grey-basket.png"/>
                     </button>          
        </mat-card>  
        </mat-card> 

        <mat-card  style="width: 240px;height: 430px;margin-top: -430px;margin-left: 290px;">
                <img src="../../assets/uploads/park-avenue-beer-shampoo-anti-dandruff.png" style="margin-left: 40px;"/> 
                <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Park avenue</h6> 
                 <ul style="list-style-type: none;">
                 <li style="margin-top: -13px;margin-left: -30px;">
                 <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Beer Shampoo - Anti Dandruff</a>
                </li>
                </ul> 
                <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">350 ml</h6>   
                <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 30px;">
                     <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -16px;margin-left: 65px;">MRP:Rs 250</h4>  
                     <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
                         <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
                     <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
                     <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
                     <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
                    <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
                         <img src="../../assets/images/grey-basket.png"/>
                         </button>          
            </mat-card>               
            </mat-card> 
            
            <mat-card  style="width: 240px;height: 430px;margin-top:-430px;margin-left: 560px;"> 
                <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
                    <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 10% OFF</span> 
                     <img src="../../assets/images/asterisk.png"/>
                     </mat-toolbar> 
                     <img src="../../assets/uploads/dettol-shaving-cream-fresh.png" style="margin-left: 40px;"/> 
                     <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Dettol</h6> 
                      <ul style="list-style-type: none;">
                      <li style="margin-top: -13px;margin-left: -30px;">
                      <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Shaving Cream - Fresh</a>
                     </li>
                     </ul> 
                     <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">78 g</h6> 
                     <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 20px;">
                        <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 75</h6>
                         <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 67.50</h4>  
                         <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
                             <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
                         <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
                         <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
                         <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
                        <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
                             <img src="../../assets/images/grey-basket.png"/>
                             </button>          
                </mat-card>          

        </mat-card>   
        
        <mat-card class="pedigree" style="width: 240px;height: 420px;margin-left: 20px;margin-top: 20px;">
            <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
                <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 30% OFF</span> 
                 <img src="../../assets/images/asterisk.png"/>
                 </mat-toolbar> 
                 <img src="../../assets/uploads/gillette-fusion-proglide-styler-razor.png" style="margin-left: 40px;"/> 
                 <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Gillette</h6> 
                  <ul style="list-style-type: none;">
                  <li style="margin-top: -13px;margin-left: -30px;">
                  <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Fusion Proglide - Styler Razor</a>
                 </li>
                 </ul> 
                 <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">1 pc</h6> 
                 <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 20px;">
                    <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 1840</h6>
                     <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 1288</h4>  
                     <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
                         <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
                     <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
                     <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
                     <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
                    <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
                         <img src="../../assets/images/grey-basket.png"/>
                         </button>          
            </mat-card>                
       </mat-card>    
       
       <mat-card class="pedigree" style="width: 240px;height: 420px;margin-left: 290px;margin-top: -420px;">
        <img src="../../assets/uploads/gillette-mach3-turbo-manual-shaving-razor.png" style="margin-left: 40px;"/> 
        <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Gillette</h6> 
         <ul style="list-style-type: none;">
         <li style="margin-top: -13px;margin-left: -30px;">
         <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Mach3 Turbo - Manual Shaving Razor</a>
        </li>
        </ul> 
        <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">1 pc</h6> 
        <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 10px;">
            <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -16px;margin-left: 65px;">MRP:Rs 220</h4>  
            <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
                <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
            <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
            <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
            <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
           <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
                <img src="../../assets/images/grey-basket.png"/>
                </button>          
   </mat-card>                  
        </mat-card> 
        
        <mat-card class="pedigree" style="width: 240px;height: 420px;margin-left: 560px;margin-top: -420px;">
            <img src="../../assets/uploads/bombay-shaving-company-exfoliating-bath-soaps.png" style="margin-left: 40px;"/> 
            <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Bombay Shaving Company</h6> 
             <ul style="list-style-type: none;">
             <li style="margin-top: -13px;margin-left: -30px;">
             <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Exfoliating Bath Soaps</a>
            </li>
            </ul> 
            <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">400 g Pack of 4</h6> 
            <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 55px;">
                <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -16px;margin-left: 65px;">MRP:Rs 780</h4>  
                <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
                    <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
                <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
                <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
                <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
               <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
                    <img src="../../assets/images/grey-basket.png"/>
                    </button>          
       </mat-card>                     
            </mat-card>       
   </div>          
    

