.logo{
    float: left;
    margin-top:50px;
    margin-right: 10px;
    margin-left: 100px;
}

.menu{
    flex: 1 1 auto;
}

.login{
    color: grey;
}
.login:hover{
    color:yellowgreen;
}
#login{
    color: grey; 
}
#login:hover{
    color:yellowgreen;  
}

#sign{
    color: grey;
}
#sign:hover{
    color:yellowgreen;
}

.material-icons { 
    font-size: 30px;
    margin-top: -10px;
 }
 .phone{
     font-size: 25px;
 }
 .location{
     font-size: 25px;
 }
 

 #content-desktop {display: block;}
#content-mobile {display: none;}

@media screen and (max-width: 425px) {

    #content-desktop {display: none;}
    #content-mobile {
         display: block; 
         max-width: 450px;      
    }
    }
    @media screen and (max-width: 320px){
     mat-toolbar{
         max-width:290px;
     }
     .example-icon{
         margin-left: -20px;
     }
     
    }  
    @media screen and (min-width:426px) and (max-width:800px){
        #content-desktop{
            overflow-x: hidden;
        }
    .person{
        margin-left: -170px;
    }
    .search{
        max-width: 290px;
    }
    .search-btn{
        margin-left:-180px
    }
    #basket{
        display: none;
    }
    .bbstar{
        display: none;
    }
    #button-div{
        display: none;
    }
    #basket{
        display: none;
    }
    .bbstar{
        display: none;
    }
    #button-div{
        display: none;
    }
    } 
    
    
            