<div class="sanitarizers">
<a href="http://localhost:4200/" class="home"  style="text-decoration: none;margin-left: 90px;">HOME ></a>
<h6 style="color: #808285;margin-left:140px;margin-top: -20px;"> SANITIZERS & DISINFECTANTS</h6>
<div class="category" style="background-color:transparent;width: 270px;height: 250px;margin-left: 90px;margin-top: -40px;">
 <h4 id="category" style="margin-top: 70px;font-size: 16px;color: #222;">Categories</h4>
<mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
</div>
<div class="brand" style="width: 230px;height: 250px;background-color:transparent;margin-left: 80px;margin-top: -200px;position: relative;z-index: 1;">
<h4 id="brand-title" style="font-size: 16px;color: #222;margin-left: 10px;">Brand</h4>
 <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider> 
 <input type="text" placeholder="Search by Brand" id="search-brand" style="width: 208px;margin-top: 3px;margin-left:4px;padding-left: 16px;"/>
<img src="../../assets/images/search.png" id="search-icon" style="margin-left: 186px;margin-top: -50px;">
<div style="position: absolute;overflow-y:scroll;height: 180px;width: 200px;margin-left: 10px;margin-top: -10px;">
    <mat-checkbox >Bacto-V</mat-checkbox><br>
    <mat-checkbox >BB Home</mat-checkbox><br> 
    <mat-checkbox >Dabur</mat-checkbox><br>
    <mat-checkbox >Dettol</mat-checkbox><br> 
    <mat-checkbox >Domex</mat-checkbox><br>
    <mat-checkbox >Dr. Vaidya's</mat-checkbox><br> 
    <mat-checkbox >Fiama</mat-checkbox><br>
    <mat-checkbox >Germisol</mat-checkbox><br> 
    <mat-checkbox >Giffy</mat-checkbox><br>
    <mat-checkbox >Godrej </mat-checkbox><br> 
    <mat-checkbox >Godrej Aer</mat-checkbox><br>
    </div>
 </div>

 <div style="width: 230px;height: 130px;background-color:transparent;margin-left: 80px;margin-top: 10px;position: relative;z-index: 1;">
    <h4 id="price-title" style="font-size: 16px;color: #222;margin-left: 10px;">Price</h4>
    <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
    
<div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
    <mat-checkbox >Rs 21 to Rs 50 (13)</mat-checkbox><br>
    <mat-checkbox >Rs 51 to Rs 100 (18)</mat-checkbox><br>
    <mat-checkbox >Rs 101 to Rs 200 (28)</mat-checkbox><br>
    <mat-checkbox >Rs 201 to Rs 500 (24)</mat-checkbox><br>
    <mat-checkbox >More than Rs 501 (95)</mat-checkbox><br>
   </div> 
</div>

<div style="width: 230px;height: 130px;background-color:transparent;margin-left: 80px;margin-top: 70px;position: relative;z-index: 1;">
    <h4 id="discount" style="font-size: 16px;color: #222;margin-left: 10px;">Discount</h4>
    <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
    
<div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
    <mat-checkbox >Upto 5% (8)</mat-checkbox><br>
    <mat-checkbox >5% - 10% (20)</mat-checkbox><br>
    <mat-checkbox >10% - 15% (26)</mat-checkbox><br>
    <mat-checkbox >15% - 25% (18)</mat-checkbox><br>
    <mat-checkbox >More than 25% (6)</mat-checkbox><br>
   </div> 
</div>

<div style="width: 230px;height: 250px;background-color:transparent;margin-left: 80px;margin-top: 70px;position: relative;z-index: 1;">
<h4 id="pack-size" style="font-size: 16px;color: #222;margin-left: 10px;">Pack Size</h4>
<mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
<input type="text" placeholder="Search by Pack Size" id="search-icon" style="width: 208px;margin-top: 3px;margin-left:6px;padding-left: 16px;"/>
<img src="../../assets/images/search.png" id="search-brand" style="margin-left: 186px;margin-top: -50px;">
<div style="position: absolute;overflow-y:scroll;height: 140px;width: 200px;margin-left: 10px;margin-top: -20px;">
    <mat-checkbox >2x400 ml (Multipack)</mat-checkbox><br>
    <mat-checkbox >3x350 ml (Multipack)</mat-checkbox><br>
    <mat-checkbox >3x750 ml (Multipack)</mat-checkbox><br>
    <mat-checkbox >2x750 ml Multipack</mat-checkbox><br>
    <mat-checkbox >2x900 ml Multipack</mat-checkbox><br>
    <mat-checkbox >4x185 ml Multipack</mat-checkbox><br>
    <mat-checkbox >2x2 L Multipack</mat-checkbox><br>
    <mat-checkbox >3x9 g Multipack</mat-checkbox><br>
   </div> 
</div>

<div class="color" style="width: 230px;height: 357px;background-color:transparent;margin-left: 80px;margin-top:-30px;position: relative;z-index: 1;">
    <h4 style="font-size: 16px;color: #222;margin-left: 10px;">Colour</h4>
    <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
    
<div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
    <mat-checkbox >Blue</mat-checkbox><br>
    <mat-checkbox >Green</mat-checkbox><br>
    <mat-checkbox >transparent</mat-checkbox><br>
</div>
</div>



<mat-divider [vertical]="true" style="width: 300px;height: 1130px;margin-left: 20px;margin-top: -1320px;"></mat-divider> 
<div class="banner-section" >
<div style="width: 900px;height: 1080px;background-color: transparent;margin-left: 330px;margin-top: -1130px;">
    <h4 class="disinfectant" style="font: 24px ProximaNovaA;color:#58595b;">Sanitizers & Disinfectants (6)</h4>
    <ul id="all-products" style="list-style-type: none;">
        <li style="margin-top: 10px;margin-left:-1px;">
        <a href="" style="color: #58595b!important;font-size: 12px;font-family: ProximaNovaA-Semibold;border-bottom: 2px solid #84c225;">ALL PRODUCTS</a>
        </li>
        </ul>
        <img src="../../assets/images/bus.png" id="bus-img" style="margin-top:-60px"/>  
        <mat-divider style="margin-top: -30px;"></mat-divider>   
    <div class="luminous">   
  <mat-card  style="width: 240px;height: 420px;margin-top: 20px;margin-left: 20px;">
  <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
 <span style="color: #ba5253;font-size: 10px;margin-left:110px;"> GET 30% OFF </span> 
 <img src="../../assets/images/asterisk.png"/>
    </mat-toolbar> 
  <img src="../../assets/images/palmolive-luminous-oils-invigorating-handwash-refill.png" style="margin-left: 40px;"/> 
 <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Palmolive</h6> 
 <ul style="list-style-type: none;">
    <li style="margin-top: -13px;margin-left: -30px;">
    <a href="" style="font-size:13px;color:#000;margin-top: -30px;">Luminous Oils Invigorating Handwash Refill</a>
    </li>
    </ul> 
 <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">750 ml</h6> 
 <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 10px;">
    <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 249 </h6>
    <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 174.30</h4>  
    <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
  <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
  <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
 <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
 <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
 <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
    <img src="../../assets/images/grey-basket.png"/>
</button>
    </mat-card>
  </mat-card>   
</div> 
<div class="handwash">
<mat-card  style="width: 240px;height: 420px;margin-top: -420px;margin-left: 290px;">
    <img src="../../assets/images/dettol-original-germ-protection-liquid-handwash.png" style="margin-left: 40px;"/> 
    <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Dettol</h6> 
 <ul style="list-style-type: none;">
 <li style="margin-top: -13px;margin-left: -30px;">
 <a href="" style="font-size:13px;color:#000;margin-top: -30px;">Original Germ Protection Liquid Handwash</a>
 </li>
 </ul>
 <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">250 ml Flip Top</h6>  
 <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 20px;">
 <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -15px;margin-left: 65px;">MRP Rs 89</h4>  
 <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
    <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
    <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
     <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
     <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
     <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
        <img src="../../assets/images/grey-basket.png"/>
    </button>
        </mat-card>
</mat-card>
</div>
<div class="surface">
<mat-card  style="width: 240px;height: 420px;margin-top:-420px;margin-left: 560px;">
<mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
<span style="color: #ba5253;font-size: 10px;margin-left:110px;"> GET 15% OFF</span> 
<img src="../../assets/images/asterisk.png"/>
</mat-toolbar>
<img src="../../assets/images/lizol-double-concentrate-disinfectant-surface-cleaner-citrus.png" style="margin-left: 40px;"/> 
<h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Lizol</h6>
<ul style="list-style-type: none;">
<li style="margin-top: -13px;margin-left: -30px;">
 <a href="" style="font-size:13px;color:#000;margin-top: -30px;">Double Concentrate Disinfectant Surface Cleaner - Citrus</a>
 </li>
 </ul>
<h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">900 ml</h6> 
<mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 10px;">
    <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 325 </h6>
    <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 276.25</h4>  
    <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
   <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
    <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
    <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
    <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
     <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
        <img src="../../assets/images/grey-basket.png"/>
       </button>
           </mat-card>  
</mat-card>
</div>
<div class="veggie">
<mat-card  style="width: 240px;height: 420px;margin-top: 20px;margin-left: 20px;">
    <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
   <span style="color: #ba5253;font-size: 10px;margin-left:110px;"> GET 38% OFF </span> 
   <img src="../../assets/images/asterisk.png"/>
      </mat-toolbar> 
 <img src="../../assets/images/dabur-veggie-wash.png" style="margin-left: 40px;"/> 
  <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Dabur</h6>
  <ul style="list-style-type: none;">
 <li style="margin-top: -13px;margin-left: -30px;">
 <a href="" style="font-size:13px;color:#000;margin-top: -30px;">Veggie Wash</a>
 </li>
</ul>
 <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: 15px;">500 ml</h6>   
 <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 10px;">
    <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 280 </h6>
    <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 189.18</h4>  
    <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
   <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
    <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
    <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
    <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
     <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
        <img src="../../assets/images/grey-basket.png"/>
       </button>
           </mat-card>   
  </mat-card> 
</div>   
<div class="hand">
<mat-card  style="width: 240px;height: 420px;margin-top: -420px;margin-left: 290px;">
 <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
 <span style="color: #ba5253;font-size: 10px;margin-left:110px;"> GET 25% OFF </span> 
 <img src="../../assets/images/asterisk.png"/>
</mat-toolbar>
<img src="../../assets/images/nyle-hand-sanitizer.png" style="margin-left: 40px;"/> 
 <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Nyle</h6>
 <ul style="list-style-type: none;">
    <li style="margin-top: -13px;margin-left: -30px;">
    <a href="" style="font-size:13px;color:#000;margin-top: -30px;">Hand Sanitizer</a>
    </li>
   </ul>
    <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: 15px;">5 L</h6>  
    <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 10px;">
        <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 2450</h6>
        <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 1837.50</h4>  
        <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
       <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
        <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
        <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
        <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
         <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
            <img src="../../assets/images/grey-basket.png"/>
           </button>
     </mat-card>     
 </mat-card>
</div>
<div class="spray">
 <mat-card  style="width: 240px;height: 420px;margin-top:-420px;margin-left: 560px;">
 <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
 <span style="color: #ba5253;font-size: 10px;margin-left:110px;"> GET 20% OFF</span> 
 <img src="../../assets/images/asterisk.png"/>
 </mat-toolbar>
 <img src="../../assets/images/maricos-travel-protect-surface-disinfectant-spray.png" style="margin-left: 40px;"/> 
 <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Marico's Travel Protect</h6>
 <ul style="list-style-type: none;">
 <li style="margin-top: -13px;margin-left: -30px;">
<a href="" style="font-size:13px;color:#000;margin-top: -30px;">Surface Disinfectant Spray</a>
</li>
 </ul>
 <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: 15px;">200 ml</h6>  
 <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 10px;">
    <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 179</h6>
    <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 143.20</h4>  
    <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
   <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
    <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
    <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
    <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
     <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
        <img src="../../assets/images/grey-basket.png"/>
       </button>
 </mat-card>   
 </mat-card>
</div>
 </div>    
</div>
</div>