a{
    text-decoration: none;
    color: #666;
    font-size: 14px;
}
a:hover{
    color: #096;
}
li{
    margin-left: 14px;
    margin-top: 3px;
}
mat-checkbox:hover{
    color: #096;

}
.home{
    color: #808285;
    font: 400 10px/11px Lato,sans-serif;
}
.home:hover{
    color: #096;
}
@media screen and (max-width:425px){
    .beauty{
        overflow-x: hidden;
    }
    .banner-section{
        width: 400px;
        height: 350vh;
    }
    .carousel{
        max-width: 370px;
    }
    .image1{
        width: 100%;
    }
    .image2{
        width: 100%;
    }
    .image3{
        width: 100%;
    }
.section1{
    margin-left: -80px;
}
.category{
    display: none;
}
mat-checkbox{
    display: none;
}
mat-divider{
    display: none;
}
#category{
    display: none;
}
#brand-title{
    display: none;
}
#search-brand{
    display: none;
}
#search-icon{
    display: none;
}
#body-care{
    display: none;
}
#hair{
    display:none;
}
#benefits{
    display:none;
}
.hygiene{
    margin-left: -280px;
    margin-top: 670px;
}
#all-products{
    margin-left: -250px;
    margin-top: 20px;
}
#bus-img{
    margin-left: -270px;
}
.sanitary{
    margin-top: 10px;
    margin-left: -260px;
}
.pads{
    margin-left: -530px;
    margin-top: 460px;
}
.whisper{
    margin-left: -800px;
    margin-top: 460px; 
}
.soap{
    margin-top: -10px;
    margin-left: -260px; 
}
.bath-soap{
    margin-top: 460px;
    margin-left: -530px;
}
.soft{
    margin-top: 455px;
    margin-left: -800px;
}

}
@media screen and (max-width:385px){
    .carousel{
        max-width: 350px;
    }
    .section1{
        margin-left: -90px;
    }
}
@media screen and (max-width:320px){
    .carousel{
        max-width: 280px;
    }
    .section1{
        margin-left: -90px;
    }
    .sanitary{
        margin-top: 10px;
        margin-left: -320px;
    }
    .pads{
        margin-left: -590px;
        margin-top: 460px;
    }
    .whisper{
        margin-left: -860px;
        margin-top: 460px; 
    }
    .soap{
        margin-top: -10px;
        margin-left: -320px; 
    }
    .bath-soap{
        margin-top: 460px;
        margin-left: -590px;
    }
    .soft{
        margin-top: 455px;
        margin-left: -860px;
    }
}
@media screen and (min-width:426px) and (max-width:800px){
    .beauty{
        overflow-x: hidden;
    }
    .banner-section{
        width: 400px;
        height: 100vh;
    }
    .carousel{
        max-width: 730px;
    }
    .image1{
        width: 100%;
    }
    .image2{
        width: 100%;
    }
    .image3{
        width: 100%;
    }
.section1{
    margin-left: -80px;
}
.category{
    display: none;
}
mat-checkbox{
    display: none;
}
mat-divider{
    display: none;
}
#category{
    display: none;
}
#brand-title{
    display: none;
}
#search-brand{
    display: none;
}
#search-icon{
    display: none;
}
#body-care{
    display: none;
}
#hair{
    display:none;
}
#benefits{
    display:none;
}
.hygiene{
    margin-left: -110px;
    margin-top: 670px;
}
#all-products{
    margin-left: -150px;
    margin-top: 20px;
}
#bus-img{
    margin-left: -170px;
}
.sanitary{
    margin-top: 10px;
    margin-left: -340px;
}
.pads{
    margin-left: -360px;
    margin-top: -10px;
}
.whisper{
    margin-left: -380px;
    margin-top: -10px; 
}
.soap{
    margin-top: -10px;
    margin-left: -340px; 
}
.bath-soap{
    margin-top: -18px;
    margin-left: -360px;
}
.soft{
    margin-top: -18px;
    margin-left: -380px;
}

}