<div class="beauty">
<a href="http://localhost:4200/" class="home"  style="text-decoration: none;margin-left: 90px;">HOME ></a>
<h6 style="color: #808285;margin-left:140px;margin-top: -20px;">BEAUTY & HYGIENE</h6>
<div class="section1">
<ngb-carousel style="width: 1150px;margin-left: 97px;" class="carousel">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/images/GarnierMen.png" class="image1" alt="Random first slide" width="1150px;"> 
      </div>
      
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/images/Loreal-beauty.png" class="image2" alt="Random second slide" width="1150px;">
      </div>
      
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/images/Fogg.png" class="image3" alt="Random third slide" width="1150px;">
      </div>
    </ng-template>
</ngb-carousel>
</div>
<div class="category" style="background-color:transparent;width: 270px;height: 250px;margin-left: 90px;margin-top: -10px;">
 <h4 id="category" style="margin-top: 70px;font-size: 16px;color: #222;">Category</h4>
 <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
 <a href="" style="color: #62a154;text-decoration: none;margin-top: -10px;">Beauty & Hyggiene</a>
    <ul style="display: inline;list-style-type: none;">
        <li style="margin-top: 5px;">
            <a href="">
                Bath & Hand Wash (930)</a>
        </li>
        <li>
            <a href="">Feminine Hygiene (222)</a>
        </li>
        <li>
            <a href="">Fragrances & Deos (1177)</a>
        </li>
        <li>
            <a href="">Hair Care (1397)</a>
        </li>
        <li>
            <a href="">Health & Medicine</a>
        </li>
        <li>
            <a href="">Makeup</a> 
        </li>
        <li>
            <a href="">Men's Grooming</a> 
        </li>
        <li>
            <a href="">Oral Care</a> 
        </li> 
        <li>
            <a href="">Skin Care</a> 
        </li>     
    </ul>
 </div>

<div class="brand" style="width: 230px;height: 250px;background-color:transparent;margin-left: 80px;margin-top: 20px;position: relative;z-index: 1;">
 <h4 id="brand-title" style="font-size: 16px;color: #222;margin-left: 10px;">Brand</h4>
 <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
 <input type="text" placeholder="Search by Brand" id="search-brand" style="width: 208px;margin-top: 3px;margin-left:6px;padding-left: 16px;"/>
<img src="../../assets/images/search.png" id="search-icon" style="margin-left: 186px;margin-top: -50px;">
<div style="position: absolute;overflow-y:scroll;height: 220px;width: 200px;margin-left: 10px;margin-top: -20px;">
    <mat-checkbox >Aigner</mat-checkbox><br>
    <mat-checkbox >Ajmal</mat-checkbox><br>
    <mat-checkbox >All Good Scents</mat-checkbox><br>
    <mat-checkbox >Aloe Veda</mat-checkbox><br>
    <mat-checkbox >Antonio Banderas</mat-checkbox><br>
    <mat-checkbox >Aroma Magic</mat-checkbox><br>
    <mat-checkbox >Aroma Treasures</mat-checkbox><br>
    <mat-checkbox >Aryanveda Herbal</mat-checkbox><br>
    <mat-checkbox >Astaberry</mat-checkbox><br>
    <mat-checkbox >Avene</mat-checkbox><br>
    <mat-checkbox >Axe</mat-checkbox><br>
</div>
 </div>

 <div  style="width: 230px;height: 490px;background-color:transparent;margin-left: 80px;margin-top: 30px;position: relative;z-index: 1;">
 <h4 id="hair"  style="font-size: 16px;color: #222;margin-left: 10px;">Hair Styling</h4>
 <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
<div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
<mat-checkbox >Gels & Waxes</mat-checkbox>
</div>
<div style="width: 230px;height: 130px;background-color:transparent;margin-left: 4px;margin-top: 42px;position: relative;z-index: 1;">
    <h4 id="benefits" style="font-size: 16px;color: #222;margin-left: 10px;">Benefits</h4>
     <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
     <div style="position: absolute;height: 820px;width: 200px;margin-left: 10px;margin-top: 10px;">
        <mat-checkbox >Natural/ HerbalAge </mat-checkbox><br>
       <mat-checkbox >Multi-Benefit</mat-checkbox><br>
       <mat-checkbox >Comfortable</mat-checkbox><br>  
       <mat-checkbox >Age Defying</mat-checkbox><br>
       <mat-checkbox >Luminous</mat-checkbox><br>
       <mat-checkbox >Pore Minimising</mat-checkbox><br>  
       <mat-checkbox >Volumising</mat-checkbox><br>
       <mat-checkbox >Smudge proof</mat-checkbox><br>
       <mat-checkbox >Intense Color</mat-checkbox><br>  
       <mat-checkbox>DefyingLuminous</mat-checkbox> 
       </div> 
    </div> 

<div style="width: 230px;height: 130px;background-color:transparent;margin-left: 4px;margin-top: 230px;position: relative;z-index: 1;">
 <h4 id="body-care" style="font-size: 16px;color: #222;margin-left: 10px;">Body Care</h4>
  <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
 <div style="position: absolute;height: 820px;width: 200px;margin-left: 10px;margin-top: 10px;">
           <mat-checkbox >Body Lotion & Cream </mat-checkbox><br>
           <mat-checkbox >Hand & Foot Cream</mat-checkbox><br>  
 </div>  
 <mat-divider [vertical]="true" style="width: 300px;height: 1090px;margin-left: -60px;margin-top: -1030px;"></mat-divider>  
 <div class="banner-section">
 <div style="width: 900px;height: 1080px;background-color: transparent;margin-left:250px;margin-top: -1080px;">
 <h4 class="hygiene" style="font: 24px ProximaNovaA;color:#58595b;">Beauty & Hygiene (6)</h4>
<ul id="all-products" style="list-style-type: none;">
 <li style="margin-top: 10px;margin-left:-1px;">
 <a href="" style="color: #58595b!important;font-size: 12px;font-family: ProximaNovaA-Semibold;border-bottom: 2px solid #84c225;">ALL PRODUCTS</a>
 </li>
 </ul>
 <img src="../../assets/images/bus.png" id="bus-img" style="margin-top:-60px"/>  
 <mat-divider style="margin-top: -30px;"></mat-divider>
 <div class="sanitary">
 <mat-card  style="width: 240px;height: 450px;margin-top: 20px;margin-left: 20px;">
<mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
<span style="color: #ba5253;font-size: 10px;margin-left:110px;"> GET 15% OFF </span> 
 <img src="../../assets/images/asterisk.png"/>
 </mat-toolbar>
 <img src="../../assets/images/wings-ultra-nights-10-pcs.png" style="margin-left: 40px;"/> 
<h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Whisper</h6>
<ul style="list-style-type: none;">
<li style="margin-top: -13px;margin-left: -30px;">
<a href="" style="font-size:13px;color:#000;margin-top: -30px;">Sanitary Pads - XL Plus, Clean, Ultra 44 pcs + XXXL Wings, Ultra Nights 10 pcs</a>
</li>
</ul>
<h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">Combo 2 Items</h6> 
<mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 10px;">
<h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 680 </h6>
 <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 580</h4>  
 <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
  <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
  <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
 <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
 <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
 <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
    <img src="../../assets/images/grey-basket.png"/>
</button>
    </mat-card>
 </mat-card>
</div>
<div class="pads">
 <mat-card  style="width: 240px;height: 450px;margin-top: -450px;margin-left: 290px;">
 <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
 <span style="color: #ba5253;font-size: 10px;margin-left:110px;">SAVE Rs 53 </span> 
<img src="../../assets/images/asterisk.png"/>
 </mat-toolbar>
 <img src="../../assets/images/whisper-sanitary-pads-xl-ultra-soft-50-pcs-xxxl-wings-ultra.png" style="margin-left: 40px;"/> 
 <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Whisper</h6> 
 <ul style="list-style-type: none;">
 <li style="margin-top: -13px;margin-left: -30px;">
 <a href="" style="font-size:13px;color:#000;margin-top: -30px;">Sanitary Pads - XL, Ultra Soft 50 pcs + XXXL Wings, Ultra Nights 10 pcs</a>
 </li>
 </ul>
 <h6 style="font-size: 12px;color:#999 ;margin-left:-5px;margin-top: -10px;">Combo 2 Items</h6>
 <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 10px;">
    <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 685 </h6>
     <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 631.50</h4>  
     <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
      <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
      <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
     <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
     <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
     <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
        <img src="../../assets/images/grey-basket.png"/>
    </button>
        </mat-card> 
 </mat-card>
</div>
<div class="whisper">
 <mat-card  style="width: 240px;height: 450px;margin-top:-448px;margin-left: 560px;">
<mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
<span style="color: #ba5253;font-size: 10px;margin-left:110px;"> GET 18% OFF</span> 
<img src="../../assets/images/asterisk.png"/>
</mat-toolbar>
<img src="../../assets/images/combo-whisper-sanitary-pads.png" style="margin-left: 40px;"/> 
 <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">bb Combo</h6> 
 <ul style="list-style-type: none;">
 <li style="margin-top: -13px;margin-left: -30px;">
 <a href="" style="font-size:13px;color:#000;margin-top: -30px;">Whisper Sanitary Pads XL Plus Clean Ultra44pcs+Gillette Venus Razor For Women1pc</a>
 </li>
 </ul>
 <h6 style="font-size: 12px;color:#999 ;margin-left:-5px;margin-top: -10px;">Combo 2 Items</h6>
 <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 10px;">
    <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 650 </h6>
     <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 534.37</h4>  
     <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
      <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
      <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
     <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
     <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
     <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
        <img src="../../assets/images/grey-basket.png"/>
    </button>
</mat-card> 
</mat-card>
</div>
<div class="soap">
<mat-card  style="width: 240px;height: 450px;margin-top: 20px;margin-left: 20px;">
 <img src="../../assets/images/hamam-bathing-soap-with-neem-tulsi-aloe-vera.png" style="margin-left: 40px;"/> 
 <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Hamam</h6> 
 <ul style="list-style-type: none;">
 <li style="margin-top: -13px;margin-left: -30px;">
 <a href="" style="font-size:13px;color:#000;margin-top: -30px;">Bathing Soap - with Neem, Tulsi & Aloe Vera</a>
 </li>
 </ul>
 <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">150 g Pack of 3</h6>
 <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 20px;">
     <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -17px;margin-left: 65px;">MRP Rs 125</h4>  
     <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
      <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
      <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
     <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
     <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
     <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
        <img src="../../assets/images/grey-basket.png"/>
    </button>
</mat-card> 
</mat-card>
</div>
<div class="bath-soap">
<mat-card  style="width: 240px;height: 450px;margin-top: -450px;margin-left: 290px;">
<img src="../../assets/images/mysore-sandal-bathing-soap-superior-with-pure-sandalwood-oil.png" style="margin-left: 40px;"/> 
 <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Mysore Sandal</h6> 
 <ul style="list-style-type: none;">
 <li style="margin-top: -13px;margin-left: -30px;">
<a href="" style="font-size:13px;color:#000;margin-top: -30px;">Bathing Soap - Superior with Pure Sandalwood Oil</a>
 </li>
 </ul>
<h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">150 g Pack of 3</h6> 
<mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 20px;">
    <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -17px;margin-left: 65px;">MRP Rs 225</h4>  
    <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
     <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
     <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
    <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
    <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
    <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
       <img src="../../assets/images/grey-basket.png"/>
   </button>
</mat-card>    
</mat-card>
</div>
<div class="soft">
<mat-card  style="width: 240px;height: 445px;margin-top:-448px;margin-left: 560px;">
<img src="../../assets/images/stayfree-sanitary-pads-secure-xl-cottony-soft-with-wings.png" style="margin-left: 40px;"/> 
<h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">STAYFREE</h6> 
 <ul style="list-style-type: none;">
 <li style="margin-top: -13px;margin-left: -30px;">
 <a href="" style="font-size:13px;color:#000;margin-top: -30px;">Sanitary Pads - Secure Xl Cottony Soft, with Wings</a>
 </li>
 </ul>
 <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">6 pads</h6>     
 <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 20px;">
    <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -17px;margin-left: 65px;">MRP Rs 36</h4>  
    <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
     <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
     <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
    <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
    <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
    <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
       <img src="../../assets/images/grey-basket.png"/>
   </button>
</mat-card>   
</mat-card>
</div>
 </div>
</div>
</div>