
<a href="http://localhost:4200/" class="home"  style="text-decoration: none;margin-left: 90px;">HOME ></a>
<h6 style="color: #808285;margin-left:140px;margin-top: -20px;">UNDER RS. 149 STORE</h6>
<div class="category" style="background-color:transparent;width: 270px;height: 360px;margin-left: 90px;margin-top: -40px;">
    <h4 style="margin-top: 70px;font-size: 16px;color: #222;">Categories</h4>
     <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
    <ul style="display: inline;list-style-type:none;">
     <li style="margin-top:-20px;">
     <a href="">Beauty & Hygiene</a>
     </li>
     <li>
     <a href="">Health & Medicine (3)</a>
     </li> 
    <li>
 <a href="">Cleaning & Household</a>
 </li> 
 <li>
  <a href="">Bins & Bathroom Ware (66)</a>
 </li> 
 <li>
 <a href="">Car & Shoe Care (5)</a>
 </li> 
<li>
 <a href="">Detergents & Dishwash (5)</a>
 </li> 
 <li>
 <a href="">Mops, Brushes & Scrubs (42)</a>
  </li> 
  <li>
<a href="">Party & Festive Needs (5)</a>
 </li> 
  <li>
 <a href="">Stationery (236)</a>
 </li> 
 <li>
  <a href="">Kitchen, Garden & Pets</a>
 </li>    
 <li>
 <a href=""> Appliances & Electricals (23) </a>    
 </li> 
 <li>
 <a href="">Bakeware (35)</a>    
 </li> 
<li>
  <a href="">Cookware & Non Stick (6) </a>    
 </li> 
 <li>
 <a href="">Crockery & Cutlery (77)</a>    
</li> 
<li>
    <a href="">Gardening (25)</a>    
   </li> 
   <li>
    <a href="">Kitchen Accessories (45)</a>    
   </li>    

 </ul>
</div>

<div style="width: 230px;height: 250px;background-color:transparent;margin-left: 80px;margin-top: 40px;position: relative;z-index: 1;">
<h4 style="font-size: 16px;color: #222;margin-left: 10px;">Brand</h4>
<mat-divider style="width: 210px;margin-top: -15px;"></mat-divider> 
 <input type="text" placeholder="Search by Brand" style="width: 208px;margin-top: 3px;margin-left:4px;padding-left: 16px;"/>
<img src="../../assets/images/search.png" style="margin-left: 186px;margin-top: -50px;">
<div style="position: absolute;overflow-y:scroll;height: 180px;width: 200px;margin-left: 10px;margin-top: -10px;">
                                     <mat-checkbox >3M Highland</mat-checkbox><br>
                                     <mat-checkbox >Aagam</mat-checkbox><br> 
                                     <mat-checkbox >Aarna</mat-checkbox><br>
                                     <mat-checkbox >Abilities</mat-checkbox><br> 
                                     <mat-checkbox >AGARO</mat-checkbox><br>
                                     <mat-checkbox >All Time</mat-checkbox><br> 
                                     <mat-checkbox >Anjali</mat-checkbox><br>
                                     <mat-checkbox >Apsara</mat-checkbox><br> 
                                     <mat-checkbox >Aristo </mat-checkbox><br>
                                     <mat-checkbox >B Vishal</mat-checkbox><br> 
                                     <mat-checkbox >Bamboooz</mat-checkbox><br>
 </div>
 </div> 

 <div style="width: 230px;height: 130px;background-color:transparent;margin-left: 80px;margin-top: 10px;position: relative;z-index: 1;">
<h4 style="font-size: 16px;color: #222;margin-left: 10px;">Price</h4>
<mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>   
<div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
                       <mat-checkbox >Rs 21 to Rs 50 (40)</mat-checkbox><br>
                       <mat-checkbox >Rs 51 to Rs 100 (46)</mat-checkbox><br>
                       <mat-checkbox >Rs 101 to Rs 200 (4)</mat-checkbox><br>
                       <mat-checkbox >Rs 201 to Rs 500 (3)</mat-checkbox><br>
                       <mat-checkbox >More than Rs 501 (16)</mat-checkbox><br>
</div> 
 </div>  

 <div style="width: 230px;height: 130px;background-color:transparent;margin-left: 80px;margin-top: 70px;position: relative;z-index: 1;">
<h4 style="font-size: 16px;color: #222;margin-left: 10px;">Discount</h4>
 <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>   
<div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
                            <mat-checkbox >Upto 5% (8)</mat-checkbox><br>
                            <mat-checkbox >5% - 10% (7)</mat-checkbox><br>
                            <mat-checkbox >10% - 15% (3)</mat-checkbox><br>
                            <mat-checkbox >15% - 25% (1)</mat-checkbox>
 </div> 
 </div> 

 <div style="width: 230px;height: 250px;background-color:transparent;margin-left: 80px;margin-top: 40px;position: relative;z-index: 1;">
 <h4 style="font-size: 16px;color: #222;margin-left: 10px;">Pack Size</h4>
<mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
 <input type="text" placeholder="Search by Pack Size" style="width: 208px;margin-top: 3px;margin-left:6px;padding-left: 16px;"/>
<img src="../../assets/images/search.png" style="margin-left: 186px;margin-top: -50px;">
<div style="position: absolute;overflow-y:scroll;height: 140px;width: 200px;margin-left: 10px;margin-top: -20px;">
                                  <mat-checkbox >0.7 mm</mat-checkbox><br>
                                  <mat-checkbox >0.5 mm (Pack of 10)</mat-checkbox><br>
                                  <mat-checkbox >100 Seeds</mat-checkbox><br>
                                  <mat-checkbox >30 cm</mat-checkbox><br>
                                  <mat-checkbox >40X60 cm</mat-checkbox><br>
                                  <mat-checkbox >50X50 cm Set of 3</mat-checkbox><br>
                                  <mat-checkbox >1 g</mat-checkbox><br>
                                  <mat-checkbox >3 inches</mat-checkbox><br>
                                  <mat-checkbox >Set 10</mat-checkbox><br>
</div> 
 </div> 

 <div style="width: 230px;height: 240px;background-color:transparent;margin-left: 80px;margin-top:-40px;position: relative;z-index: 1;">
<h4 style="font-size: 16px;color: #222;margin-left: 10px;">Body Material</h4>
<mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
 <div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
                        <mat-checkbox >Plastic</mat-checkbox><br>
                        <mat-checkbox >Stainless Steel</mat-checkbox><br>
                        <mat-checkbox >Steel</mat-checkbox><br>
                        <mat-checkbox >Metal</mat-checkbox><br>
                        <mat-checkbox >Wooden</mat-checkbox><br>
                        <mat-checkbox >Matt Finish</mat-checkbox><br>
                        <mat-checkbox >Mirror Finish</mat-checkbox><br>
                        
</div>
</div> 


    <mat-divider [vertical]="true" style="width: 300px;height: 1520px;margin-left: 20px;margin-top: -1500px;"></mat-divider>  
<div style="width: 900px;height: 1590px;background-color: transparent;margin-left: 330px;margin-top: -1530px;">
 <h4 style="font: 24px ProximaNovaA;color:#58595b;">Under Rs. 149 Store (9)</h4>
<ul style="list-style-type: none;">
 <li style="margin-top: 40px;margin-left:-1px;">
 <a href="" style="color: #58595b!important;font-size: 12px;font-family: ProximaNovaA-Semibold;border-bottom: 2px solid #84c225;">ALL PRODUCTS</a>
 </li>
 </ul>
 <img src="../../assets/images/bus.png" style="margin-top:-60px"/>  
<mat-divider style="margin-top: -30px;"></mat-divider> 
<mat-card  style="width: 240px;height: 420px;margin-top: 20px;margin-left: 20px;">  
<mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
<span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 13% OFF</span> 
 <img src="../../assets/images/asterisk.png"/>
 </mat-toolbar> 
 <img src="../../assets/uploads/j-son-cloth-holder-clip.png" style="margin-left: 40px;"/> 
 <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">J-Son</h6> 
  <ul style="list-style-type: none;">
  <li style="margin-top: -13px;margin-left: -30px;">
  <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Cloth Holder - Clip</a>
 </li>
 </ul> 
 <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">1 pc</h6>  
 <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 20px;">
<h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 56</h6>
 <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 49</h4>  
 <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
    <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
    <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
     <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
     <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
     <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
        <img src="../../assets/images/grey-basket.png"/>
    </button>
        </mat-card> 
 </mat-card>

 <mat-card  style="width: 240px;height: 420px;margin-top: -420px;margin-left: 290px;">   
    <img src="../../assets/uploads/milton-spotzero-utensil-scrubber-green.png" style="margin-left: 40px;"/> 
    <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Milton - Spotzero</h6> 
     <ul style="list-style-type: none;">
     <li style="margin-top: -13px;margin-left: -30px;">
     <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Utensil Scrubber - Green</a>
    </li>
    </ul> 
    <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">1 pc</h6>  
    <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 30px;">
         <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -16px;margin-left: 65px;">MRP: Rs 10</h4>  
         <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
            <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
            <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
             <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
             <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
             <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
         <img src="../../assets/images/grey-basket.png"/>
     </button>
     </mat-card>        
    </mat-card> 
    <mat-card  style="width: 240px;height: 420px;margin-top:-420px;margin-left: 560px;">
    <img src="../../assets/uploads/milton-spotzero-stainless-steel-utensil-scrubber.png" style="margin-left: 40px;"/> 
        <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Milton - Spotzero</h6> 
         <ul style="list-style-type: none;">
         <li style="margin-top: -13px;margin-left: -30px;">
         <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Stainless Steel - Utensil Scrubber</a>
        </li>
        </ul> 
        <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">1 pc</h6> 
        <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 30px;">
             <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -16px;margin-left: 65px;">MRP: Rs 18</h4>  
             <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
                <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
                <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
                 <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
                 <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
                 <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
                    <img src="../../assets/images/grey-basket.png"/>
                </button>
                    </mat-card>                  
</mat-card>   
<mat-card  style="width: 240px;height: 430px;margin-top: 20px;margin-left: 20px;">
    <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
        <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 48% OFF</span> 
         <img src="../../assets/images/asterisk.png"/>
         </mat-toolbar>    
         <img src="../../assets/uploads/mastercook-premium-round-plastic-container-with-lid-pink.png" style="margin-left: 40px;"/> 
         <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Mastercook</h6> 
          <ul style="list-style-type: none;">
          <li style="margin-top: -13px;margin-left: -30px;">
          <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Premium Round Plastic Container With Lid - Pink</a>
         </li>
         </ul> 
         <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">500 ml</h6> 
         <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: -15px;">
            <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 75</h6>
            <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 39</h4>  
            <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
            <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
            <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
             <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
             <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
             <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
                <img src="../../assets/images/grey-basket.png"/>
            </button>
                </mat-card>                  
</mat-card>    
<mat-card  style="width: 240px;height: 430px;margin-top: -430px;margin-left: 290px;">
    <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
        <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 32% OFF</span> 
         <img src="../../assets/images/asterisk.png"/>
         </mat-toolbar>   
         <img src="../../assets/uploads/ayurvaidic-party-wooden-stirrer-small.png" style="margin-left: 40px;"/> 
         <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Ayurvaidic</h6> 
          <ul style="list-style-type: none;">
          <li style="margin-top: -13px;margin-left: -30px;">
          <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Party Wooden Stirrer - Small</a>
         </li>
         </ul> 
         <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">4.5 inch Pack of 12</h6> 
         <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 15px;">
            <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 28</h6>
            <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 19</h4>  
            <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
            <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
            <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
             <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
             <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
             <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
                <img src="../../assets/images/grey-basket.png"/>
            </button>
                </mat-card>                     
</mat-card> 
<mat-card  style="width: 240px;height: 420px;margin-top:-420px;margin-left: 560px;">
    <img src="../../assets/uploads/3-b-vishal-magnet.png" style="margin-left: 40px;"/> 
    <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">B Vishal</h6> 
     <ul style="list-style-type: none;">
     <li style="margin-top: -13px;margin-left: -30px;">
     <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Magnet</a>
    </li>
    </ul> 
    <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">10 pcs</h6>   
    <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 15px;">
        <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -16px;margin-left: 65px;">MRP:Rs 79</h4>  
        <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
        <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
        <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
         <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
         <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
         <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
            <img src="../../assets/images/grey-basket.png"/>
        </button>
            </mat-card>    
</mat-card> 

<mat-card class="pedigree" style="width: 240px;height: 420px;margin-left: 20px;margin-top: 20px;">
<mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
 <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 21% OFF</span> 
 <img src="../../assets/images/asterisk.png"/>
 </mat-toolbar> 
 <img src="../../assets/uploads/princeware-microwaveable-plastic-multiutility-bowl-blue-new-coral-l2271-bl.png" style="margin-left: 40px;"/> 
    <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Princeware</h6> 
     <ul style="list-style-type: none;">
     <li style="margin-top: -13px;margin-left: -30px;">
     <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Microwaveable Plastic Multiutility Bowl - Blue, New Coral, L2271 BL</a>
    </li>
    </ul> 
    <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">420 ml</h6>   
    <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 10px;">
        <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 24</h6>
        <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 19</h4>  
        <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
        <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
        <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
         <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
         <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
         <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
            <img src="../../assets/images/grey-basket.png"/>
        </button>
            </mat-card>      
  </mat-card> 
  <mat-card class="pedigree" style="width: 240px;height: 420px;margin-left: 290px;margin-top: -420px;">
    <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
        <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 46% OFF</span> 
       <img src="../../assets/images/asterisk.png"/>
        </mat-toolbar> 
        <img src="../../assets/uploads/mastercook-premium-rectangular-plastic-container-with-lid-multicolour.png" style="margin-left: 40px;"/> 
        <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Mastercook</h6> 
         <ul style="list-style-type: none;">
         <li style="margin-top: -13px;margin-left: -30px;">
         <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Premium Rectangular Plastic Container With Lid - Multicolour</a>
        </li>
        </ul> 
        <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">75 ml (Set of 5)</h6> 
        <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 10px;">
            <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 99</h6>
            <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 49</h4>  
            <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
            <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
            <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
             <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
             <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
             <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
                <img src="../../assets/images/grey-basket.png"/>
            </button>
                </mat-card>                    
  </mat-card>   
  <mat-card class="pedigree" style="width: 240px;height: 420px;margin-left: 560px;margin-top: -420px;">
    <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
        <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 21% OFF</span> 
       <img src="../../assets/images/asterisk.png"/>
        </mat-toolbar> 
        <img src="../../assets/uploads/princeware-microwaveable-plastic-multiutility-bowl-pink-new-coral-l2271-pk.png" style="margin-left: 40px;"/>         
  <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Princeware</h6> 
  <ul style="list-style-type: none;">
  <li style="margin-top: -13px;margin-left: -30px;">
  <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Microwaveable Plastic Multiutility Bowl - Pink, New Coral, L2271 PK</a>
 </li>
 </ul> 
 <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">75 ml (Set of 5)</h6> 
 <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 10px;">
     <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 99</h6>
     <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 49</h4>  
     <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
     <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
     <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
      <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
      <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
      <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
         <img src="../../assets/images/grey-basket.png"/>
     </button>
         </mat-card>      
               
  </mat-card>                  
 </div>              
   