<div class="hsbc" style="background-color: #f6f6f6;width: 100%;height: 980px;">
    <mat-card style="width: 1000px;height: 920px;margin-left: 185px;">
    <img src="../../assets/images/HSBC-website.jpg" style="margin-left: -18px;margin-top: -10px;">
    <h2 style="text-align: center;color: orangered;font-size: 29px;font-family: cursive;box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);background: #e4ee90;height: 69px;padding-top:10px;">Terms & Conditions:</h2>
    
    <ul>
        <li>Rs.150 instant discount on a minimum purchase of Rs.2500. Use code: HSBCSEP1. Offer valid once per card during the offer period</li>
        <li>Premier Card holders can avail the offer twice during the offer period. Use code HSBCPR1 for the second order </li>
        <li>This voucher cannot be applied using bigbasket wallet amount</li>
        <li>Entire order amount should be settled using bank card</li>
        <li>Valid only on payments made online. Not valid on Card on Delivery</li>
        <li>This voucher should be applied before placing the order</li>
        <li>Valid only on HSBC Credit Cards</li>
        <li>Valid between 1st to 30th September, 2020</li>
        <li>Offer not valid on Debit Card and Net Banking</li>
        <li>Offer applicable on website, app and m-site</li>
        <li>Offer not valid on products listed under bigbasket Specialty Stores</li>
        <li>Cannot be clubbed with any other offer</li>
        <li>bigbasket has right to cancel orders if found to be of fraudulent nature</li>
        <li>bigbasket & HSBC has the right to change / modify / add / delete any of the terms & conditions of the offer at any time without notice</li>
        <li>Excludes the following products and categories from redemption: Baby Cereals, Baby Foods, Infant Formula, Organic Baby Foods and Srilalitha Rice of all pack sizes</li>
    </ul>
    <button mat-button class="button" routerLink='' routerLinkActive="active" style="background-color:rgba(237,149,51,1.00);;color: #fff;width: 200px;margin-left: 360px;">SHOP NOW</button>
</mat-card>
    </div>
<!--responsive-->
    <div id="content-mobile">
        <button mat-button routerLink='' routerLinkActive="active" style="background-color:rgba(237,149,51,1.00);;color: #fff;width: 200px;margin-left: 360px;">SHOP NOW</button>
    </div>
    <!--ends-->   