<div class="citi" style="background-color: #f6f6f6;width: 100%;height: 930px;">
    <mat-card style="width: 1000px;height: 850px;margin-left: 185px;">
    <img src="../../assets/images/Citi - website.jpg" style="margin-left: -18px;">
    <h2 class="terms" style="border:1px solid rgba(225,221,221,1.00);border-radius: 5px;text-align: center;color: rgb(224, 144, 20);font-size: 20px;width:300px;margin-left: 320px;">
        TERMS AND CONDITIONS
    </h2>
    <ul>
        <li>
            Use code: CITISEPT
        </li>
        <li>
            Rs.250 instant discount on Citi Credit & Debit Cards
        </li>
        <li>
            Minimum purchase required is Rs.3000
        </li>
        <li>
            User is eligible to transact from the same bb account for the second time and use another card to be eligible for the offer
        </li>
        <li>
            Valid once per card during the offer period
        </li>
        <li>
            Offer valid on Citibank Credit & Debit Cards
        </li>
        <li>
            Offer applicable on website, app & m-site
        </li>
        <li>
            Offer is not valid on Paytm First Cards and Citi Corporate Cards
        </li>
        <li>
            Add on cards will be treated as separate cards
        </li>
        <li>
            In the event orders are fully cancelled (during & outside the Offer Period), the corresponding instant
savings applicable on that order / transaction will not be granted
        </li>
        <li>
            Cannot be clubbed with any other offer Offer
        </li>
        <li>
            Valid between 1st - 5th September 2020
        </li>
        <li>
            Offer valid only on payments made online 
        </li>
        <li>
            bigbasket has the right to cancel orders if found to be of fraudulent nature  
        </li>
        <li>
            bigbasket reserves the right to change / modify / add / delete any of the terms and conditions of the offer at any time without notice  
        </li>
        <li>
            Offer not applicable when the payment is made on card on delivery  
        </li>
        <li>
            Excludes Baby Cereals, Baby Foods, Infant Formula and Organic Baby Foods from redemption
        </li>
    </ul>
    </mat-card>
    <button mat-button routerLink='' id="shop" routerLinkActive="active"  style="background-color:rgb(3, 134, 54);color: #fff;width: 200px;margin-left: 480px;margin-top: 20px;">SHOP NOW</button>   
    
</div>
<!--responsive-->
<div id="content-mobile">
    <button mat-button routerLink=''  routerLinkActive="active"  style="background-color:rgb(3, 134, 54);color: #fff;width: 200px;margin-left: 480px;margin-top: 20px;">SHOP NOW</button>   
</div>
<!--ends-->