<div class="chips-namkeens">
<a href="http://localhost:4200/" class="home"  style="text-decoration: none;margin-left: 90px;">HOME ></a>
<h6 style="color: #808285;margin-left:140px;margin-top: -20px;">CHIPS & NAMKEENS</h6>
<div class="category" style="background-color:transparent;width: 270px;height: 250px;margin-left: 90px;margin-top: -40px;">
    <h4 id="category" style="margin-top: 70px;font-size: 16px;color: #222;">Categories</h4>
    <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
<ul style="display: inline;list-style-type:none;">
    <li style="margin-top:-20px;">
     <a href="">Gourmet & World Food</a>
 </li>
     <li>
     <a href="">Snacks, Dry Fruits, Nuts (5)</a>
 </li>
<li>
<a href="">Snacks & Branded Foods</a>
</li>
<li>
<a href="">Ready To Cook & Eat (5)</a>
</li>
<li>
<a href="">Snacks & Namkeen (136)</a>
</li>
 </ul>
</div>

<div class="brand" style="width: 230px;height: 250px;background-color:transparent;margin-left: 80px;margin-top: -110px;position: relative;z-index: 1;">
<h4 id="brand-title" style="font-size: 16px;color: #222;margin-left: 10px;">Brand</h4>
<mat-divider style="width: 210px;margin-top: -15px;"></mat-divider> 
<input type="text" placeholder="Search by Brand" style="width: 208px;margin-top: 3px;margin-left:4px;padding-left: 16px;"/>
 <img src="../../assets/images/search.png" style="margin-left: 186px;margin-top: -50px;">
 <div style="position: absolute;overflow-y:scroll;height: 180px;width: 200px;margin-left: 10px;margin-top: -10px;">
            <mat-checkbox >A-1 Chips</mat-checkbox><br>
            <mat-checkbox >ACT II</mat-checkbox><br> 
            <mat-checkbox >Bikaji</mat-checkbox><br>
            <mat-checkbox >Bingo</mat-checkbox><br> 
            <mat-checkbox >Doritos</mat-checkbox><br>
            <mat-checkbox >GoodDiet</mat-checkbox><br> 
            <mat-checkbox >Haldirams</mat-checkbox><br>
            <mat-checkbox >Kettle Studio</mat-checkbox><br> 
            <mat-checkbox >Kurkure</mat-checkbox><br>
            <mat-checkbox >Lays</mat-checkbox><br> 
            <mat-checkbox >Peppy</mat-checkbox><br>
</div>
</div>

<div style="width: 230px;height: 130px;background-color:transparent;margin-left: 80px;margin-top: 10px;position: relative;z-index: 1;">
    <h4 id="price-title" style="font-size: 16px;color: #222;margin-left: 10px;">Price</h4>
    <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>   
    <div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
        <mat-checkbox >Less than Rs 20 (31)</mat-checkbox><br>
        <mat-checkbox >Rs 21 to Rs 50 (40)</mat-checkbox><br>
        <mat-checkbox >Rs 51 to Rs 100 (46)</mat-checkbox><br>
        <mat-checkbox >Rs 101 to Rs 200 (4)</mat-checkbox><br>
        <mat-checkbox >Rs 201 to Rs 500 (3)</mat-checkbox><br>
        <mat-checkbox >More than Rs 501 (16)</mat-checkbox><br>
     </div> 
    </div> 
  
 <div style="width: 230px;height: 130px;background-color:transparent;margin-left: 80px;margin-top: 100px;position: relative;z-index: 1;">
 <h4 id="discount" style="font-size: 16px;color: #222;margin-left: 10px;">Discount</h4>
 <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>   
 <div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
           <mat-checkbox >Upto 5% (6)</mat-checkbox><br>
           <mat-checkbox >5% - 10% (69)</mat-checkbox><br>
           <mat-checkbox >10% - 15% (68)</mat-checkbox><br>
           <mat-checkbox >15% - 25% (3)</mat-checkbox><br>
           <mat-checkbox >More than 25% (11)</mat-checkbox><br>
     </div> 
     </div>

 <div style="width: 230px;height: 250px;background-color:transparent;margin-left: 80px;margin-top: 70px;position: relative;z-index: 1;">
 <h4 id="pack-size" style="font-size: 16px;color: #222;margin-left: 10px;">Pack Size</h4>
 <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
 <input type="text" placeholder="Search by Pack Size" id="search-icon" style="width: 208px;margin-top: 3px;margin-left:6px;padding-left: 16px;"/>
 <img src="../../assets/images/search.png" id="search-brand" style="margin-left: 186px;margin-top: -50px;">
 <div style="position: absolute;overflow-y:scroll;height: 140px;width: 200px;margin-left: 10px;margin-top: -20px;">
               <mat-checkbox >40 g Pouch </mat-checkbox><br>
               <mat-checkbox >45 g Pouch </mat-checkbox><br>
               <mat-checkbox >19 g</mat-checkbox><br>
               <mat-checkbox >26 g</mat-checkbox><br>
               <mat-checkbox >28 g</mat-checkbox><br>
               <mat-checkbox >30 g</mat-checkbox><br>
               <mat-checkbox >30 g Pouch</mat-checkbox><br>
               <mat-checkbox >33 g Pouch</mat-checkbox><br>
               <mat-checkbox >40 g</mat-checkbox><br>
 </div> 
</div> 

<div class="country" style="width: 230px;height: 200px;background-color:transparent;margin-left: 80px;margin-top:-30px;position: relative;z-index: 1;">
<h4 style="font-size: 16px;color: #222;margin-left: 10px;">Country Of Origin</h4>
 <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
 <div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
       <mat-checkbox >India</mat-checkbox><br>
       <mat-checkbox >Malaysia</mat-checkbox><br>
 </div>
 </div>
 <div style="width: 230px;height: 200px;background-color:transparent;margin-left: 80px;margin-top:-100px;position: relative;z-index: 1;">
    <h4 id="cooking" style="font-size: 16px;color: #222;margin-left: 10px;">Cooking Method</h4>
     <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
     <div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
           <mat-checkbox >Microwave</mat-checkbox><br>
           <mat-checkbox >Pressure Cooker</mat-checkbox><br>
     </div>
     </div>

 <div style="width: 230px;height: 200px;background-color:transparent;margin-left: 80px;margin-top:-100px;position: relative;z-index: 1;">
 <h4 id="food" style="font-size: 16px;color: #222;margin-left: 10px;">Food Preference</h4>
  <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
 <div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
               <mat-checkbox >Vegetarian</mat-checkbox><br>
 </div>
 </div>

 <mat-divider [vertical]="true" style="width: 300px;height: 1370px;margin-left: 20px;margin-top: -1480px;"></mat-divider> 
 <div class="banner-section" >
 <div style="width: 900px;height: 1430px;background-color: transparent;margin-left: 330px;margin-top: -1380px;">
    <h4 class="chips" style="font: 24px ProximaNovaA;color:#58595b;">Chips & Namkeens (9)</h4>
    <ul id="all-products" style="list-style-type: none;">
    <li style="margin-top: 40px;margin-left:-1px;">
    <a href="" style="color: #58595b!important;font-size: 12px;font-family: ProximaNovaA-Semibold;border-bottom: 2px solid #84c225;">ALL PRODUCTS</a>
     </li>
     </ul>
     <img src="../../assets/images/bus.png" id="bus-img" style="margin-top:-60px"/>  
    <mat-divider style="margin-top: -30px;"></mat-divider> 
<div class="papad">
 <mat-card  style="width: 240px;height: 420px;margin-top: 20px;margin-left: 20px;">
 <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
 <span style="color: #ba5253;font-size: 10px;margin-left:110px;"> GET 31% OFF </span> 
 <img src="../../assets/images/asterisk.png"/>
 </mat-toolbar>
 <img src="../../assets/uploads/tasties-handmade-papad-chana-masala.png" style="margin-left: 40px;"/> 
 <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Tasties</h6> 
 <ul style="list-style-type: none;">
 <li style="margin-top: -13px;margin-left: -30px;">
 <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Handmade Papad - Chana Masala</a>
 </li>
 </ul> 
 <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">200 g</h6> 
 <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 20px;">
 <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 85 </h6>
 <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 59</h4>  
 <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
  <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
  <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
 <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
 <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
 <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
    <img src="../../assets/images/grey-basket.png"/>
</button>
    </mat-card>
    </mat-card>    
</div>
<div class="namkeen">
 <mat-card  style="width: 240px;height: 420px;margin-top: -420px;margin-left: 290px;">
 <img src="../../assets/uploads/haldirams-namkeen-bhujia-sev.png" style="margin-left: 40px;"/> 
 <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Haldirams</h6> 
 <ul style="list-style-type: none;">
<li style="margin-top: -13px;margin-left: -30px;">
 <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Namkeen - Bhujia Sev</a>
 </li>
 </ul> 
<h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">1 kg Pouch</h6>   
<mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 30px;">
<h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -16px;margin-left: 65px;">MRP Rs 215</h4>  
 <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
 <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
 <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
 <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
 <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
 <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
 <img src="../../assets/images/grey-basket.png"/>
</button>
 </mat-card>   
</mat-card>
</div>
<div class="pringles">
<mat-card  style="width: 240px;height: 420px;margin-top:-420px;margin-left: 560px;">
<mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
 <span style="color: #ba5253;font-size: 10px;margin-left:110px;"> GET 7% OFF</span> 
 <img src="../../assets/images/asterisk.png"/>
 </mat-toolbar>
 <img src="../../assets/uploads/pringles-sour-cream-onion.png" style="margin-left: 40px;"/> 
 <img src="../../assets/images/green-circle.png" style="margin-left: 30px;"/>
 <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 15px;margin-top: -20;">Pringles</h6> 
 <ul style="list-style-type: none;">
<li style="margin-top: -13px;margin-left: -30px;">
 <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Sour Cream & Onion</a>
 </li>
 </ul> 
<h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">110 g</h6> 
<mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 10px;">
    <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 99</h6>
    <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 91.67</h4>  
    <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
     <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
     <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
    <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
    <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
    <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
       <img src="../../assets/images/grey-basket.png"/>
 </button>
</mat-card>
 </mat-card>
</div>
<div class="wheat">
 <mat-card  style="width: 240px;height: 430px;margin-top: 20px;margin-left: 20px;">
 <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
<span style="color: #ba5253;font-size: 10px;margin-left:110px;"> GET 10% OFF </span> 
 <img src="../../assets/images/asterisk.png"/>
  </mat-toolbar>
<img src="../../assets/uploads/whole-wheat-khakhra-chilly-kothmir.png" style="margin-left: 40px;"/> 
  <img src="../../assets/images/green-circle.png" style="margin-left: 10px;margin-top: -30px;"/>
  <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 15px;margin-top: -30;">Tasties</h6> 
  <ul style="list-style-type: none;">
 <li style="margin-top: -13px;margin-left: -30px;">
  <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Whole Wheat Khakhra - Chilly Kothmir</a>
  </li>
  </ul> 
 <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">180 g</h6> 
 <mat-card style="width: 212px;height: 135px;border: 1px solid #fcfcfc;margin-top: -10px;">
    <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 65</h6>
    <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 58.50</h4>  
    <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
     <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
     <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
    <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
    <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
    <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
       <img src="../../assets/images/grey-basket.png"/>
   </button>
   </mat-card>    
</mat-card>
</div>
<div class="potato">
<mat-card  style="width: 240px;height: 430px;margin-top: -430px;margin-left: 290px;">
<mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
<span style="color: #ba5253;font-size: 10px;margin-left:110px;"> GET 15% OFF </span> 
 <img src="../../assets/images/asterisk.png"/>
 </mat-toolbar> 
 <img src="../../assets/uploads/kettle-studio-potato-chips-rock-sea-salt-english-vinegar.png" style="margin-left: 40px;"/> 
 <img src="../../assets/images/green-circle.png" style="margin-left: 10px;margin-top: -30px;"/>
 <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 15px;margin-top: -30;">Kettle Studio</h6> 
 <ul style="list-style-type: none;">
<li style="margin-top: -13px;margin-left: -30px;">
 <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Potato Chips - Rock Sea Salt & English Vinegar</a>
 </li>
 </ul> 
<h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">125 g</h6>  
<mat-card style="width: 212px;height: 135px;border: 1px solid #fcfcfc;margin-top: -10px;">
    <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 99</h6>
    <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 84.15</h4>  
    <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
     <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
     <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
    <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
    <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
    <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
       <img src="../../assets/images/grey-basket.png"/>
   </button>
   </mat-card> 
 </mat-card>
</div>
<div class="banana">
 <mat-card  style="width: 240px;height: 420px;margin-top:-420px;margin-left: 560px;">
 <img src="../../assets/uploads/tasties-banana-chips-masala.png" style="margin-left: 40px;"/> 
 <img src="../../assets/images/green-circle.png" style="margin-left: 10px;margin-top: -30px;"/>
 <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Tasties</h6> 
 <ul style="list-style-type: none;">
<li style="margin-top: -13px;margin-left: -30px;">
 <a href="" style="font-size:13px;color:#000;margin-top: -30px;">Banana Chips - Masala</a>
 </li>
 </ul> 
 <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">100 g</h6>
 <mat-card style="width: 212px;height: 135px;border: 1px solid #fcfcfc;margin-top: 10px;">
    <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -16px;margin-left: 65px;">MRP Rs 59</h4>  
    <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
     <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
     <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
    <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
    <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
    <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
       <img src="../../assets/images/grey-basket.png"/>
   </button>
   </mat-card>  
</mat-card>   
</div>
<div class="pizza">
<mat-card class="pedigree" style="width: 240px;height: 420px;margin-left: 20px;margin-top: 20px;">
 <img src="../../assets/uploads/pringles-potato-crisps-pizza-flavour.png" style="margin-left: 30px;"/>
 <img src="../../assets/images/green-circle.png" style="margin-left: 10px;margin-top: -30px;"/>
 <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 10px;">Pringles</h6>
<ul style="list-style-type: none;">
 <li style="margin-top: -13px;margin-left: -30px;">
 <a href="" style="font-size:13px;color:#000;margin-top: -30px;">Potato Crisps Pizza flavour</a>
 </li>
 </ul>
 <h6 style="color: #4a4a4a;font-size: 11px;margin-top: -10px;margin-left: 10px;">110 g</h6>
 <mat-card style="width: 212px;height: 135px;border: 1px solid #fcfcfc;margin-top: 10px;">
    <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -16px;margin-left: 65px;">MRP Rs 99</h4>  
    <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
     <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
     <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
    <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
    <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
    <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
       <img src="../../assets/images/grey-basket.png"/>
   </button>
   </mat-card> 
</mat-card>
</div>
<div class="popcorn">
<mat-card class="pedigree" style="width: 240px;height: 420px;margin-left: 290px;margin-top: -420px;">
 <img src="../../assets/uploads/act-ii-instant-popcorn-classic-salted.png" style="margin-left: 30px;"/>
 <img src="../../assets/images/green-circle.png" style="margin-left: 10px;margin-top: -30px;"/>
        <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 10px;">ACT II</h6>
    <ul style="list-style-type: none;">
        <li style="margin-top: -13px;margin-left: -30px;">
            <a href="" style="font-size:13px;color:#000;margin-top: -30px;">Instant Popcorn - Classic Salted</a>
        </li>
    </ul>
 <mat-card style="width: 212px;height: 135px;border: 1px solid #fcfcfc;margin-top: 30px;">
<h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -16px;margin-left: 65px;">MRP Rs 10</h4>  
        <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
         <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
         <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
        <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
        <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
        <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
           <img src="../../assets/images/grey-basket.png"/>
       </button>
       </mat-card>    
</mat-card>
</div>
<div class="puffs">
<mat-card class="pedigree" style="width: 240px;height: 420px;margin-left: 560px;margin-top: -420px;">
 <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
 <span style="color: #ba5253;font-size: 10px;margin-left:110px;"> GET 11% OFF </span> 
<img src="../../assets/images/asterisk.png"/>
 </mat-toolbar>
<img src="../../assets/uploads/gooddiet-multigrain-puffs-tangy-tomato.png" style="margin-left: 30px;"/>
<img src="../../assets/images/green-circle.png" style="margin-left: 10px;margin-top: -30px;"/>
 <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 10px;">GoodDiet</h6>
 <ul style="list-style-type: none;">
 <li style="margin-top: -13px;margin-left: -30px;">
 <a href="" style="font-size:13px;color:#000;margin-top: -30px;">Multigrain Puffs - Tangy Tomato</a>
 </li>
 </ul>
 <mat-card style="width: 212px;height: 135px;border: 1px solid #fcfcfc;margin-top: 30px;">
    <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 10</h6>
    <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top:-32px;margin-left: 67px;"> Rs 17</h4>  
    <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -16px;margin-left: 50px;">OUT OF STOCK</h4>  
    <button mat-button style="background-color: #fee67c;width: 140px;height: 30px;margin-left:4px;">NOTIFY ME
       <img src="../../assets/images/grey-basket.png"/>
   </button>
   </mat-card> 
    </mat-card>
</div>
  </div>   
</div>
</div>    
