

<div class="full" style="padding: 0;margin: 0;overflow-x: hidden;"  >
        <ngb-carousel  class="carousel" >
          
            <ng-template ngbSlide >
              <div class="picsum-img-wrapper">
                <img src="../../assets/uploads/banner1.png" alt="Random first slide" class="banner1" width="100%" >
              </div>
              
            </ng-template>
            
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper" >
                <img src="../../assets/uploads/banner3.png" alt="Random third slide" class="banner3" width="100%">
              </div>
              
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper" >
                  <img src="../../assets/uploads/banner4.png" alt="Random second slide" class="banner4" width="1390px">
                </div>
               
              </ng-template>
              <ng-template ngbSlide>
                <div class="picsum-img-wrapper" >
                  <img src="../../assets/uploads/banner5.png" alt="Random second slide" class="banner5" width="1390px">
                </div>
               
              </ng-template>
          </ngb-carousel>
    
    <div class="buttons" style="background-color:transparent;height: 90px;margin-top: 35px;margin-left: 40px;margin-right: 40px;">
      <a href=""   routerLink="/homekitchen" routerLinkActive="active" style="margin-left: 10px;margin-right: 10px;">
      <img src="../../assets/uploads/home.png" class="home"  >
      </a>
      <a href=""  routerLink="/eggsmeat" routerLinkActive="active" style="margin-left: 10px;margin-right: 10px;" >
      
        <img src="../../assets/uploads/eggs.png" class="egg" >
        </a>
        <a href="" routerLink="/precautionary" routerLinkActive="active" style="margin-left: 10px;margin-right: 10px;" >
      
          <img src="../../assets/uploads/measures.png" class="measures" >
          </a>  
          <a href="" routerLink="/bbstar" routerLinkActive="active" style="margin-left: 10px;margin-right: 10px;">
      
            <img src="../../assets/uploads/bb-star.png" class="bb-star"  >
            </a>  
            <a href="" routerLink="/combostore" routerLinkActive="active" style="margin-left: 10px;margin-right: 10px;" >
      
              <img src="../../assets/uploads/combo.png" class="combo" >
              </a> 
              <a href="" routerLink="/deals-of-week" routerLinkActive="active" style="margin-left: 10px;margin-right: 10px;" >
      
                <img src="../../assets/uploads/deals.png" class="deals" >
                </a>
    </div>

     
 <div class="section-1" >
    <ngb-carousel style="margin-left: 80px;margin-right: 80px;" class="carousel2">
        <ng-template ngbSlide >
          <div class="organic-img" >
            <img src="../../assets/uploads/organic.jpg" class="organic" alt="Random first slide" width="100%;"> 
          </div>
          
        </ng-template>
        <ng-template ngbSlide>
          <div class="ganesh-img">
            <img src="../../assets/uploads/ganesh.png" class="ganesh" alt="Random second slide" width="100%;">
          </div>
          
        </ng-template>
        <ng-template ngbSlide>
          <div class="healthy-img">
            <img src="../../assets/uploads/healthy.jpg" class="healthy" alt="Random third slide" width="100%;">
          </div>
          
        </ng-template>
        <ng-template ngbSlide>
          <div class="hardin-img">
            <img src="../../assets/uploads/hardin.jpg" class="hardin" alt="Random third slide" width="100%;">
          </div>
          
        </ng-template>
        <ng-template ngbSlide>
          <div class="payment-img">
            <img src="../../assets/uploads/payment.jpg" class="payment" alt="Random third slide" width="100%;" >
          </div>
          
        </ng-template>
      </ngb-carousel>
    </div>

   <div id="bank"  style="width:1180px;height: 300px;background-color:transparent;margin-top: 30px;margin-left: 60px;">
      <h2 class="section-title">Bank Offers</h2>
      <mat-divider id="divider" style="margin-top:-10px;width: 1140px;margin-left: 50px;margin-right: 20px;"></mat-divider>
   </div>
   <div class="container" style="margin-left: 70px;margin-right: 70px;">
    
    <div class="row" >

      <div class="citi-bank" style="margin-left:5px;margin-right: 5px;">
        <a href="#"  routerLink="/citibank" routerLinkActive="active">
        <img src="../../assets/images/All_Citi_DT_1_480x360_1stSep.png" id="citi"  width="270px" height="200px"/>
      </a>
      </div>
    
      <div class="icici-bank" style="margin-left:5px;margin-right: 5px;">
        <a href="#"  routerLink="/icicibank" routerLinkActive="active" >
        <img src="../../assets/images/All_Icici_Cards_DT_2_480x360_1stSep.jpg" id="icici" width="270px" height="200px"/>
      </a>
      </div>
      
      <div class="hsbc-bank" style="margin-left:5px;margin-right: 5px;">
        <a href="#" routerLink="/hsbcbank" routerLinkActive="active" >
        <img src="../../assets/images/T1_All_HSBC_DT_3_480x360_1stSep.jpg"  id="hsbc" width="270px" height="200px"/>
        </a>
      </div>

      <div class="idbi-bank" style="margin-left:5px;margin-right: 5px;">
        <a href="#"  routerLink="/idbibank" routerLinkActive="active" >
        <img src="../../assets/images/T1_All_IDBI_DT_4_480x360_1stSep.jpg" id="idbi" width="270px" height="200px"/>
      </a>
      </div>

    </div>
  </div>

  <div class="seasons" style="width:1170px;height: 250px;background-color:transparent;margin-left: 80px;margin-top:-10px;">
    <h2 class="section" >Must Haves this September</h2>
    <mat-divider style="margin-top:-10px;width:1150px ;"></mat-divider>
  </div>
  <div class="container1" style="margin-left: 10px;margin-right: 10px;">  
    <div class="row" style="margin-left:-30px;">
      <div class="mask-gloves" style="width: 270px;margin-left:10px;">
     <a href="#" routerLink="/mask-gloves" routerLinkActive="active">
     <img src="../../assets/images/masks-gloves.png" id="mask" width="280px" height="200px"/>
      </a>
    </div>
      <div class="sanitizers" style="width:270px;margin-left:-230px;"  >
        <a href="#" routerLink="/sanitizers" routerLinkActive="active"  >
        <img src="../../assets/images/sanitizers.png" id="sanitarizer" width="270px" height="200px"/>
      </a>
      </div>
      
      <div class="stationaries" style="width:270px;margin-left: -240px;" >
        <a href="#"   routerLink="/stationery" routerLinkActive="active" >
        <img src="../../assets/images/stationery.png" id="stationery" width="270px" height="200px"/>
        </a>
      </div>

      <div class="beauty-hygiene" style="width:270px;margin-left: -240px;" >
        <a href="#"  routerLink="/beauty-at-home" routerLinkActive="active" >
        <img src="../../assets/images/All_beauty-hygiene.png" id="hygiene" width="270px" height="200px"/>
      </a>
      </div>

    </div>
  </div>
    
   <div id="grid1" style="width:1185px;height:450px;background-color:transparent;margin-top: 50px;margin-left: 90px;">
  <h2 class="fruits">Fruits & Vegetable Corner</h2>
  <mat-divider style="margin-top:-10px;width: 1150px;"></mat-divider>
  <mat-card id="organic-store" style="width:560px;height:360px;margin-top: 20px;margin-left:15px ;">
  <img src="../../assets/uploads/store.png" id="store" alt="organic-store" style="margin-left:-16px;margin-top:-15px ;"/>
  </mat-card>
  <mat-grid-list class="mat-grid-list"  cols="2" rowHeight="187px" gutterSize="13px"  >
    <mat-grid-tile id="grid" style="margin-left: 430px;margin-top: -360px;" >
      <a href="#" class="fresh">
      <img src="../../assets/uploads/fresh.png" id="fresh-fruits" />
    </a>
    </mat-grid-tile>
    <mat-grid-tile style="margin-left: 110px;margin-top: -360px;">
      <a href="#" class="daily">
      <img src="../../assets/uploads/daily.png" id="daily-vegetables"/>
    </a>
    </mat-grid-tile>
    <mat-grid-tile style="margin-left: 430px;margin-top: -370px;" >
      <a href="#" class="herbs">
      <img src="../../assets/uploads/herbs.png" id="herbs-seasoning"/>
    </a>
    </mat-grid-tile>
    <mat-grid-tile  style="margin-left: 110px;margin-top: -370px;" >
      <a href="#" class="exotic">
      <img src="../../assets/uploads/exotic.png" id="exotic-corner"/>
    </a>
    </mat-grid-tile>
  </mat-grid-list>
   </div>
   <div style="width:1180px;height:260px;background-color:transparent;margin-left: 80px;margin-top: 35px;">
    <h2 class="daily-staples" >Your Daily Staples</h2>
    <mat-divider style="margin-top:-10px;width: 1110px;margin-left: 50px;margin-right: 50px;"></mat-divider>
   </div>
   <div class="container" style="margin-left:70px;">
  <div class="row" style="margin-top:40px;margin-left:4px;">
   <div class="card">
  <a href="#" id="atta">
   <img src="../../assets/uploads/atta.png" id="atta-img"  width="260px" height="200px"/>
 </a>
 </div>
    
 <div class="card">
 <a href="#" id="rice">
 <img src="../../assets/uploads/rice.png" id="rice-img" width="260px" height="200px"/>
 </a>
 </div>

 <div class="card">
  <a href="#" id="oil">
  <img src="../../assets/uploads/oil.png" id="oil-img" width="260px" height="200px"/>
   </a>
  </div>

 <div class="card">
  <a href="#" id="salt">
   <img src="../../assets/uploads/salt.png" id="salt-img"  width="260px" height="200px"/>
  </a>
   </div>
 </div>
</div>

   <div style="width:1200px;height:450px;background-color:transparent;margin-top: 50px;margin-left: 80px;">
   <h2 class="snack">T20 Snack store</h2>
   <mat-divider style="margin-top:-10px;width: 1140px;margin-left: 15px;"></mat-divider>
   <div style="width: 558px;height: 376px;margin-top:15px ;margin-left: 19px;">
    <a href="#" routerLink="/chips-namkeens" routerLinkActive="active">
      <img src="../../assets/uploads/chips-namkeens_378.png" id="snack-corner" style="margin-left:-17px;margin-top:-4px;"/>
    </a>
  </div>
  <div class="grid-list">
  <mat-grid-list class="t20-snacks" cols="2" rowHeight="183px" gutterSize="13px" style="background-color:transparent;margin-top:-376px;">
    <mat-grid-tile class="biscuit-grid"  style="width: 570px;margin-left: 430px;">
      <a href="#" routerLink="/biscuits-cookies" routerLinkActive="active"  >
      <img src="../../assets/uploads/biscuits-cookies_184.png" id="biscuits"/>
    </a>
    </mat-grid-tile>
    <mat-grid-tile id="frozen" style="width: 570px;margin-left:107px;">
      <a href="#" routerLink="/frozen-snacks" routerLinkActive="active">
      <img src="../../assets/uploads/frozen-snacks_184.png" class="frozen-img"/>
    </a>
    </mat-grid-tile>

    <mat-grid-tile id="sauce" style="width: 570px;margin-left: 430px;">
      <a href="#" routerLink="/sauce-spreads" routerLinkActive="active">
      <img src="../../assets/uploads/sauce-spreads-dips_184.png" class="spreads" />
    </a>
    </mat-grid-tile>
  
    <mat-grid-tile id="soups" style="width: 570px;margin-left:107px;">
      <a href="#" routerLink="/soups-noodles" routerLinkActive="active">
      <img src="../../assets/uploads/soups-noodle-pasta_184.png" class="soups-noodles"/>
    </a>
    </mat-grid-tile>
  </mat-grid-list>
  </div>
   </div>
   

   <div style="width: 1180px;height: 260px;background-color:transparent;margin-left: 65px;margin-top: 40px;">
    <h2 class="drinks">Drinks & Beverages</h2>
    <mat-divider style="width: 1090px;margin-top: -10px;margin-left:60px;"></mat-divider>
    </div>
    <div class="container2" style="margin-left: 70px;margin-right: 70px;margin-top:-250px;width: 1120px;">
      <div class="row">
        <div class="Tea" style="width: 250px;height: 200px;margin-top: 40px;margin-left: 70px;">
        <a href="#">
          <img src="../../assets/uploads/tea.png" id="tea-img" width="250px" height="200px" style="margin-top:2px ;margin-left:2px;"/>
        </a>
      </div>
      <div class="Coffe" style="width: 250px;height: 200px;margin-top: 40px;margin-left: 20px;">
        <a href="#" >
          <img src="../../assets/uploads/coffe.png" id="coffe-img" width="250px" height="200px" style="margin-top:2px;margin-left:2px;"/>
        </a>
      </div>
      <div  style="width: 250px;height: 200px;margin-top: 40px;margin-left: 20px;">
        <a href="#" class="Juice">
          <img src="../../assets/uploads/juice.png" id="juice-img" width="250px" height="200px" style="margin-top:2px;margin-left:2px;" />
        </a>
      </div>
      <div  style="width: 250px;height: 200px;margin-top: 40px;margin-left:15px;">
        <a href="#" class="Pediasure">
          <img src="../../assets/uploads/pediasure.png" alt="" width="250px" height="200px" style="margin-top:2px;margin-left:2px;border: 1px solid lightcoral;"/>
        </a>
      </div>
      </div>
    </div>
     
   
    <div style="width: 1180px;height: 200px;background-color:transparent;margin-left: 60px;margin-top: 50px;">
      <h2 class="cleaning">Cleaning & Household</h2>
      <mat-divider style="margin-top: -15px;margin-left:70px;width: 1090px;"></mat-divider>
    </div>

    <div class="container" style="margin-left: 70px;margin-right: 70px;" >
      <div class="row" style="margin-left: 20px;">
        <div class="machine-wash" style="width:180px;height:150px;margin-top: 90px;">
          <a href="#" id="wash">
            <img src="../../assets/uploads/wash.png" class="wash" width="180px" height="150px" style="border: 1px solid lightcoral;"/>
          </a>
        </div>
        <div class="liquid-detergent" style="width:180px;height:150px;margin-top: 90px;">
          <a href="#" >
            <img src="../../assets/uploads/liquid.png" id="liquid" alt="" width="180px" height="150px" style="border: 1px solid lightcoral;"/>
           </a>
        </div> 
        <div class="card3" style="width:180px;height: 150px;margin-top: 90px;">
          <a href="#" id="pre">
            <img src="../../assets/uploads/fabric.png" alt="" width="180px" height="150px" style="border: 1px solid lightcoral;"/>
           </a>
        </div>
        <div class="card3" style="width:180px;height: 150px;margin-top: 90px;">
          <a href="#">
            <img src="../../assets/uploads/kitchen.png" alt="" width="180px" height="150px" style="border: 1px solid lightcoral;"/>
           </a>
           </div>
           <div class="card3" style="width:180px;height: 150px;margin-top: 90px;">
            <a href="#" id="freshners">
              <img src="../../assets/uploads/freshners.png" alt="" width="180px" height="150px" style="border: 1px solid lightcoral;"/>
             </a>
             </div> 
            
              <a href="#" style="width:180px;height: 150px;margin-top: 90px;"  >
                <img src="../../assets/uploads/pooja.png" class="pooja" alt="" width="180px" height="150px" style="border: 1px solid lightcoral;"/>
               </a>      
                     
              </div>
    </div>
    <div  style="width: 1180px;height:430px;background-color:transparent;margin-left: 50px;margin-top: 55px;">
      <h2 class="beauty-title" sty>Beauty & Hygiene</h2>
      <mat-divider style="margin-top: -15px;width: 1140px;margin-left: 15px;"></mat-divider>
    </div>
      <div   style="width: 500px;height: 376px;margin-top: -380px;margin-left: 98px;">
        <a  href="#" routerLink="/soaps-shower-gels" routerLinkActive="active">
          <img src="../../assets/uploads/soaps-shower-gels_378.png" id="soaps-shower" style="margin-left:-17px;margin-top:-4px;"/>
        </a>
      </div>
        <mat-grid-list class="hygiene-beauty"  cols="2" rowHeight="200px" gutterSize="13px"  style="background-color:transparent;width: 580px;margin-left: 650px;margin-top: -380px;">
          <mat-grid-tile    style="margin-left: -10px;" >
            <a href="#" routerLink="/mens-grooming" routerLinkActive="active">
              <img src="../../assets/uploads/mens.png" alt=""   />
            </a>
          </mat-grid-tile>
          <mat-grid-tile style="margin-left: -20px;">
            <a href="#" routerLink="/deos-fragrances" routerLinkActive="active">
              <img src="../../assets/uploads/fragrance.png" id="deos-fragrances" alt=""/>
            </a>
          </mat-grid-tile>
          <mat-grid-tile style="margin-left: -10px;margin-top: -20px;">
            <a href="#" routerLink="/oral-care" routerLinkActive="active">
              <img src="../../assets/uploads/oral.png" alt=""/>
            </a>
          </mat-grid-tile>
          <mat-grid-tile style="margin-top: -20px;margin-left: -20px;">
            <a href="#" routerLink="/feminine-hygiene" routerLinkActive="active">
              <img src="../../assets/uploads/feminine-hygiene_184.png" alt=""/>
            </a>
          </mat-grid-tile>
        </mat-grid-list>
      
    <div style="width:1190px;height:200px;background-color:transparent;margin-left:50px;margin-top:20px; ">
    <h2 class="home-kitchen">Home & Kitchen-up to 60% off</h2>
    <mat-divider style="margin-top: -15px;margin-left: 40px;width: 1110px;"></mat-divider>
    </div>
    <div class="container" style="margin-left:-10px;">
      <div class="row" >
          <a href="#" routerLink="/home-under" routerLinkActive="active" style="width: 180px;height: 140px;margin-top: 90px;">
            <img src="../../assets/uploads/under_149.png" class="under-149" width="180px" height="140px" style="border: 1px solid lightcoral;"/>
          </a>
        <div class="card4"  style="width: 180px;height: 140px;margin-top: 90px;margin-left: -190px;">
          <a href="#" id="party"   routerLink="/party-essentials" routerLinkActive="active">
            <img src="../../assets/uploads/party-essentials_360.png" id="party-essentials"  alt="" width="180px" height="140px" style="border: 1px solid lightcoral;"/>
          </a>
        </div>
        
          <a href="#" id="bins"  routerLink="/bins-bathware" routerLinkActive="active" style="width: 180px;height: 140px;margin-top: 90px;margin-left: -190px;">
            <img src="../../assets/uploads/bins-bathware_360.png" class="bins-bathware" width="180px" height="140px" style="border: 1px solid lightcoral;"/>
          </a>

          <a href="#"  routerLink="/non-stick-cookware" routerLinkActive="active" style="width: 180px;height: 140px;margin-top: 90px;margin-left: -190px;">
            <img src="../../assets/uploads/cookware.png" alt="" class="cookware" width="180px" height="140px" style="border: 1px solid lightcoral;"/>
          </a>
      <a href="#" id="crockery"  routerLink="/crockery-glassware" routerLinkActive="active" style="width: 180px;height: 140px;margin-top: 90px;margin-left: -190px;">
        <img src="../../assets/uploads/glassware.png" class="crockery" width="180px" height="140px" style="border: 1px solid lightcoral;"/>
      </a>
    
    <div >
      <a href="" style="width: 180px;height: 140px;margin-left: 1140px ;" >
        <img src="../../assets/uploads/rs-150-299-store_360.png" class="rs" width="180px" height="140px" style="border: 1px solid lightcoral;margin-top: -166px;"/>
      </a>
    </div>   
      </div>
    </div>
    
    <div style="width:1190px;height:200px;background-color:transparent;margin-left:70px;margin-top: 40px;" >
    <h2 class="brand-store">Brand Store</h2>
    <mat-divider style="margin-top: -15px;width: 1130px;margin-left: 20px;"></mat-divider>
    </div>

    <div class="container" style="margin-left:40px;">
      <div class="row">
        <div class="card5" style="margin-top: 87px;width:180px;height: 140px;margin-left: -70px;">
          <a href="#" id="amul">
            <img src="../../assets/uploads/amul.png" alt="" width="180px" height="140px" style="border:1px solid lightgrey;"/>
          </a>
        </div>
     <div class="card5" style="margin-top: 87px;margin-left:-240px;width:180px;height: 140px;">
      <a href="#" id="dettol">
        <img src="../../assets/uploads/dettol.jpg" alt="" width="180px" height="140px" style="border:1px solid lightgrey;"/>
      </a>
     </div> 
      <a href="#" id="cocacola" style="margin-top: 87px;margin-left: -238px;width:180px;height: 140px;" >
        <img src="../../assets/uploads/cocacola.png" class="cocacola" width="180px" height="140px" style="border:1px solid lightgrey;"/>
      </a>
     <div class="card5" style="margin-top: 87px;margin-left: -235px;width:180px;height: 140px;">
      <a href="#" id="loreal">
        <img src="../../assets/uploads/loreal.png"  width="180px" height="140px" style="border:1px solid lightgrey;"/>
      </a>
     </div> 
  
    <a href="#" style="margin-top: 87px;margin-left: -235px;width:180px;height: 140px;">
      <img src="../../assets/uploads/patanjali.png" class="patanjali" width="180px" height="140px" style="border:1px solid lightgrey;"/>
    </a>
   
 <div class="card5" style="margin-top: -139px;margin-left: 1080px;width:180px;height: 140px;">
  <a href="#" id="durex">
    <img src="../../assets/uploads/durex.png" alt="" width="180px" height="140px" style="border:1px solid lightgrey;"/>
  </a>
 </div> 

      </div>
    </div>
    

  
    <div style="width: 1180px;height: 300px;margin-left: 70px;margin-top: 60px;">
   <h2 class="featured">Featured Recipes</h2>
   <mat-divider style="margin-top: -15px;width: 1130px;margin-left: 30px;"></mat-divider>
   </div>
   <div class="slide-show">
   <ngb-carousel class="carousel3" style="margin-top: -250px;margin-left: 90px;width: 1150px;margin-right: 20px;" >
    <ng-template ngbSlide id="NNP3945">
      <div  >
        <img src="../../assets/uploads/NNP3945-1130x400-13thaug.png" class="slide1"  alt="Random first slide" width="100%">
      </div>
    </ng-template>
    <ng-template ngbSlide id="NNP3946">
      <div >
        <img src="../../assets/uploads/NNP3946-1130x400-13thaug.png" class="slide2" alt="Random second slide" width="100%">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div id="NNP3947">
        <img src="../../assets/uploads/NNP3947-1130x400-13thaug.png" class="slide3" alt="Random third slide" width="100%">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div id="NNP3948">
        <img src="../../assets/uploads/NNP3948-1130x400-13thaug.png" class="slide4" alt="Random third slide" width="100%">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div id="NNP3949">
        <img src="../../assets/uploads/NNP3949-1130x400-13thaug.png" class="slide5" alt="Random third slide" width="100%">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div id="NNP3950">
        <img src="../../assets/uploads/NNP3950-1130x400-13thaug.png" class="slide6" alt="Random third slide" width="100%">
      </div>
    </ng-template>
  </ngb-carousel>
   </div>
    <div class="grocery">
    <div class="online-grocery"  style="width: 1150px;height: 490px;margin-top:30px ;margin-left:90px;border: 1px solid;margin-right: 20px;">
      <h1 class="fontsize">bigbasket – online grocery store </h1>
      <p style="margin-left: 20px;font-family: ProximaNovaA-Regular;font-size: 16px;color:#6B6868;display: block;margin-top: -10px;">
          Did you ever imagine that the freshest of
          <b>
              <a href="#" style="color:#50C71F;text-decoration:none ;"> fruits and vegetables</a>
            </b>
          , top quality pulses and food grains, 
          <b>
              <a href="#" style="color:#50C71F;text-decoration:none ;"> dairy products</a>
          </b>
          and hundreds of branded items could be handpicked and <br>
          delivered to your home, all at the click of a button? India’s first comprehensive online megastore, bigbasket.com, brings a whopping 20000+ products with more than 1000 brands, <br>to over 4 million happy customers. From household cleaning products to beauty and makeup, bigbasket has everything you need for your daily needs. 
          bigbasket.com is<br> convenience personified
          We’ve taken away all the stress associated with shopping for daily essentials, and you can now order all your household products and even buy groceries <br> online without travelling long distances or standing in serpentine queues. Add to this the convenience of finding all your requirements at one single source, along with great savings,<br> and you will realize that bigbasket- India’s largest online supermarket, has revolutionized the way India shops for groceries. Online grocery shopping has never been easier. Need things fresh? Whether it’s fruits and vegetables or dairy and meat, we have this covered as well! Get fresh eggs, meat, fish and more online at your convenience. 
          Hassle-free Home Delivery options
      </p>
      <p id="footer" style="color:#6B6868;font-family: ProximaNovaA-Regular;font-size: 16px;display: block;margin-left:17px;">
          We deliver to 25 cities across India and maintain excellent delivery times, ensuring that all your products from groceries to snacks 
          <b >
              <a href="#" style="color:#50C71F ;text-decoration:none;">branded foods</a>
          </b>
          reach you in time. 
      </p>
      <ul style="list-style-type: disc;">
          <li style="font-size: 16px;text-align: -webkit-match-parent;font-family: ProximaNovaA-Regular;color:#6B6868">
              Slotted Delivery: Pick the most convenient delivery slot to have your grocery delivered. From early morning delivery for early birds, to late-night delivery for people who work the late shift, bigbasket caters to every schedule. 
          </li>
          <li style="font-size: 16px;text-align: -webkit-match-parent;font-family: ProximaNovaA-Regular;color: #6B6868;"> Express Delivery: This super useful service can be availed by customers in cities like Bangalore, Mumbai, Pune, Chennai, Kolkata, Hyderabad and Delhi-NCR in which we deliver your orders to your doorstep in 90 Minutes. </li>
          <li style="font-size: 16px;text-align: -webkit-match-parent;font-family: ProximaNovaA-Regular;color: #6B6868;"> BB Specialty stores: Missed out on buying that essential item from your favorite neighborhood store for tonight’s party? We’ll deliver it for you! From bakery, sweets and meat to flowers and chocolates, we deliver your order in 90 minutes, through a special arrangement with a nearby specialty store, verified by us. </li>
      </ul>
      <button mat-button style="color: inherit;font: inherit;background-color:lightgray ;border: 1px solid;width: 95px;height: 30px;margin-left: 20px;">Read more..</button>
  </div>
</div>
</div>