
<div class="homekitchen">
<a href="http://localhost:4200/" class="home"  style="text-decoration: none;margin-left: 90px;">HOME ></a>
<h6 style="color: #808285;margin-left:140px;margin-top: -20px;">KITCHEN, GARDEN & PETS</h6>
<div class="section1">
<ngb-carousel style="width: 1150px;margin-left: 97px;" class="carousel">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/images/l1-nnp.png" class="image1" alt="Random first slide" width="1150px;"> 
      </div>
      
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/images/l2-nnp.png" class="image2" alt="Random second slide" width="1150px;">
      </div>
      
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/images/l3-nnp.png" class="image3" alt="Random third slide" width="1150px;">
      </div>
    </ng-template>
</ngb-carousel>
</div>
<div class="category" style="background-color:transparent;width: 270px;height: 250px;margin-left: 90px;margin-top: -10px;">
    <h4 id="category"  style="margin-top: 70px;font-size: 16px;color: #222;">Category</h4>
    <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
    <a href=""  style="color: #62a154;text-decoration: none;margin-top: -10px;">Kitchen, Garden & Pets</a>
    <ul  style="display: inline;list-style-type: none;">
        <li style="margin-top: 5px;">
            <a href="">Appliances & Electricals (62)</a>
        </li>
        <li>
            <a href="">Bakeware (34)</a>
        </li>
        <li>
            <a href="">Cookware & Non Stick (186)</a>
        </li>
        <li>
            <a href="">Crockery & Cutlery (431)</a>
        </li>
        <li>
            <a href="">Flask & Casserole (88)</a>
        </li>
        <li>
            <a href="">Gardening (2)</a>
        </li>
        <li>
            <a href="">Kitchen Accessories (161)</a>
        </li>
        <li>
            <a href="">Steel Utensils (182)</a>
        </li>
        <li>
            <a href="">Storage & Accessories (558)</a>
        </li>
    </ul>
</div>
<div class="brand" style="width: 230px;height: 250px;background-color:transparent;margin-left: 80px;margin-top: 10px;position: relative;z-index: 1;">
    <h4 id="brand-title" style="font-size: 16px;color: #222;margin-left: 10px;">Brand</h4>
    <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
    <input type="text" placeholder="Search by Brand" id="search-brand" style="width: 208px;margin-top: 3px;margin-left:6px;padding-left: 16px;"/>
<img src="../../assets/images/search.png" id="search-icon" style="margin-left: 186px;margin-top: -50px;">
<div style="position: absolute;overflow-y:scroll;height: 220px;width: 200px;margin-left: 10px;margin-top: -10px;">
    <mat-checkbox >AGARO</mat-checkbox><br>
    <mat-checkbox >All Time</mat-checkbox><br>
    <mat-checkbox >Animology</mat-checkbox><br>
    <mat-checkbox >Anjali</mat-checkbox><br>
    <mat-checkbox >Asian</mat-checkbox><br>
    <mat-checkbox >bb Combo</mat-checkbox><br>
    <mat-checkbox >BB Home</mat-checkbox><br>
    <mat-checkbox >BloomBuddy</mat-checkbox><br>
    <mat-checkbox >Borosil</mat-checkbox><br>
    <mat-checkbox >C&S Electric</mat-checkbox><br>
    <mat-checkbox >Canine Creek</mat-checkbox><br>
</div>

</div>
<div class="capacity" style="width: 230px;height: 500px;background-color:transparent;margin-left: 80px;margin-top: 50px;position: relative;z-index: 1;">
    <h4 id="capacity-title" style="font-size: 16px;color: #222;margin-left: 10px;">Capacity</h4>
    <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
    <div style="position: absolute;height: 280px;width: 200px;margin-left: 10px;margin-top: 10px;">
        <mat-checkbox >100 ml - 200 ml</mat-checkbox><br>
        <mat-checkbox >401 ml - 700 ml</mat-checkbox><br>
        <mat-checkbox >1 L - 2 L</mat-checkbox><br>
        <mat-checkbox >1.5 L - 2 L</mat-checkbox><br>
        <mat-checkbox >701 ml - 1 L</mat-checkbox><br>
        <mat-checkbox >1 L - 3 L</mat-checkbox><br>
        <mat-checkbox >501 ml - 800 ml</mat-checkbox><br>
        <mat-checkbox >1.1 Kg - 5 Kg</mat-checkbox><br>
        <mat-checkbox >Less than 1 L</mat-checkbox><br>
        <mat-checkbox >1.1 L - 1.5 L</mat-checkbox><br>
        <mat-checkbox >701 ml & above</mat-checkbox><br>
        <mat-checkbox >101 ml - 300 ml</mat-checkbox><br>
        <mat-checkbox >201 ml - 400 ml</mat-checkbox><br>
        <mat-checkbox >Below 100 ml</mat-checkbox><br>
    </div>
    </div>
    <div class="product-feature" style="width: 230px;height: 500px;background-color:transparent;margin-left: 80px;margin-top: -10px;position: relative;z-index: 1;">
        <h4 id="product" style="font-size: 16px;color: #222;margin-left: 10px;">Product Feature</h4>
        <div style="position: absolute;height: 300px;width: 200px;margin-left: 10px;margin-top: 10px;">
        <mat-divider style="width: 210px;margin-top: -25px;"></mat-divider>
        <mat-checkbox >Dishwasher Safe</mat-checkbox><br>
    <mat-checkbox >Microwave Safe</mat-checkbox><br>
    <mat-checkbox >Organic</mat-checkbox><br>
   </div>
  
</div>
<mat-divider [vertical]="true" style="margin-top: -1580px;width: 300px;height: 1250px;margin-left: 20px;"></mat-divider>

<div class="banner-section" >
<div  style="width: 900px;height: 1240px;background-color: transparent;margin-left: 330px;margin-top: -1270px;">
    <h4 class="kitchen" style="font: 24px ProximaNovaA;color:#58595b;">Kitchen , Garden & Pets (6)</h4>
    <ul id="all-products" style="list-style-type: none;">
        <li style="margin-top: 40px;margin-left:-1px;">
            <a href="" style="color: #58595b!important;font-size: 12px;font-family: ProximaNovaA-Semibold;border-bottom: 2px solid #84c225;">ALL PRODUCTS</a>
        </li>
    </ul>
    <img src="../../assets/images/bus.png" id="bus-img" style="margin-top:-70px"/>
    <mat-divider style="margin-top: -30px;"></mat-divider>
    <div class="duracell-AAA">
    <mat-card class="card1"  style="width: 240px;height: 450px;margin-top: 26px;margin-left: 20px;">
        <mat-toolbar class="toolbar1" style="width: 220px;height: 20px;margin-top: -10px;">
         <span style="color: #ba5253;font-size: 10px;margin-left:110px;"> GET 10% OFF </span>  
         <img src="../../assets/images/asterisk.png"/>
        </mat-toolbar>
        <img src="../../assets/images/duracell.png" class="duracell" style="margin-left: 30px;"/>
        <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 10px;">Duracell</h6>
        <ul style="list-style-type: none;">
            <li style="margin-top: -13px;margin-left: -30px;">
                <a href="" style="font-size:13px;color:#000;margin-top: -30px;">Ultra - Alkaline Battery AAA</a>
            </li>
        </ul>
       <h6 style="color: #689f38;font-size: 11px;margin-top: -10px;margin-left: 10px;"> 4.4 </h6> 
       <h6 style="color:#4a4a4a;font-size:11px;margin-top: -30px;margin-left: 40px;">1582 Ratings</h6>
       <select (change)="selectChangeHandler($event)" style="width: 180px;height: 24px;">
        <option value="6 pcs - to Rs 250.00" style="font-size: 12px;color: #59595b;" >6 pcs - to Rs 250.00</option>
        <option value="2 pcs - to Rs 75.60" style="font-size: 12px;color: #59595b;" >2 pcs - to Rs 75.60</option>
        <option value="4 pcs - to Rs 159.60" style="font-size: 12px;color: #59595b;">4 pcs - to Rs 159.60</option>
      </select>
      <mat-card class="inner-card1" style="width: 180px;height: 140px;border: 1px solid #fcfcfc;">
        <h6 style="font-size: 10px ProximaNovaA-Regular;color:#6e6e71;margin-top: -15px;">MRP: </h6>
      <h4 style="font-size:12px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 45px;">{{selectedValue}}</h4>  
      <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
      <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: 30px;margin-left:10px;">Standard Delivery: Tomorrow </span>
      <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
     <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
     <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
     <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
        <img src="../../assets/images/grey-basket.png"/>
    </button>
    </mat-card>
    </mat-card>
</div>
<div class="duracell-AA">
    <mat-card  style="width: 240px;height: 450px;margin-left: 284px;margin-top: -450px;">
        <mat-toolbar class="toolbar1" style="width: 220px;height: 20px;margin-top: -10px;">
            <span style="color: #ba5253;font-size: 10px;margin-left:110px;"> SAVE Rs 16 </span> 
            <a href="">
         <img src="../../assets/images/asterisk.png"/>
        </a> 
            </mat-toolbar>
            <img src="../../assets/images/duracell-aa.png" style="margin-left: 30px;"/>
            <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 10px;">Duracell</h6>
        <ul style="list-style-type: none;">
            <li style="margin-top: -13px;margin-left: -30px;">
                <a href="" style="font-size:13px;color:#000;margin-top: -30px;">Ultra - Alkaline Battery AA</a>
            </li>
        </ul>
        <h6 style="color: #689f38;font-size: 11px;margin-top: -10px;margin-left: 10px;"> 4.4 </h6> 
       <h6 style="color:#4a4a4a;font-size:11px;margin-top: -30px;margin-left: 40px;">1298 Ratings</h6>
       <select (change)="selectChange($event)" style="width: 180px;height: 24px;">
        <option value="4 pcs - to Rs 144.00" style="font-size: 12px;color: #59595b;" >4 pcs - to Rs 144.00</option>
        <option value="6 pcs - to Rs 250.00" style="font-size: 12px;color: #59595b;" >6 pcs - to Rs 250.00</option>
        <option value="8 pcs - to Rs 292.00" style="font-size: 12px;color: #59595b;">8 pcs - to Rs 292.00</option>
        <option value="2 pcs - to Rs 75.60" style="font-size: 12px;color: #59595b;">2 pcs - to Rs 75.60</option>
      </select>
      <mat-card style="width: 180px;height: 140px;border: 1px solid #fcfcfc;">
        <h6 style="font-size: 10px ProximaNovaA-Regular;color:#6e6e71;margin-top: -15px;">MRP: </h6>
      <h4 style="font-size:12px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 45px;">{{selectedItem}}</h4>  
      <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
      <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: 30px;margin-left:10px;">Standard Delivery: Tomorrow </span>
      <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
     <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
     <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
     <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
        <img src="../../assets/images/grey-basket.png"/>
    </button>
    </mat-card>
    </mat-card>
</div>
    <div class="pedigree">
    <mat-card  style="width: 240px;height: 450px;margin-left: 550px;margin-top: -450px;">
        <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
            <span style="color: #ba5253;font-size: 10px;margin-left:110px;"> GET 12% OFF </span> 
            
         <img src="../../assets/images/asterisk.png"/>
        
            </mat-toolbar>
            <img src="../../assets/images/pedigree.png" style="margin-left: 30px;"/>
            <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 10px;">Pedigree</h6>
        <ul style="list-style-type: none;">
            <li style="margin-top: -13px;margin-left: -30px;">
                <a href="" style="font-size:13px;color:#000;margin-top: -30px;">Dry Chicken & Veggie 3Kg+Wet Chicken & Liver Chunks 70g 15 Packs (For Adult Dog)</a>
            </li>
        </ul>
        <h6 style="color: #4a4a4a;font-size: 11px;margin-top: -10px;margin-left: 10px;">Combo 2 Items</h6> 
        <mat-card style="width: 180px;height: 140px;border: 1px solid #fcfcfc;margin-top: -10px;">
         <h6 style="font-size: 14px ProximaNovaA-Regular;color:#6e6e71;margin-top: -15px;">MRP: </h6>
            <h6 style="font-size: 14px ProximaNovaA-Regular;color:#6e6e71;margin-top: -33px;text-decoration: line-through;margin-left: 28px;"> Rs 1120 </h6>
            <h4 style="font-size: 12px ProximaNovaA-Regular;color:#000;margin-left: 70px;margin-top: -33px;">Rs 990</h4>
            <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 2px;"/>
      <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: 30px;margin-left:10px;">Standard Delivery: Tomorrow </span>
      <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
     <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
     <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
     <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
        <img src="../../assets/images/grey-basket.png"/>
    </button>
        </mat-card>
    </mat-card>
</div>
 
     <div class="card4">
    <mat-card style="width: 240px;height: 420px;margin-left: 20px;margin-top: 50px;">
        <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
            <span style="color: #ba5253;font-size: 10px;margin-left:110px;"> SAVE Rs 50 </span> 
            
         <img src="../../assets/images/asterisk.png"/>
        
            </mat-toolbar>
            <img src="../../assets/images/adult.png" style="margin-left: 30px;"/>
            <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 10px;">Pedigree</h6>
        <ul style="list-style-type: none;">
            <li style="margin-top: -13px;margin-left: -30px;">
                <a href="" style="font-size:13px;color:#000;margin-top: -30px;">Dry Chicken & Veggie 1.2Kg+Wet Chicken & Liver Chunks 80g 15 Packs (For Adult Dogs)</a>
            </li>
        </ul>
        <h6 style="color: #4a4a4a;font-size: 11px;margin-top: -10px;margin-left: 10px;">Combo 2 Items</h6>
        <mat-card style="width: 180px;height: 140px;border: 1px solid #fcfcfc;margin-top: -10px;">
            <h6 style="font-size: 14px ProximaNovaA-Regular;color:#6e6e71;margin-top: -15px;">MRP: </h6>
               <h6 style="font-size: 14px ProximaNovaA-Regular;color:#6e6e71;margin-top: -33px;text-decoration: line-through;margin-left: 28px;"> Rs 785 </h6>
               <h4 style="font-size: 12px ProximaNovaA-Regular;color:#000;margin-left: 70px;margin-top: -33px;">Rs 735</h4>
               <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 2px;"/>
         <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: 30px;margin-left:10px;">Standard Delivery: Tomorrow </span>
         <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
        <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
        <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
        <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
           <img src="../../assets/images/grey-basket.png"/>
       </button>
           </mat-card>
            </mat-card>
        </div>

           <div class="card5">
            <mat-card  style="width: 240px;height: 420px;margin-left: 285px;margin-top: -417px;">
                <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
                    <span style="color: #ba5253;font-size: 10px;margin-left:110px;"> SAVE Rs 156 </span> 
                    
                 <img src="../../assets/images/asterisk.png"/>
                
                    </mat-toolbar>
                    <img src="../../assets/images/adult-dog.png" style="margin-left: 30px;"/>
            <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 10px;">Pedigree</h6>
            <ul style="list-style-type: none;">
                <li style="margin-top: -13px;margin-left: -30px;">
                    <a href="" style="font-size:13px;color:#000;margin-top: -30px;">Daily Food For Adult Dogs 10Kg + Dentastix Oral Care Small Breed 110G </a>
                </li>
            </ul>
            <h6 style="color: #4a4a4a;font-size: 11px;margin-top: -10px;margin-left: 10px;">Combo 2 Items</h6>
                    
            <mat-card style="width: 180px;height: 140px;border: 1px solid #fcfcfc;margin-top: -10px;">
                <h6 style="font-size: 14px ProximaNovaA-Regular;color:#6e6e71;margin-top: -15px;">MRP: </h6>
                   <h6 style="font-size: 14px ProximaNovaA-Regular;color:#6e6e71;margin-top: -33px;text-decoration: line-through;margin-left: 28px;"> Rs 1980 </h6>
                   <h4 style="font-size: 12px ProximaNovaA-Regular;color:#000;margin-left: 70px;margin-top: -33px;">Rs 1824.20</h4>
                   <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 2px;"/>
             <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: 30px;margin-left:10px;">Standard Delivery: Tomorrow </span>
             <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
            <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
            <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
            <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
               <img src="../../assets/images/grey-basket.png"/>
           </button>
        </mat-card>
     </mat-card>
    </div>
    <div class="card6">
     <mat-card  style="width: 240px;height: 420px;margin-left: 552px;margin-top: -417px;">
        <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
            <span style="color: #ba5253;font-size: 10px;margin-left:110px;"> GET 11% OFF </span> 
            
         <img src="../../assets/images/asterisk.png"/>
        
            </mat-toolbar>
            <img src="../../assets/images/chicken-veg.png" style="margin-left: 30px;"/>
            <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 10px;">Pedigree</h6>
            <ul style="list-style-type: none;">
                <li style="margin-top: -13px;margin-left: -30px;">
                    <a href="" style="font-size:13px;color:#000;margin-top: -30px;">Daily Food For Adult Dogs Chicken & Veg 3Kg + Jumbone Treat Chicken & Rice 200G </a>
                </li>
            </ul>
            <h6 style="color: #4a4a4a;font-size: 11px;margin-top: -10px;margin-left: 10px;">Combo 2 Items</h6>
            <mat-card style="width: 180px;height: 140px;border: 1px solid #fcfcfc;margin-top: -10px;">
                <h6 style="font-size: 14px ProximaNovaA-Regular;color:#6e6e71;margin-top: -15px;">MRP: </h6>
                   <h6 style="font-size: 14px ProximaNovaA-Regular;color:#6e6e71;margin-top: -33px;text-decoration: line-through;margin-left: 28px;"> Rs 880 </h6>
                   <h4 style="font-size: 10px ProximaNovaA-Regular;color:#000;margin-left: 70px;margin-top: -33px;">Rs 787</h4>
                   <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 2px;"/>
             <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: 30px;margin-left:10px;">Standard Delivery: Tomorrow </span>
             <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
            <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
            <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
            <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
               <img src="../../assets/images/grey-basket.png"/>
           </button>
        </mat-card>    
            </mat-card>
        </div>
    </div>
</div>
</div>