<div class="party-essentials">
<a href="http://localhost:4200/" class="home"  style="text-decoration: none;margin-left: 90px;">HOME ></a>
<h6 style="color: #808285;margin-left:140px;margin-top: -20px;">PARTY ESSENTIALS & LIGHTING</h6>
<div class="category" style="background-color:transparent;width: 270px;height: 200px;margin-left: 90px;margin-top: -40px;">
    <h4 id="category" style="margin-top: 70px;font-size: 16px;color: #222;">Categories</h4>
     <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
    <ul style="display: inline;list-style-type:none;">
     <li style="margin-top:-20px;">
     <a href="">Cleaning & Household</a>
     </li>
     <li>
     <a href="">Fresheners & Repellents (1)</a>
     </li> 
    <li>
 <a href="">Party & Festive Needs (16)</a>
 </li> 
 <li>
  <a href="">Kitchen, Garden & Pets</a>
 </li> 
 <li>
 <a href="">Appliances & Electricals (81)</a>
 </li> 
 </ul>
</div>

<div class="brand" style="width: 230px;height: 250px;background-color:transparent;margin-left: 80px;margin-top: -50px;position: relative;z-index: 1;">
<h4 id="brand-title" style="font-size: 16px;color: #222;margin-left: 10px;">Brand</h4>
<mat-divider style="width: 210px;margin-top: -15px;"></mat-divider> 
 <input type="text" placeholder="Search by Brand" id="search-icon" style="width: 208px;margin-top: 3px;margin-left:4px;padding-left: 16px;"/>
<img src="../../assets/images/search.png" id="search-brand" style="margin-left: 186px;margin-top: -50px;">
 <div style="position: absolute;overflow-y:scroll;height: 180px;width: 200px;margin-left: 10px;margin-top: -10px;">
                                         <mat-checkbox >AGARO</mat-checkbox><br>
                                         <mat-checkbox >Ayurvaidic</mat-checkbox><br> 
                                         <mat-checkbox >Chuk</mat-checkbox><br>
                                         <mat-checkbox >DP</mat-checkbox><br> 
                                         <mat-checkbox >Duracell</mat-checkbox><br>
                                         <mat-checkbox >Eco Nation</mat-checkbox><br> 
                                         <mat-checkbox >Energizer</mat-checkbox><br>
                                         <mat-checkbox >Eveready</mat-checkbox><br> 
                                         <mat-checkbox >GIRI </mat-checkbox><br>
                                         <mat-checkbox >Halonix</mat-checkbox><br> 
                                         <mat-checkbox >HIT</mat-checkbox><br>
</div>
 </div> 

 <div style="width: 250px;height: 130px;background-color:transparent;margin-left: 80px;margin-top: 10px;position: relative;z-index: 1;">
<h4 id="price-title" style="font-size: 16px;color: #222;margin-left: 10px;">Price</h4>
 <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>   
<div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
                           <mat-checkbox >Rs 21 to Rs 50 (40)</mat-checkbox><br>
                           <mat-checkbox >Rs 51 to Rs 100 (46)</mat-checkbox><br>
                           <mat-checkbox >Rs 101 to Rs 200 (4)</mat-checkbox><br>
                           <mat-checkbox >Rs 201 to Rs 500 (3)</mat-checkbox><br>
                           <mat-checkbox >More than Rs 501 (16)</mat-checkbox><br>
</div> 
 </div>  

 <div style="width: 230px;height: 130px;background-color:transparent;margin-left: 80px;margin-top: 70px;position: relative;z-index: 1;">
    <h4 id="discount" style="font-size: 16px;color: #222;margin-left: 10px;">Discount</h4>
     <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>   
    <div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
                                <mat-checkbox >Upto 5% (8)</mat-checkbox><br>
                                <mat-checkbox >5% - 10% (7)</mat-checkbox><br>
                                <mat-checkbox >10% - 15% (3)</mat-checkbox><br>
                                <mat-checkbox >15% - 25% (1)</mat-checkbox>
     </div> 
     </div> 

     <div style="width: 230px;height: 250px;background-color:transparent;margin-left: 80px;margin-top: 40px;position: relative;z-index: 1;">
    <h4 id="pack-size" style="font-size: 16px;color: #222;margin-left: 10px;">Pack Size</h4>
    <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
    <input type="text" placeholder="Search by Pack Size" id="search-icon" style="width: 208px;margin-top: 3px;margin-left:6px;padding-left: 16px;"/>
     <img src="../../assets/images/search.png" id="search-brand" style="margin-left: 186px;margin-top: -50px;">
     <div style="position: absolute;overflow-y:scroll;height: 160px;width: 200px;margin-left: 10px;margin-top: -20px;">
                                         <mat-checkbox >1 Pc</mat-checkbox><br>
                                         <mat-checkbox >1 Pc</mat-checkbox><br>
                                         <mat-checkbox >1 pc (6 Months Warranty)</mat-checkbox><br>
                                         <mat-checkbox >BP4</mat-checkbox><br>
                                         <mat-checkbox >6.4 Inch Pack of 12</mat-checkbox><br>
                                         <mat-checkbox >2 pcs</mat-checkbox><br>
                                         <mat-checkbox >4 pcs</mat-checkbox><br>
                                         <mat-checkbox >5 pcs</mat-checkbox><br>
                                         <mat-checkbox >6 pcs</mat-checkbox><br>
       </div> 
        </div>      
 <div class="country" style="width: 230px;height: 240px;background-color:transparent;margin-left: 80px;margin-top:-20px;position: relative;z-index: 1;">
 <h4 style="font-size: 16px;color: #222;margin-left: 10px;">Country Of Origin</h4>
<mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
 <div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
                                    <mat-checkbox >Belgium</mat-checkbox><br>
                                    <mat-checkbox >China</mat-checkbox><br>
                                    <mat-checkbox >India</mat-checkbox><br>
                                    <mat-checkbox >Indonesia</mat-checkbox><br>
                                    <mat-checkbox >Singapore</mat-checkbox><br>
                                    <mat-checkbox >Thailand</mat-checkbox><br>
                                    <mat-checkbox >Japan</mat-checkbox><br>
                                    
 </div>
</div> 

<mat-divider [vertical]="true" style="width: 300px;height: 1320px;margin-left: 20px;margin-top: -1280px;"></mat-divider>  
<div class="banner-section" >
<div style="width: 900px;height: 1450px;background-color: transparent;margin-left: 330px;margin-top: -1310px;">
    <h4 class="party" style="font: 24px ProximaNovaA;color:#58595b;">Party Essentials & Lighting (9)</h4>
   <ul id="all-products" style="list-style-type: none;">
    <li style="margin-top: 40px;margin-left:-1px;">
    <a href="" style="color: #58595b!important;font-size: 12px;font-family: ProximaNovaA-Semibold;border-bottom: 2px solid #84c225;">ALL PRODUCTS</a>
    </li>
    </ul>
    <img src="../../assets/images/bus.png" id="bus-img" style="margin-top:-60px"/>  
   <mat-divider style="margin-top: -30px;"></mat-divider>
   <div class="bowl">
   <mat-card  style="width: 240px;height: 420px;margin-top: 20px;margin-left: 20px;">  
    <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
    <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 17% OFF</span> 
     <img src="../../assets/images/asterisk.png"/>
     </mat-toolbar> 
     <img src="../../assets/uploads/chuk-disposable-bowl.png" style="margin-left: 40px;"/> 
     <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Chuk</h6> 
      <ul style="list-style-type: none;">
      <li style="margin-top: -13px;margin-left: -30px;">
      <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Disposable Bowl</a>
     </li>
     </ul> 
     <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">250 ml (Pack of 25)</h6>  
     <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 20px;">
<h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 110</h6>
 <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 99</h4>  
 <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
     <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
 <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
 <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
 <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
<button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
     <img src="../../assets/images/grey-basket.png"/>
     </button>
   </mat-card>
   </mat-card>  
  </div>  
  <div class="plate">
   <mat-card  style="width: 240px;height: 420px;margin-top: -420px;margin-left: 290px;">
    <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
        <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 21% OFF</span> 
         <img src="../../assets/images/asterisk.png"/>
         </mat-toolbar> 
         <img src="../../assets/uploads/chuk-disposable-meal-plate.png" style="margin-left: 40px;"/> 
         <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Chuk</h6> 
          <ul style="list-style-type: none;">
          <li style="margin-top: -13px;margin-left: -30px;">
          <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Disposable Meal Plate</a>
         </li>
         </ul> 
         <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">11 Inch (Pack of 25)</h6>   
         <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 20px;">
            <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 349</h6>
             <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 275</h4>  
             <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
                 <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
             <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
             <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
             <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
            <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
                 <img src="../../assets/images/grey-basket.png"/>
                 </button>
               </mat-card>          
   </mat-card>            
  </div>
  <div class="wooden">
   <mat-card  style="width: 240px;height: 420px;margin-top:-420px;margin-left: 560px;">
    <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
        <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 35% OFF</span> 
         <img src="../../assets/images/asterisk.png"/>
         </mat-toolbar> 
         <img src="../../assets/uploads/ayurvaidic-party-wooden-forks-large.png" style="margin-left: 40px;"/> 
         <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Ayurvaidic</h6> 
          <ul style="list-style-type: none;">
          <li style="margin-top: -13px;margin-left: -30px;">
          <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Party Wooden Forks - Large</a>
         </li>
         </ul> 
         <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">6.4 inch Pack of 12</h6>   
         <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 20px;">
            <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 84</h6>
             <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 55</h4>  
             <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
                 <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
             <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
             <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
             <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
            <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
                 <img src="../../assets/images/grey-basket.png"/>
            </button>        
   </mat-card>               
    </mat-card> 
  </div>  
  <div class="wall">
<mat-card  style="width: 240px;height: 430px;margin-top: 20px;margin-left: 20px;">
<mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
 <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 27% OFF</span> 
<img src="../../assets/images/asterisk.png"/>
 </mat-toolbar> 
 <img src="../../assets/uploads/tealight-wall-mount.png" style="margin-left: 40px;"/> 
 <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Pahal</h6> 
  <ul style="list-style-type: none;">
  <li style="margin-top: -13px;margin-left: -30px;">
  <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Tealight Wall Mount</a>
 </li>
 </ul> 
 <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">2 pcs</h6>    
 <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 20px;">
    <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 240</h6>
     <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 175</h4>  
     <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
         <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
     <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
     <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
     <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
    <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
         <img src="../../assets/images/grey-basket.png"/>
    </button>        
</mat-card>     
</mat-card>
</div>
<div class="knife">
<mat-card  style="width: 240px;height: 430px;margin-top: -430px;margin-left: 290px;">
<mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
<span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 32% OFF</span> 
<img src="../../assets/images/asterisk.png"/>
</mat-toolbar>   
<img src="../../assets/uploads/ayurvaidic-party-wooden-stirrer-small.png" style="margin-left: 40px;"/> 
         <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Ayurvaidic</h6> 
          <ul style="list-style-type: none;">
          <li style="margin-top: -13px;margin-left: -30px;">
          <a href="" style="font-size:13px;color:rgb(7, 3, 3);margin-top: -30px;">Party Wooden Knife</a>
         </li>
         </ul> 
         <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">6.4 inch Pack of 12</h6>   
         <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 20px;">
            <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 85</h6>
             <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 75</h4>  
             <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
                 <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
             <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
             <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
             <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
            <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
                 <img src="../../assets/images/grey-basket.png"/>
            </button>        
   </mat-card>            
</mat-card>    
</div>
<div class="small">
<mat-card  style="width: 240px;height: 420px;margin-top:-420px;margin-left: 560px;">
<mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
 <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 12% OFF</span> 
<img src="../../assets/images/asterisk.png"/>
</mat-toolbar>   
 <img src="../../assets/uploads/ayurvaidic-party-wooden-knife.png" style="margin-left: 40px;"/> 
<h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Ayurvaidic</h6> 
     <ul style="list-style-type: none;">
 <li style="margin-top: -13px;margin-left: -30px;">
 <a href="" style="font-size:13px;color:rgb(7, 3, 3);margin-top: -30px;">Party Wooden Stirrer - Small</a>
 </li>
 </ul> 
 <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">4.5 inch Pack of 12</h6>   
 <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 20px;">
 <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 28</h6>
 <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 19</h4>  
 <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
   <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
 <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
  <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
 <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
<button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
 <img src="../../assets/images/grey-basket.png"/>
   </button>        
 </mat-card>             
</mat-card>
</div>
<div class="paper">
<mat-card class="pedigree" style="width: 240px;height: 420px;margin-left: 20px;margin-top: 20px;">
<mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
<span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 13% OFF</span> 
<img src="../../assets/images/asterisk.png"/>
</mat-toolbar> 
<img src="../../assets/uploads/paper-cups-large-party.png" style="margin-left: 40px;"/> 
<h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Ayurvaidic</h6> 
     <ul style="list-style-type: none;">
 <li style="margin-top: -13px;margin-left: -30px;">
 <a href="" style="font-size:13px;color:rgb(7, 3, 3);margin-top: -30px;">Paper Cups - Large, Party</a>
 </li>
 </ul> 
 <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">250 ml Pack of 12</h6>  
 <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 20px;">
    <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 98</h6>
    <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 85</h4>  
    <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
      <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
    <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
     <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
    <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
   <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
    <img src="../../assets/images/grey-basket.png"/>
      </button>        
    </mat-card>
 </mat-card> 
</div>
<div class="eco">
 <mat-card class="pedigree" style="width: 240px;height: 420px;margin-left: 290px;margin-top: -420px;">
<mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
<span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 32% OFF</span> 
 <img src="../../assets/images/asterisk.png"/>
</mat-toolbar>
<img src="../../assets/uploads/rain-backpack-cover-black.png" style="margin-left: 40px;"/> 
<h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Eco Nation</h6> 
    <ul style="list-style-type: none;">
 <li style="margin-top: -13px;margin-left: -30px;">
 <a href="" style="font-size:13px;color:rgb(7, 3, 3);margin-top: -30px;">Rain Backpack Cover - Black</a>
 </li>
 </ul> 
 <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">50 L</h6>   
 <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 20px;">
<h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 349</h6>
<h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 249</h4>  
    <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
      <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
    <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
     <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
    <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
   <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
    <img src="../../assets/images/grey-basket.png"/>
      </button>        
    </mat-card>
 </mat-card>  
 </div>
 <div class="socks">
 <mat-card class="pedigree" style="width: 240px;height: 420px;margin-left: 560px;margin-top: -420px;">
 <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
 <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 36% OFF</span> 
<img src="../../assets/images/asterisk.png"/>
 </mat-toolbar>
 <img src="../../assets/uploads/socks-decoration.png" style="margin-left: 40px;"/> 
 <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Pahal</h6> 
 <ul style="list-style-type: none;">
 <li style="margin-top: -13px;margin-left: -30px;">
<a href="" style="font-size:13px;color:rgb(7, 3, 3);margin-top: -30px;">Socks Decoration</a>
</li>
</ul> 
 <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">2 pcs</h6>   
<mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 20px;">
 <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 149</h6>
 <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 95</h4>  
 <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
 <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
  <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
             <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
            <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
           <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
            <img src="../../assets/images/grey-basket.png"/>
              </button>        
            </mat-card>    
</mat-card>
</div>
</div>                    
</div>
</div>