<a href="http://localhost:4200/" class="home"  style="text-decoration: none;margin-left: 90px;">HOME ></a>
<h6 style="color: #808285;margin-left:140px;margin-top: -20px;">FROZEN SNACKS</h6>
<div class="category" style="background-color:transparent;width: 270px;height: 250px;margin-left: 90px;margin-top: -40px;">
    <h4 style="margin-top: 70px;font-size: 16px;color: #222;">Categories</h4>
     <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
    <ul style="display: inline;list-style-type:none;">
     <li style="margin-top:-20px;">
     <a href="">Bakery, Cakes & Dairy</a>
     </li>
     <li>
     <a href="">Cakes & Pastries (6)</a>
     </li>
    <li>
    <a href="">Mutton & Lamb (1)</a>
    </li>
    <li>
    <a href="">Eggs, Meat & Fish</a>
    </li>
    <li>
    <a href="">Pork & Other Meats (1)</a>
    </li>
    <li>
    <a href="">Poultry (21)</a>
    </li>
     <li>
     <a href="">Sausages, Bacon & Salami (8)</a>
     </li>
     <li>
        <a href="">Foodgrains, Oil & Masala</a>
        </li>
    <li>
     <a href="">Masalas & Spices (1)</a>
     </li>
     <li>
    <a href="">Snacks & Branded Foods</a>
    </li>  
    <li>
     <a href="">Frozen Veggies & Snacks (145)</a>
     </li>   
     </ul>
    </div>

<div style="width: 230px;height: 250px;background-color:transparent;margin-left: 80px;margin-top: 30px;position: relative;z-index: 1;">
 <h4 style="font-size: 16px;color: #222;margin-left: 10px;">Brand</h4>
<mat-divider style="width: 210px;margin-top: -15px;"></mat-divider> 
<input type="text" placeholder="Search by Brand" style="width: 208px;margin-top: 3px;margin-left:4px;padding-left: 16px;"/>
 <img src="../../assets/images/search.png" style="margin-left: 186px;margin-top: -50px;">
 <div style="position: absolute;overflow-y:scroll;height: 180px;width: 200px;margin-left: 10px;margin-top: -10px;">
                        <mat-checkbox >Amul </mat-checkbox><br>
                        <mat-checkbox >Amul Happy Treats</mat-checkbox><br> 
                        <mat-checkbox >Fresho Signature</mat-checkbox><br>
                        <mat-checkbox >ITC Master Chef</mat-checkbox><br> 
                        <mat-checkbox >La Carne</mat-checkbox><br>
                        <mat-checkbox >Lindberg</mat-checkbox><br> 
                        <mat-checkbox >McCain</mat-checkbox><br>
                        <mat-checkbox >Meatzza</mat-checkbox><br> 
                        <mat-checkbox >Prasuma</mat-checkbox><br>
                        <mat-checkbox >Safal</mat-checkbox><br> 
                        <mat-checkbox >sumeru</mat-checkbox><br>
 </div>
 </div>   
 
<div style="width: 230px;height: 130px;background-color:transparent;margin-left: 80px;margin-top: 10px;position: relative;z-index: 1;">
<h4 style="font-size: 16px;color: #222;margin-left: 10px;">Price</h4>
<mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>   
<div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
           <mat-checkbox >Rs 21 to Rs 50 (40)</mat-checkbox><br>
           <mat-checkbox >Rs 51 to Rs 100 (46)</mat-checkbox><br>
           <mat-checkbox >Rs 101 to Rs 200 (4)</mat-checkbox><br>
           <mat-checkbox >Rs 201 to Rs 500 (3)</mat-checkbox><br>
           <mat-checkbox >More than Rs 501 (16)</mat-checkbox><br>
</div> 
</div> 

<div style="width: 230px;height: 250px;background-color:transparent;margin-left: 80px;margin-top: 70px;position: relative;z-index: 1;">
 <h4 style="font-size: 16px;color: #222;margin-left: 10px;">Pack Size</h4>
 <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
 <input type="text" placeholder="Search by Pack Size" style="width: 208px;margin-top: 3px;margin-left:6px;padding-left: 16px;"/>
 <img src="../../assets/images/search.png" style="margin-left: 186px;margin-top: -50px;">
 <div style="position: absolute;overflow-y:scroll;height: 140px;width: 200px;margin-left: 10px;margin-top: -20px;">
                     <mat-checkbox >2x200 g Multipack</mat-checkbox><br>
                     <mat-checkbox >Combo 2 Items</mat-checkbox><br>
                     <mat-checkbox >5 pcs Pouch</mat-checkbox><br>
                     <mat-checkbox >20 pcs Pouch</mat-checkbox><br>
                     <mat-checkbox >24 pcs</mat-checkbox><br>
                     <mat-checkbox >170 g </mat-checkbox><br>
                     <mat-checkbox >175 g</mat-checkbox><br>
                     <mat-checkbox >200 g Pouch</mat-checkbox><br>
                     <mat-checkbox >200 g</mat-checkbox><br>
</div> 
 </div> 

 <div style="width: 230px;height: 130px;background-color:transparent;margin-left: 80px;margin-top: -35px;position: relative;z-index: 1;">
 <h4 style="font-size: 16px;color: #222;margin-left: 10px;">Discount</h4>
 <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>   
 <div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
                 <mat-checkbox >Upto 5% (6)</mat-checkbox><br>
                 <mat-checkbox >5% - 10% (69)</mat-checkbox><br>
                 <mat-checkbox >10% - 15% (68)</mat-checkbox><br>
                 <mat-checkbox >15% - 25% (3)</mat-checkbox><br>
                 <mat-checkbox >More than 25% (11)</mat-checkbox><br>
</div> 
 </div>

 <div style="width: 230px;height: 200px;background-color:transparent;margin-left: 80px;margin-top:70px;position: relative;z-index: 1;">
 <h4 style="font-size: 16px;color: #222;margin-left: 10px;">Country Of Origin</h4>
 <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
 <div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
              <mat-checkbox >India</mat-checkbox><br>
</div>
</div>

<div style="width: 230px;height: 200px;background-color:transparent;margin-left: 80px;margin-top:-130px;position: relative;z-index: 1;">
<h4 style="font-size: 16px;color: #222;margin-left: 10px;">Food Preference</h4>
<mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
 <div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
              <mat-checkbox >Vegetarian</mat-checkbox><br>
              <mat-checkbox >Non Vegetarian</mat-checkbox><br>
              <mat-checkbox >Contains Egg</mat-checkbox><br>
  </div>
 </div>

 <mat-divider [vertical]="true" style="width: 300px;height: 1380px;margin-left: 20px;margin-top: -1460px;"></mat-divider> 
 <div style="width: 900px;height: 1430px;background-color: transparent;margin-left: 330px;margin-top: -1360px;">
<h4 style="font: 24px ProximaNovaA;color:#58595b;">Frozen Snacks (9)</h4>
<ul style="list-style-type: none;">
<li style="margin-top: 40px;margin-left:-1px;">
<a href="" style="color: #58595b!important;font-size: 12px;font-family: ProximaNovaA-Semibold;border-bottom: 2px solid #84c225;">ALL PRODUCTS</a>
</li>
</ul>
<img src="../../assets/images/bus.png" style="margin-top:-60px"/>  
<mat-divider style="margin-top: -30px;"></mat-divider> 
<mat-card  style="width: 240px;height: 420px;margin-top: 20px;margin-left: 20px;">
 <img src="../../assets/uploads/mccain-smiles-crispy-happy-potatoes.png" style="margin-left: 40px;"/> 
 <img src="../../assets/images/green-circle.png" style="margin-top: -10px;margin-left: 20px;"/>
<h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">McCain</h6> 
 <ul style="list-style-type: none;">
 <li style="margin-top: -13px;margin-left: -30px;">
 <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Smiles - Crispy Happy Potatoes</a>
</li>
</ul> 
<h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">415 g Pouch</h6> 
<mat-card style="width: 212px;height: 110px;border: 1px solid #fcfcfc;margin-top: 20px;">
<h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -16px;margin-left: 65px;">MRP: Rs 110</h4>  
<button mat-button style="background-color: #fee67c;width: 100px;height: 30px;margin-left:7px;">NOTIFY ME
</button>
</mat-card> 
</mat-card>

<mat-card  style="width: 240px;height: 420px;margin-top: -420px;margin-left: 290px;">
<mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
 <span style="color: #ba5253;font-size: 10px;margin-left:110px;">SAVE Rs 11</span> 
<img src="../../assets/images/asterisk.png"/>
</mat-toolbar>
<img src="../../assets/uploads/mccain-veggie-fingers-veggie-delight-with-corn-carrot-peas.png" style="margin-left: 40px;"/> 
 <img src="../../assets/images/green-circle.png" style="margin-top: -10px;margin-left: 20px;"/>
<h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">McCain</h6> 
 <ul style="list-style-type: none;">
 <li style="margin-top: -13px;margin-left: -30px;">
 <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Veggie Fingers - Veggie Delight with Corn, Carrot & Peas</a>
</li>
</ul> 
<h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -17px;">400 g </h6> 
<mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: -10px;">
    <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 110 </h6>
    <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 99</h4>  
    <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
    <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
    <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
     <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
     <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
     <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
        <img src="../../assets/images/grey-basket.png"/>
    </button>
        </mat-card> 
</mat-card>
<mat-card  style="width: 240px;height: 420px;margin-top:-420px;margin-left: 560px;">
 <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
 <span style="color: #ba5253;font-size: 10px;margin-left:110px;">SAVE Rs 11</span> 
 <img src="../../assets/images/asterisk.png"/>
 </mat-toolbar>   
 <img src="../../assets/uploads/mccain-veggie-burger-patty.png" style="margin-left: 40px;"/> 
 <img src="../../assets/images/green-circle.png" style="margin-top: -10px;margin-left: 20px;"/>
<h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">McCain</h6> 
 <ul style="list-style-type: none;">
 <li style="margin-top: -13px;margin-left: -30px;">
 <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Veggie Burger Patty</a>
</li>
</ul> 
<h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -17px;">360 g Pouch </h6> 
<mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: -10px;">
    <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 110 </h6>
    <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 99</h4>  
    <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
    <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
    <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
     <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
     <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
     <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
        <img src="../../assets/images/grey-basket.png"/>
    </button>
        </mat-card>  
</mat-card>

<mat-card  style="width: 240px;height: 430px;margin-top: 20px;margin-left: 20px;">
 <img src="../../assets/uploads/mccain-crispy-herb-coated-potatoes-super-wedges.png" style="margin-left: 40px;"/> 
<img src="../../assets/images/green-circle.png" style="margin-top: -10px;margin-left: 20px;"/>
 <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">McCain</h6> 
 <ul style="list-style-type: none;">
 <li style="margin-top: -13px;margin-left: -30px;">
 <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Crispy Herb Coated Potatoes - Super Wedges</a>
 </li>
 </ul> 
 <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -17px;">400 g Pouch </h6>  
 <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: -10px;">
    <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -16px;margin-left: 65px;">MRP: Rs 115</h4>  
    <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
    <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
    <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
     <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
     <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
     <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
        <img src="../../assets/images/grey-basket.png"/>
    </button>
        </mat-card>    
</mat-card>

<mat-card  style="width: 240px;height: 430px;margin-top: -430px;margin-left: 290px;">
<mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
 <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 25% OFF</span> 
  <img src="../../assets/images/asterisk.png"/>
 </mat-toolbar>     
<img src="../../assets/uploads/sumeru-chicken-nuggets.png" style="margin-left: 40px;"/> 
<img src="../../assets/images/circle.png" style="margin-top: -10px;margin-left: 20px;"/>
 <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">sumeru</h6> 
 <ul style="list-style-type: none;">
 <li style="margin-top: -13px;margin-left: -30px;">
 <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Chicken Nuggets</a>
 </li>
 </ul> 
 <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -17px;">450 g  </h6>  
 <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 10px;">
<h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 260 </h6>
<h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 201.75</h4>  
<img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
<span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
<h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
<span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
<input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
<button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
 <img src="../../assets/images/grey-basket.png"/>
 </button>
 </mat-card>  
</mat-card>

<mat-card  style="width: 240px;height: 420px;margin-top:-420px;margin-left: 560px;">
<img src="../../assets/uploads/amul-happy-treats-ready-to-cook-serve-cheese-poppons.png" style="margin-left: 40px;"/> 
<img src="../../assets/images/green-circle.png" style="margin-top: -10px;margin-left: 20px;"/>
<h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Amul Happy Treats</h6> 
<ul style="list-style-type: none;">
<li style="margin-top: -13px;margin-left: -30px;">
 <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Ready to Cook & Serve - Cheese Poppons</a>
 </li>
 </ul> 
 <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -17px;">300 g  </h6>  
 <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: -10px;">
    <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -16px;margin-left: 65px;">MRP: Rs 160</h4>  
    <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
    <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
    <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
     <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
     <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
     <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
        <img src="../../assets/images/grey-basket.png"/>
    </button>
        </mat-card>      
</mat-card>

<mat-card class="pedigree" style="width: 240px;height: 420px;margin-left: 20px;margin-top: 20px;">
<img src="../../assets/uploads/amul-4-cheese-pizza.png" style="margin-left: 40px;"/> 
<img src="../../assets/images/green-circle.png" style="margin-top: -10px;margin-left: 20px;"/>  
<h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Amul Happy Treats</h6> 
 <ul style="list-style-type: none;">
<li style="margin-top: -13px;margin-left: -30px;">
<a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Ready to Cook & Serve - Cheese Poppons</a>
</li>
</ul> 
<h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -20px;">300 g</h6> 
<mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: -10px;">
 <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -16px;margin-left: 65px;">MRP: Rs 160</h4>  
    <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
    <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
    <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
     <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
     <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
     <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
        <img src="../../assets/images/grey-basket.png"/>
    </button>
        </mat-card> 
</mat-card>   

<mat-card class="pedigree" style="width: 240px;height: 420px;margin-left: 290px;margin-top: -420px;">
<img src="../../assets/uploads/yummiez-chicken-breakfast-sausages.png" style="margin-left: 40px;"/> 
 <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Yummiez</h6> 
 <ul style="list-style-type: none;">
<li style="margin-top: -13px;margin-left: -30px;">
<a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Chicken Breakfast Sausages</a>
</li>
</ul> 
<h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: 20px;">500 g Pouch Pack</h6>   
<mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 10px;">
 <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -16px;margin-left: 65px;">MRP: Rs 270</h4>  
 <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
 <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
 <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
 <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
 <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
 <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
  <img src="../../assets/images/grey-basket.png"/>
</button>
  </mat-card> 
  </mat-card> 
 
<mat-card class="pedigree" style="width: 240px;height: 420px;margin-left: 560px;margin-top: -420px;">
<img src="../../assets/uploads/yummiez-chicken-sausages-cheese-onion.png" style="margin-left: 40px;"/> 
<img src="../../assets/images/green-circle.png" style="margin-top: -10px;margin-left: 20px;"/>  
 <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Yummiez</h6> 
 <ul style="list-style-type: none;">
 <li style="margin-top: -13px;margin-left: -30px;">
<a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Chicken Sausages - Cheese & Onion</a>
</li>
</ul> 
<h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -20px;">250 g Pouch</h6> 
<mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: -10px;">
    <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -16px;margin-left: 65px;">MRP: Rs 165</h4>  
    <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
    <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
    <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
    <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
    <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
    <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
     <img src="../../assets/images/grey-basket.png"/>
   </button>
     </mat-card> 
  </mat-card>    
 </div>   