<a href="http://localhost:4200/" class="home"  style="text-decoration: none;margin-left: 90px;">HOME ></a>
<h6 style="color: #808285;margin-left:140px;margin-top: -20px;">FEMININE HYGIENE</h6>
<div class="category" style="background-color:transparent;width: 270px;height: 60px;margin-left: 90px;margin-top: -40px;">
    <h4 style="margin-top: 70px;font-size: 16px;color: #222;">Categories</h4>
     <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
    <ul style="display: inline;list-style-type:none;">
     <li style="margin-top:-20px;">
     <a href="">Beauty & Hygiene</a>
     </li>
     <li>
     <a href="">Feminine Hygiene </a>
     </li>           
 </ul>
</div>

<div style="width: 230px;height: 250px;background-color:transparent;margin-left: 80px;margin-top: 20px;position: relative;z-index: 1;">
<h4 style="font-size: 16px;color: #222;margin-left: 10px;">Brand</h4>
     <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider> 
     <input type="text" placeholder="Search by Brand" style="width: 208px;margin-top: 3px;margin-left:4px;padding-left: 16px;"/>
     <img src="../../assets/images/search.png" style="margin-left: 186px;margin-top: -50px;">
    <div style="position: absolute;overflow-y:scroll;height: 120px;width: 200px;margin-left: 10px;margin-top: -10px;">
                             <mat-checkbox >Agastya</mat-checkbox><br>
                         <mat-checkbox >Anne French</mat-checkbox><br> 
                         <mat-checkbox >Astaberry</mat-checkbox><br>
                         <mat-checkbox >Bella</mat-checkbox><br> 
                         <mat-checkbox >Braun</mat-checkbox><br>
                         <mat-checkbox >Carefree</mat-checkbox><br>
                         <mat-checkbox >Carmesi</mat-checkbox><br>
                         <mat-checkbox >ezy</mat-checkbox><br>
    </div>
     </div> 

<div style="width: 250px;height: 120px;background-color:transparent;margin-left: 80px;margin-top: -50px;position: relative;z-index: 1;">
 <h4 style="font-size: 16px;color: #222;margin-left: 10px;">Price</h4>
 <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>   
 <div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
                      <mat-checkbox >Rs 21 to Rs 50 (7)</mat-checkbox><br>
                      <mat-checkbox >Rs 51 to Rs 100 (1)</mat-checkbox><br>
                      <mat-checkbox >Rs 101 to Rs 200 (9)</mat-checkbox><br>
                      <mat-checkbox >More than Rs 501 (138)</mat-checkbox><br>
  </div> 
 </div>  
 
 <div style="width: 230px;height: 130px;background-color:transparent;margin-left: 80px;margin-top: 50px;position: relative;z-index: 1;">
 <h4 style="font-size: 16px;color: #222;margin-left: 10px;">Discount</h4>
 <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>   
 <div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
                                                      <mat-checkbox >Upto 5% (8)</mat-checkbox><br>
                                                      <mat-checkbox >5% - 10% (7)</mat-checkbox><br>
                                                      <mat-checkbox >10% - 15% (3)</mat-checkbox><br>
                                                      <mat-checkbox >15% - 25% (1)</mat-checkbox>
     </div> 
     </div>

<div style="width: 230px;height: 250px;background-color:transparent;margin-left: 80px;margin-top: 40px;position: relative;z-index: 1;">
 <h4 style="font-size: 16px;color: #222;margin-left: 10px;">Pack Size</h4>
 <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
   <input type="text" placeholder="Search by Pack Size" style="width: 208px;margin-top: 3px;margin-left:6px;padding-left: 16px;"/>
 <img src="../../assets/images/search.png" style="margin-left: 186px;margin-top: -50px;">
 <div style="position: absolute;overflow-y:scroll;height: 160px;width: 200px;margin-left: 10px;margin-top: -20px;">
                                               <mat-checkbox >20 Strips</mat-checkbox><br>
                                               <mat-checkbox >1 pc</mat-checkbox><br>
                                               <mat-checkbox >2 pcs</mat-checkbox><br>
                                               <mat-checkbox >4 pcs</mat-checkbox><br>
                                               <mat-checkbox >5 pcs </mat-checkbox><br>
                                               <mat-checkbox >5 sheets</mat-checkbox><br>
                                               <mat-checkbox >6 pads</mat-checkbox><br>
 </div> 
</div> 

<div style="width: 230px;height: 40px;background-color:transparent;margin-left: 80px;margin-top:-30px;position: relative;z-index: 1;">
    <h4 style="font-size: 16px;color: #222;margin-left: 10px;">Concern</h4>
    <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
     <div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
            <mat-checkbox >Daily-Use</mat-checkbox><br>                
        </div>
       </div> 

 <div style="width: 230px;height: 150px;background-color:transparent;margin-left: 80px;margin-top:40px;position: relative;z-index: 1;">
 <h4 style="font-size: 16px;color: #222;margin-left: 10px;">Country Of Origin</h4>
<mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
 <div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
       <mat-checkbox >China</mat-checkbox><br>
       <mat-checkbox >Germany</mat-checkbox><br>
       <mat-checkbox >India</mat-checkbox><br>
       <mat-checkbox >USA</mat-checkbox><br>
       <mat-checkbox >Poland</mat-checkbox><br>                
 </div>
 </div>  
           
<mat-divider [vertical]="true" style="width: 300px;height: 1380px;margin-left: 20px;margin-top: -1110px;"></mat-divider> 
<div style="width: 900px;height: 1420px;background-color: transparent;margin-left: 330px;margin-top: -1370px;">
<h4 style="font: 24px ProximaNovaA;color:#58595b;"> Feminine Hygiene (9)</h4>
<ul style="list-style-type: none;">
 <li style="margin-top: 40px;margin-left:-1px;">
 <a href="" style="color: #58595b!important;font-size: 12px;font-family: ProximaNovaA-Semibold;border-bottom: 2px solid #84c225;">ALL PRODUCTS</a>
 </li>
 </ul>
 <img src="../../assets/images/bus.png" style="margin-top:-60px"/>  
 <mat-divider style="margin-top: -30px;"></mat-divider> 
 <mat-card  style="width: 240px;height: 420px;margin-top: 20px;margin-left: 20px;">  
    <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
    <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 16% OFF</span> 
   <img src="../../assets/images/asterisk.png"/>
   </mat-toolbar>
   <img src="../../assets/uploads/whisper-ultra-clean-sanitary-pads-for-women-xl.png" style="margin-left: 40px;"/> 
   <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Whisper</h6> 
    <ul style="list-style-type: none;">
    <li style="margin-top: -13px;margin-left: -30px;">
    <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Ultra Clean Sanitary Pads For Women, XL+</a>
     </li>
     </ul> 
    <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">50 pcs</h6> 
    <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: -10px;">
       <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 499</h6>
       <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 419.16</h4>  
      <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
       <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
      <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
       <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
       <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
       <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
        <img src="../../assets/images/grey-basket.png"/>
       </button>          
      </mat-card>   
  </mat-card> 
  
  <mat-card  style="width: 240px;height: 420px;margin-top: -420px;margin-left: 290px;">
    <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
        <span style="color: #ba5253;font-size: 10px;margin-left:110px;">SAVE Rs 10</span> 
        <img src="../../assets/images/asterisk.png"/>
        </mat-toolbar>    
        <img src="../../assets/uploads/veet-hair-removal-waxing-strips-kit-sensitive-skin.png" style="margin-left: 40px;"/> 
       <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Veet</h6> 
       <ul style="list-style-type: none;">
       <li style="margin-top: -13px;margin-left: -30px;">
        <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Hair Removal Waxing Strips Kit - Sensitive Skin</a>
       </li>
        </ul> 
       <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">20 Strips</h6>
       <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: -10px;">
        <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 199</h6>
        <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 189.05</h4>  
       <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
        <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
       <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
        <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
        <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
        <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
         <img src="../../assets/images/grey-basket.png"/>
        </button>          
       </mat-card>    
    </mat-card>   
 
    <mat-card  style="width: 240px;height: 420px;margin-top:-420px;margin-left: 560px;">
        <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
            <span style="color: #ba5253;font-size: 10px;margin-left:110px;">SAVE Rs 10</span> 
            <img src="../../assets/images/asterisk.png"/>
            </mat-toolbar>    
            <img src="../../assets/uploads/veet-hair-removal-waxing-strips-kit-dry-skin.png" style="margin-left: 40px;"/> 
           <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Veet</h6> 
           <ul style="list-style-type: none;">
           <li style="margin-top: -13px;margin-left: -30px;">
            <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Hair Removal Waxing Strips Kit - Dry Skin</a>
           </li>
            </ul> 
           <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">20 Strips</h6>
           <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: -10px;">
            <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 199</h6>
            <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 189.05</h4>  
           <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
            <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
           <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
            <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
            <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
            <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
             <img src="../../assets/images/grey-basket.png"/>
            </button>          
           </mat-card>          
        </mat-card>

        <mat-card  style="width: 240px;height: 430px;margin-top: 20px;margin-left: 20px;"> 
            <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
            <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 3% OFF</span> 
           <img src="../../assets/images/asterisk.png"/>
           </mat-toolbar> 
           <img src="../../assets/uploads/gillette-venus-simply-hair-removal-razor-for-women-3-blades.png" style="margin-left: 40px;"/> 
        <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Gillette Venus</h6> 
      <ul style="list-style-type: none;">
    <li style="margin-top: -13px;margin-left: -30px;">
     <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Simply - Hair Removal Razor For Women, 3 Blades</a>
                  </li>
                   </ul> 
                  <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">1 pc</h6> 
                  <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 10px;">
                    <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 69</h6>
                    <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 58.05</h4>  
                   <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
                    <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
                   <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
                    <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
                    <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
                    <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
                     <img src="../../assets/images/grey-basket.png"/>
                    </button>          
                   </mat-card>           
          </mat-card> 


 <mat-card  style="width: 240px;height: 430px;margin-top: -430px;margin-left: 290px;">
  <img src="../../assets/uploads/whisper-sanitary-pads-xl-plus-wings-ultra-overnight.png" style="margin-left: 40px;"/> 
<h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Whisper</h6> 
 <ul style="list-style-type: none;">
<li style="margin-top: -13px;margin-left: -30px;">
 <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Sanitary Pads - XL Plus Wings, Ultra Overnight</a>
 </li>
  </ul> 
 <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">15 pcs</h6> 
 <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 18px;">
  <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -16px;margin-left: 65px;">MRP:Rs 180</h4>  
  <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
 <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
<h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
 <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
 <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
 <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
  <img src="../../assets/images/grey-basket.png"/>
     </button>          
 </mat-card>                   
</mat-card>
  
<mat-card  style="width: 240px;height: 430px;margin-top:-430px;margin-left: 560px;"> 
    <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
    <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 6% OFF</span> 
    <img src="../../assets/images/asterisk.png"/>
    </mat-toolbar> 
    <img src="../../assets/uploads/whisper-choice-sanitary-napkins-ultra-xl.png" style="margin-left: 40px;"/> 
    <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Whisper</h6> 
    <ul style="list-style-type: none;">
   <li style="margin-top: -13px;margin-left: -30px;">
    <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Choice Sanitary Napkins - Ultra XL</a>
    </li>
         </ul> 
    <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">6 pcs</h6> 
    <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 30px;">
        <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 42</h6>
        <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 39.48</h4>  
       <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
        <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
       <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
        <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
        <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
        <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
         <img src="../../assets/images/grey-basket.png"/>
        </button>          
       </mat-card>     
 </mat-card>   
 
 <mat-card class="pedigree" style="width: 240px;height: 420px;margin-left: 20px;margin-top: 20px;">
    <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
     <span style="color: #ba5253;font-size: 10px;margin-left:110px;">SAVE Rs 13</span> 
     <img src="../../assets/images/asterisk.png"/>
     </mat-toolbar> 
     <img src="../../assets/uploads/bella-panty-soft-classic-pantyliners.png" style="margin-left: 40px;"/> 
     <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Bella</h6> 
     <ul style="list-style-type: none;">
    <li style="margin-top: -13px;margin-left: -30px;">
     <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Panty Soft Classic Pantyliners</a>
     </li>
          </ul> 
     <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: 10px;">50 pcs (Get 10 pcs Free)</h6>  
     <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 30px;">
        <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 160</h6>
        <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 147</h4>  
       <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
        <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
       <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
        <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
        <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
        <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
         <img src="../../assets/images/grey-basket.png"/>
        </button>          
       </mat-card>      
</mat-card>  

<mat-card class="pedigree" style="width: 240px;height: 420px;margin-left: 290px;margin-top: -420px;">
    <img src="../../assets/uploads/whisper-sanitary-pads-choice-wings.png" style="margin-left: 40px;"/> 
    <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Whisper</h6> 
    <ul style="list-style-type: none;">
   <li style="margin-top: -13px;margin-left: -30px;">
    <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Sanitary Pads - Choice Wings</a>
    </li>
         </ul> 
    <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: 10px;">7 Pads</h6>  
    <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 30px;">
       <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -16px;margin-left: 65px;">MRP:Rs 30</h4>  
      <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
       <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
      <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
       <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
       <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
       <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
        <img src="../../assets/images/grey-basket.png"/>
       </button>          
      </mat-card>        
</mat-card>

<mat-card class="pedigree" style="width: 240px;height: 420px;margin-left: 560px;margin-top: -420px;">
    <img src="../../assets/uploads/ob-tampons-for-average-flow.png" style="margin-left: 40px;"/> 
    <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">ob</h6> 
    <ul style="list-style-type: none;">
   <li style="margin-top: -13px;margin-left: -30px;">
    <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Tampons for Average Flow</a>
    </li>
         </ul> 
    <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: 10px;">20 pcs</h6>  
    <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 30px;">
        <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -16px;margin-left: 65px;">MRP:Rs 230</h4>  
       <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
        <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
       <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
        <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
        <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
        <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
         <img src="../../assets/images/grey-basket.png"/>
        </button>          
       </mat-card>             
</mat-card>
</div>                     