<div class="idbi" style="background-color: #f6f6f6;width: 100%;height: 900px;">
    <mat-card style="width: 1000px;height: 850px;margin-left: 185px;">
    <img src="../../assets/images/IDBI - website.jpg" style="margin-left: -18px;margin-top: -10px;">
    <h2 style="border:1px solid rgba(225,221,221,1.00);border-radius: 5px;text-align: center;color: rgba(244,28,81,1.00);font-size: 20px;width:300px;margin-left: 320px;margin-top: 30px;">
        TERMS AND CONDITIONS
    </h2>
    <ul>
        <li>IDBI Bank Platinum and Signature Debit Cards: 10% off upto Rs.225, minimum order Rs.2000. Use code: IDBI10. Code is valid once per card during the offer period</li>
        <li>IDBI Bank Classic and Gold Debit Cards: 5% off upto Rs.125, minimum order Rs.2000. Use code: IDBI5. Code is valid once per card during the offer period</li>
        <li>Offer valid between 1st to 30th September, 2020</li>
        <li>Entire order amount should be settled using IDBI Bank Debit Card</li>
        <li>Valid only on payment made online. Not valid on Card on Delivery</li>
        <li>Valid only on IDBI Bank Cards</li>
        <li>Offer not valid on Net Banking</li>
        <li>This voucher should be applied before placing the order</li>
        <li>Offer applicable on website, app and m-site</li>
        <li>Offer not valid on products listed under bigbasket Specialty Stores</li>
        <li>Cannot be clubbed with any other offer</li>
        <li>bigbasket has right to cancel orders if found to be of fraudulent nature</li>
        <li>bigbasket & IDBI Bank has the right to change / modify / add / delete any of the terms & conditions of the offer at any time without notice</li>
        <li>Excludes the following products and categories from redemption: Baby Cereals, Baby Foods, Infant Formula, Organic Baby Foods and Srilalitha Rice of all pack sizes</li>
        
    </ul>
    <button mat-button class="button" routerLink='' routerLinkActive="active" style="background-color:rgb(3, 134, 54);color: #fff;width: 200px;margin-left: 360px;">SHOP NOW</button> 
    </mat-card>
    </div>

<!--responsive-->
<div id="content-mobile">
    <button mat-button routerLink='' routerLinkActive="active" style="background-color:rgba(237,149,51,1.00);;color: #fff;width: 200px;margin-left: 360px;">SHOP NOW</button>
</div>
<!--ends-->       