<div class="combostore">
<a href="http://localhost:4200/" class="home"  style="text-decoration: none;margin-left: 90px;">HOME ></a>
<h6 style="color: #808285;margin-left:140px;margin-top: -20px;">COMBO STORE</h6>

<div class="category" style="background-color:transparent;width: 270px;height: 250px;margin-left: 90px;margin-top: -40px;">
    <h4 id="category" style="margin-top: 70px;font-size: 16px;color: #222;">Categories</h4>
    <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
    <ul style="display: inline;list-style-type:none;">
        <li style="margin-top:-20px;">
            <a href="">Gourmet & World Food</a>
        </li>
        <li>
            <a href="">Cooking & Baking Needs (1)</a>
        </li>
        <li>
            <a href="">Oils & Vinegar (1)</a>
        </li>
        <li>
            <a href="">Kitchen, Garden & Pets  </a>
        </li>
        <li>
            <a href="">Pet Food & Accessories (57)</a>
        </li>
        <li>
            <a href="">Snacks & Branded Foods</a>
        </li>
        <li>
            <a href="">Biscuits & Cookies (1)</a>
        </li>
      </ul>
    </div>

    <div class="brand" style="width: 230px;height: 250px;background-color:transparent;margin-left: 80px;margin-top: -50px;position: relative;z-index: 1;">
        <h4 id="brand-title" style="font-size: 16px;color: #222;margin-left: 10px;">Brand</h4>
        <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>  
        <input type="text" placeholder="Search by Brand" id="search-brand" style="width: 208px;margin-top: 3px;margin-left:4px;padding-left: 16px;"/>
<img src="../../assets/images/search.png" id="search-icon" style="margin-left: 186px;margin-top: -50px;">
<div style="position: absolute;overflow-y:scroll;height: 180px;width: 200px;margin-left: 10px;margin-top: -20px;">
    <mat-checkbox >BORGES </mat-checkbox><br>
    <mat-checkbox >By Nature</mat-checkbox><br>
    <mat-checkbox >Open Secret</mat-checkbox><br>
    <mat-checkbox >Pedigree</mat-checkbox><br>
    <mat-checkbox >SHEBA</mat-checkbox><br>
    <mat-checkbox >Whiskas</mat-checkbox><br>
    
</div>
</div>


<div style="width: 230px;height: 130px;background-color:transparent;margin-left: 80px;margin-top: 2px;position: relative;z-index: 1;">
    <h4 id="price-title" style="font-size: 16px;color: #222;margin-left: 10px;">Price</h4>
    <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
    
<div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
    <mat-checkbox >Rs 101 to Rs 200 (3)</mat-checkbox><br>
    <mat-checkbox >Rs 201 to Rs 500 (14)</mat-checkbox><br>
    <mat-checkbox >More than Rs 501 (43)</mat-checkbox><br>
   </div> 
</div>

<div style="width: 230px;height: 130px;background-color:transparent;margin-left: 80px;margin-top: 2px;position: relative;z-index: 1;">
    <h4 id="discount" style="font-size: 16px;color: #222;margin-left: 10px;">Discount</h4>
    <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
    
<div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
    <mat-checkbox >Upto 5% (22)</mat-checkbox><br>
    <mat-checkbox >5% - 10% (20)</mat-checkbox><br>
    <mat-checkbox >10% - 15% (4)</mat-checkbox><br>
    <mat-checkbox >More than 25% (1)</mat-checkbox><br>
   </div> 
</div>

<div style="width: 230px;height: 250px;background-color:transparent;margin-left: 80px;margin-top: 40px;position: relative;z-index: 1;">
    <h4 id="pack-size" style="font-size: 16px;color: #222;margin-left: 10px;">Pack Size</h4>
    <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
    <input type="text" placeholder="Search by Pack Size" id="search-icon" style="width: 208px;margin-top: 3px;margin-left:6px;padding-left: 16px;"/>
<img src="../../assets/images/search.png" id="search-brand" style="margin-left: 186px;margin-top: -50px;">
<div style="position: absolute;overflow-y:scroll;height: 220px;width: 200px;margin-left: 10px;margin-top: -20px;">
    <mat-checkbox >3x180 g </mat-checkbox><br>
    <mat-checkbox >g5x180 g</mat-checkbox><br>
    <mat-checkbox >2x180 g Multipack</mat-checkbox><br>
    <mat-checkbox >2x85 g (2 Items)</mat-checkbox><br>
    <mat-checkbox >2x80 g Multipack</mat-checkbox><br>
    <mat-checkbox >2x85 g Multipack</mat-checkbox><br>
    <mat-checkbox >3x70 g Multipack</mat-checkbox><br>
    <mat-checkbox >3x85 g Multipack</mat-checkbox><br>
    <mat-checkbox >4x80 g Multipack</mat-checkbox><br>
    <mat-checkbox >4x85 g Multipack</mat-checkbox><br>
    <mat-checkbox >7x70 g Multipack</mat-checkbox><br>
</div>
</div>

<div class="country" style="width: 230px;height: 250px;background-color:transparent;margin-left: 80px;margin-top:30px;position: relative;z-index: 1;">
    <h4 style="font-size: 16px;color: #222;margin-left: 10px;">Country Of Origin</h4>
    <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
    
<div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
    <mat-checkbox >India</mat-checkbox><br>
    <mat-checkbox >Hungary</mat-checkbox><br>  
    <mat-checkbox >Spain</mat-checkbox><br>  
    <mat-checkbox >Thailand</mat-checkbox><br>
    <mat-checkbox >The Netherlands</mat-checkbox><br>   
</div>
</div>

<div style="width: 230px;height: 250px;background-color:transparent;margin-left: 80px;margin-top: -50px;position: relative;z-index: 1;">
    <h4 id="food-preference" style="font-size: 16px;color: #222;margin-left: 10px;">Food Preference</h4>
    <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>   
<div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
    <mat-checkbox >Vegetarian</mat-checkbox><br>
    <mat-checkbox >Non Vegetarian</mat-checkbox><br>   
</div>
</div>

<mat-divider [vertical]="true" style="width: 300px;height: 1470px;margin-left: 20px;margin-top: -1510px;"></mat-divider>
<div class="banner-section" >
<div style="width: 900px;height: 1550px;background-color: transparent;margin-left: 330px;margin-top: -1470px;">
    <h4 class="combo" style="font: 24px ProximaNovaA;color:#58595b;">Combo Store (9)</h4>
    <ul id="all-products" style="list-style-type: none;">
        <li style="margin-top: 40px;margin-left:-1px;">
            <a href="" style="color: #58595b!important;font-size: 12px;font-family: ProximaNovaA-Semibold;border-bottom: 2px solid #84c225;">ALL PRODUCTS</a>
        </li>
    </ul>
    <img src="../../assets/images/bus.png" id="bus-img" style="margin-top:-70px"/>
    <mat-divider style="margin-top: -30px;"></mat-divider>
    <div class="coconut">
    <mat-card  style="width: 240px;height: 470px;margin-top: 20px;margin-left: 20px;">
        <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
            <span style="color: #ba5253;font-size: 10px;margin-left:110px;"> SAVE Rs 40 </span> 
            <img src="../../assets/images/asterisk.png"/>
            </mat-toolbar>
            <img src="../../assets/images/nature-coconut-flour-400-g-cacao-nibs-100-g.jpg" style="margin-left: 40px;"/> 
            <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">By Nature</h6>
            <ul style="list-style-type: none;">
                <li style="margin-top: -13px;margin-left: -30px;">
                    <a href="" style="font-size:13px;color:#000;margin-top: -30px;">Coconut Flour 400 g + Cacao Nibs 100 g</a>
                </li>
            </ul>
            <h6 style="font-size: 12px;color:#999 ;margin-left: 10px;">Combo 2 Items</h6> 
            <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 20px;">
                <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 795 </h6>
                <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 55px;">Rs 755.25</h4>  
                <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
              <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
              <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
             <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
             <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
             <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
                <img src="../../assets/images/grey-basket.png"/>
            </button>
                </mat-card>
        </mat-card>
    </div>
    <div class="dentastix">
        <mat-card  style="width: 240px;height: 470px;margin-top: -470px;margin-left: 290px;">
            <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
                <span style="color: #ba5253;font-size: 10px;margin-left:110px;"> SAVE Rs 14 </span> 
                <img src="../../assets/images/asterisk.png"/>
                </mat-toolbar>
                <img src="../../assets/images/1211860_1-pedigree-dentastix-dogtreat-oralcare-110g-meat-jerky-stix-barbecued-chicken-flavour-80g.jpg" style="margin-left: 40px;"/> 
                <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Pedigree</h6>
                <ul style="list-style-type: none;">
                    <li style="margin-top: -13px;margin-left: -30px;">
                        <a href="" style="font-size:13px;color:#000;margin-top: -30px;">Dentastix DogTreat OralCare-110g + Meat Jerky Stix-Barbecued Chicken Flavour 80g</a>
                    </li>
                </ul>
                <h6 style="font-size: 12px;color:#999 ;margin-left: 10px;">Combo 2 Pcs</h6> 
                <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 10px;">
                    <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 260 </h6>
                    <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 55px;">Rs 245.70</h4>  
                    <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
                  <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
                  <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
                 <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
                 <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
                 <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
                    <img src="../../assets/images/grey-basket.png"/>
                </button>
                    </mat-card>      
                </mat-card>  
                </div>
                <div class="dogtreat">
                <mat-card  style="width: 240px;height: 470px;margin-top:-470px;margin-left: 560px;">
                    <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
                        <span style="color: #ba5253;font-size: 10px;margin-left:110px;"> SAVE Rs 8 </span> 
                        <img src="../../assets/images/asterisk.png"/>
                        </mat-toolbar>
                        <img src="../../assets/images/dentastix-dogtreat-oralcare-5-10kg110-gmeat-jerkystix-grilled-liver-flavour80g.jpg" style="margin-left: 40px;"/> 
                        <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Pedigree</h6>  
                        <ul style="list-style-type: none;">
                            <li style="margin-top: -13px;margin-left: -30px;">
                                <a href="" style="font-size:13px;color:#000;margin-top: -30px;">Dentastix DogTreat OralCare-5-10kg,110 g+Meat JerkyStix-Grilled Liver Flavour80g</a>
                            </li>
                        </ul>
                        <h6 style="font-size: 12px;color:#999 ;margin-left: 10px;">Combo 2 Pcs</h6>
                        <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 10px;">
                            <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 260 </h6>
                            <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 55px;">Rs 252.20</h4>  
                            <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
                          <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
                          <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
                         <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
                         <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
                         <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
                            <img src="../../assets/images/grey-basket.png"/>
                        </button>
                            </mat-card>              
                        </mat-card>  
                        </div>
                        <div class="oralcare">
                        <mat-card  style="width: 240px;height: 470px;margin-top:20px;margin-left: 20px;">
                            <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
                                <span style="color: #ba5253;font-size: 10px;margin-left:110px;"> SAVE Rs 8 </span> 
                                <img src="../../assets/images/asterisk.png"/>
                                </mat-toolbar>
                                <img src="../../assets/images/dentastix-dogtreat-oralcare-5-10kg110-gmeat-jerkystix-grilled-liver-flavour80g.jpg" style="margin-left: 40px;"/> 
                                <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Pedigree</h6>  
                                <ul style="list-style-type: none;">
                                    <li style="margin-top: -13px;margin-left: -30px;">
                                        <a href="" style="font-size:13px;color:#000;margin-top: -30px;">Dentastix DogTreat OralCare-5-10kg,110g+Meat Jerky Stix-Roasted Lamb Flavour 80g</a>
                                    </li>
                                </ul>                   
                                <h6 style="font-size: 12px;color:#999 ;margin-left: 10px;">Combo 2 Pcs</h6>
                                <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 10px;">
                                    <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 260 </h6>
                                    <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 55px;">Rs 252.20</h4>  
                                    <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
                                  <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
                                  <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
                                 <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
                                 <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
                                 <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
                                    <img src="../../assets/images/grey-basket.png"/>
                                </button>
                                    </mat-card>   
                                </mat-card> 
                            </div>    
                            <div class="adult">
                                <mat-card  style="width: 240px;height: 470px;margin-top: -466px;margin-left: 290px;">
                                    <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
                                        <span style="color: #ba5253;font-size: 10px;margin-left:110px;"> SAVE Rs 169 </span> 
                                        <img src="../../assets/images/asterisk.png"/>
                                        </mat-toolbar>
                                        <img src="../../assets/images/1201818_1-whiskas-adult-cat-food-pocket-tuna-7-kg-wet-meal-tuna-in-jelly-for-adult-cat-102-kg.jpg" style="margin-left: 40px;"/> 
                                        <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Whiskas</h6>     
                                        <ul style="list-style-type: none;">
                                            <li style="margin-top: -13px;margin-left: -30px;">
                                                <a href="" style="font-size:13px;color:#000;margin-top: -30px;">Adult Cat Food Pocket Tuna 7 kg + Wet Meal Tuna In Jelly, for Adult Cat 1.02 kg</a>
                                            </li>
                                        </ul>
                                        <h6 style="font-size: 12px;color:#999 ;margin-left: 10px;">Combo 2 Items</h6>    
                                        <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 10px;">
                                            <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 2220 </h6>
                                            <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 59px;">Rs 2050.80</h4>  
                                            <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
                                          <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
                                          <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
                                         <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
                                         <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
                                         <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
                                            <img src="../../assets/images/grey-basket.png"/>
                                        </button>
                                            </mat-card>
                                    </mat-card>     
                                </div>  
                                <div class="dry-milk">             
                                    <mat-card  style="width: 240px;height: 470px;margin-top:-470px;margin-left: 560px;">
                                        <img src="../../assets/images/1208371_4-pedigree-dry-milk-veggie-for-puppy-12kg-wet-chicken-chunks-80g-15-packs-for-puppy.jpg" style="margin-left: 40px;"/> 
                                        <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Pedigree</h6>     
                                        <ul style="list-style-type: none;">
                                            <li style="margin-top: -13px;margin-left: -30px;">
                                                <a href="" style="font-size:13px;color:#000;margin-top: -30px;">Dry Milk & Veggie for Puppy 1.2kg + Wet Chicken Chunks 80g 15 Packs (For Puppy)</a>
                                            </li>
                                        </ul>
                                        <h6 style="font-size: 12px;color:#999 ;margin-left: 10px;">Combo 2 Items</h6>    
                                        <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 10px;">
                                            <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;"></h6>
                                            <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -25px;margin-left: 40px;">MRP Rs 810</h4>  
                                            <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
                                          <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
                                          <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
                                         <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
                                         <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
                                         <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
                                            <img src="../../assets/images/grey-basket.png"/>
                                        </button>
                                            </mat-card>  
                                    </mat-card>
                                </div>
             <div class="mackerel">                  
         <mat-card  style="width: 240px;height: 450px;margin-top: 15px;margin-left: 20px;">
          <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
         <span style="color: #ba5253;font-size: 10px;margin-left:110px;"> SAVE Rs 25 </span> 
             <img src="../../assets/images/asterisk.png"/>
             </mat-toolbar>   
             <img src="../../assets/images/whiskas-dry-mackerel-flavor-3kg-wet-tuna-in-jelly-for-adult-cats-85g-pack-of-12.jpg" style="margin-left: 40px;"/> 
             <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Whiskas</h6>                     
             <ul style="list-style-type: none;">
                <li style="margin-top: -13px;margin-left: -30px;">
                    <a href="" style="font-size:13px;color:#000;margin-top: -30px;">Dry - Mackerel Flavor 3kg + Wet - Tuna in Jelly (for Adult cats) 85G Pack of 12</a>
                </li>
            </ul>
            <h6 style="font-size: 12px;color:#999 ;margin-left: 10px;">Combo 2 Items</h6>     
            <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 10px;">
                <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 1275 </h6>
                <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 59px;">Rs 1249.80</h4>  
                <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
              <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
              <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
             <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
             <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
             <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
                <img src="../../assets/images/grey-basket.png"/>
            </button>
                </mat-card>  
            </mat-card>                
            </div>
     <div class="ocean">
     <mat-card  style="width: 240px;height: 450px;margin-top: -450px;margin-left: 292px;">
     <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
     <span style="color: #ba5253;font-size: 10px;margin-left:110px;"> SAVE Rs 25 </span> 
      <img src="../../assets/images/asterisk.png"/>
          </mat-toolbar>   
          <img src="../../assets/images/12whiskas-dry-ocean-fish-flavor-3kg-wet-tuna-in-jelly-for-adult-cats-85g-pack-of-12.jpg" style="margin-left: 40px;"/> 
          <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Whiskas</h6>  
          <ul style="list-style-type: none;">
            <li style="margin-top: -13px;margin-left: -30px;">
                <a href="" style="font-size:13px;color:#000;margin-top: -30px;">Dry- Ocean Fish Flavor 3kg + Wet- Tuna in Jelly (for Adult cats) 85G Pack of 12</a>
            </li>
        </ul>
        <h6 style="font-size: 12px;color:#999 ;margin-left: 10px;">Combo 2 Items</h6>     
        <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 10px;">
            <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 1275 </h6>
            <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 59px;">Rs 1249.80</h4>  
            <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
          <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
          <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
         <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
         <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
         <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
            <img src="../../assets/images/grey-basket.png"/>
        </button>
            </mat-card>  
              </mat-card> 
            </div> 
            <div class="cookies">
              <mat-card  style="width: 240px;height: 450px;margin-top: -450px;margin-left: 562px;">
                <img src="../../assets/images/1209328_2-open-secret-nutty-cookies-choco-almondwhite-choco-cashewpeanut-butter2-cookies-per-box.jpg" style="margin-left: 40px;"/> 
                <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Open Secret</h6>  
                <ul style="list-style-type: none;">
                    <li style="margin-top: -13px;margin-left: -30px;">
                        <a href="" style="font-size:13px;color:#000;margin-top: -30px;">Nutty Cookies- Choco Almond+White Choco Cashew+Peanut Butter(2 Cookies Per Box)</a>
                    </li>
                </ul>
                <h6 style="font-size: 12px;color:#999 ;margin-left: 10px;">Combo 3 Items</h6>  
                <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 10px;">
            
                    <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: 3px;margin-left:-10px;">MRP Rs 105</h4>  
        
                 <button mat-button style="background-color: #fee67c;width: 120px;height: 30px;margin-left:10px;margin-top: 20px;">NOTIFY ME
                    
                </button>
                    </mat-card>      
            </mat-card>  
        </div>                
     </div>
    </div>
</div>