#content-mobile{display: none;}
li{
    margin-top: 10px;
}

@media screen and (max-width:425px){
    .icici{
        max-width: 400px;
        max-height: 1000px;
       margin-left:-200px ;
    }
    h2{
       display: none;
    }
    mat-card{
        max-width: 400px;
        max-height: 1000px;
       margin-right: 340px;
    }
    img{
        width: 100%;
    }
    ul{
        max-width: 600px;
    }
    #content-mobile{
        display: block;
        margin-left: -300px;
    }
    #button{
        display: none;
    }
}
@media screen and (max-width:360px){
    mat-card{
        max-width: 370px;
        max-height: 1000px;
       margin-right: 340px;
    }
}
@media screen and (max-width:320px){
    mat-card{
        max-width: 340px;
        max-height: 1000px;
       margin-right: 340px;
    }
}
@media screen and (min-width:426px) and (max-width:800px){
    .icici{
        max-width: 400px;
        max-height: 1000px;
       margin-left:-200px ;
    }
    h2{
       display: none;
    }
    mat-card{
        max-width: 750px;
        max-height: 1000px;
       margin-right: 340px;
       margin-top: 20px;
    }
    img{
        width: 100%;
    }
    ul{
        max-width: 600px;
    }
    #content-mobile{
        display: block;
        margin-left: -300px;
    }
    #button{
        display: none;
    }

}