
<div class="icici" style="background-color: #f6f6f6;width: 100%;height: 1010px;">
    <mat-card style="width: 1000px;height: 990px;margin-left: 185px;">
    <img src="../../assets/images/ICICI-website.jpg" style="margin-left: -18px;margin-top: -10px;">
    <h2 style="border:1px solid rgba(225,221,221,1.00);border-radius: 5px;text-align: center;color: rgba(244,28,81,1.00);font-size: 20px;width:300px;margin-left: 320px;">
        TERMS AND CONDITIONS
    </h2>
    <ul>
        <li>  Use code: ICICIGTSEP1</li>
<li> Rs.150 instant discount on a minimum purchase of Rs.2500 </li>    
<li>  Offer valid only on Tuesdays in the month of September 2020 </li>    
<li> Offer valid once per user per month </li>    
<li> This voucher cannot be applied using bigbasket wallet amount </li>    
<li>Entire order amount should be settled using bank card  </li>    
<li> Valid only on payment made online. Not valid on Card on Delivery </li>    
<li> Offer valid once per user per card per month </li>       
  <li>Valid only on ICICI Bank Credit & Debit Cards</li>     
  <li>Offer not valid on Net Banking</li>     
  <li>This voucher should be applied before placing the order</li>     
  <li>Offer applicable on website, app and m-site</li>   
  <li>Offer not valid on products listed under bigbasket Specialty Stores</li>
 <li>Cannot be clubbed with any other offer</li>  
 <li>bigbasket has right to cancel orders if found to be of fraudulent nature</li>
 <li>bigbasket & ICICI Bank has the right to change / modify / add / delete any of the terms & conditions of the offer at any time without notice</li>
 <li>Excludes the following products and categories from redemption: Baby Cereals, Baby Foods, Infant Formula, Organic Baby Foods and Srilalitha Rice of all pack sizes</li>
    </ul>
    <button mat-button id="button" routerLink='' routerLinkActive="active" style="background-color:rgb(3, 134, 54);color: #fff;width: 200px;margin-left: 370px;">SHOP NOW</button>     
    </mat-card>
    </div>

    <!--responsive-->
<div id="content-mobile">
    <button mat-button id="btn" routerLink='' routerLinkActive="active" style="background-color:rgb(3, 134, 54);color: #fff;width: 200px;margin-left: 370px;">SHOP NOW</button>       
</div>
<!--ends-->
