.home{
    color: #808285;
    font: 400 10px/11px Lato,sans-serif;
}
.home:hover{
    color: #096;
}
a{
    text-decoration: none;
    color: #666;
    font-size: 14px;
}
a:hover{
    color: #096;
}
li{
    margin-left: 14px;
    margin-top: 3px;
}
mat-checkbox:hover{
    color: #096;
    
}
@media screen and (max-width:425px){
    .stationery{
        overflow-x: hidden;
    }
    .category{
        display: none;
    }
    mat-checkbox{
        display: none;
    }
    mat-divider{
        display: none;
    }
    #category{
        display: none;
    }
    #brand-title{
        display: none;
    }
    #search-brand{
        display: none;
    }
    #search-icon{
        display: none;
    }
    #price-title{
        display: none;
    }
    #discount{
        display: none;
    }
    .country{
        display: none;
    }
    #pack-size{
        display: none;
    }
   .stationeries{
    margin-left: -310px;
    margin-top: 380px;
   }

    #all-products{
        margin-left: -250px;
        margin-top: -10px;
    }
    #bus-img{
        margin-left: -270px;
    }
    .banner-section{
        max-width: 400px;
        height:370vh;
    }
    .dell{
        margin-top: 10px;
        margin-left: -260px;  
    }
    .logitech{
        margin-left: -530px;
        margin-top: 425px;  
    }
    .doms{
        margin-left: -800px;
        margin-top: 425px;
    }
    .pencil{
        margin-left: -260px;
        margin-top: -10px; 
    }
    .wiro{
        margin-left: -530px;
        margin-top: 430px;  
    }
    .paper{
        margin-top: 430px;
        margin-left: -800px;
    }
}
@media screen and (max-width:375px){
    .banner-section{
        max-width: 400px;
        height:340vh;
    }
}
@media screen and (max-width:320px){
    .banner-section{
        max-width: 400px;
        height:430vh;
    }
    .dell{
        margin-top: 10px;
        margin-left: -320px;  
    }
    .logitech{
        margin-left: -590px;
        margin-top: 425px;  
    }
    .doms{
        margin-left: -860px;
        margin-top: 425px;
    }
    .pencil{
        margin-left: -320px;
        margin-top: -10px; 
    }
    .wiro{
        margin-left: -590px;
        margin-top: 430px;  
    }
    .paper{
        margin-top: 430px;
        margin-left: -860px;
    }
}
@media screen and (min-width:426px) and (max-width:800px){
    .stationery{
        overflow-x: hidden;
    }
    .category{
        display: none;
    }
    mat-checkbox{
        display: none;
    }
    mat-divider{
        display: none;
    }
    #category{
        display: none;
    }
    #brand-title{
        display: none;
    }
    #search-brand{
        display: none;
    }
    #search-icon{
        display: none;
    }
    #price-title{
        display: none;
    }
    #discount{
        display: none;
    }
    .country{
        display: none;
    }
    #pack-size{
        display: none;
    }
   .stationeries{
    margin-left: -110px;
    margin-top: 380px;
   }

    #all-products{
        margin-left: -150px;
        margin-top: -10px;
    }
    #bus-img{
        margin-left: -170px;
    }
    .banner-section{
        max-width: 400px;
        height:100vh;
    }
    .dell{
        margin-top: 10px;
        margin-left: -340px;  
    }
    .logitech{
        margin-left: -360px;
        margin-top: -10px;  
    }
    .doms{
        margin-left: -380px;
        margin-top: -10px;
    }
    .pencil{
        margin-left: -340px;
        margin-top: -10px; 
    }
    .wiro{
        margin-left: -360px;
        margin-top: -18px;  
    }
    .paper{
        margin-top: -18px;
        margin-left: -380px;
    }
}
