
<div class="stationery">
<a href="http://localhost:4200/" class="home"  style="text-decoration: none;margin-left: 90px;">HOME ></a>
<h6 style="color: #808285;margin-left:140px;margin-top: -20px;"> STATIONERY</h6>
<div class="category" style="background-color:transparent;width: 270px;height: 250px;margin-left: 90px;margin-top: -40px;">
    <h4 id="category" style="margin-top: 70px;font-size: 16px;color: #222;">Categories</h4>
    <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
<ul style="display: inline;list-style-type:none;">
    <li style="margin-top:-20px;">
     <a href="">Cleaning & Household</a>
 </li>
     <li>
     <a href="">Stationery (6)</a>
 </li>
 </ul>
</div>
<div class="brand" style="width: 230px;height: 250px;background-color:transparent;margin-left: 80px;margin-top: -168px;position: relative;z-index: 1;">
<h4 id="brand-title" style="font-size: 16px;color: #222;margin-left: 10px;">Brand</h4>
 <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider> 
 <input type="text" placeholder="Search by Brand" id="search-brand" style="width: 208px;margin-top: 3px;margin-left:4px;padding-left: 16px;"/>
<img src="../../assets/images/search.png" id="search-icon" style="margin-left: 186px;margin-top: -50px;">
<div style="position: absolute;overflow-y:scroll;height: 180px;width: 200px;margin-left: 10px;margin-top: -10px;">
        <mat-checkbox >3M Highland</mat-checkbox><br>
        <mat-checkbox >Apsara</mat-checkbox><br> 
        <mat-checkbox >B Vishal</mat-checkbox><br>
        <mat-checkbox >BIC Cello</mat-checkbox><br> 
        <mat-checkbox >Camel</mat-checkbox><br>
        <mat-checkbox >Camlin</mat-checkbox><br> 
        <mat-checkbox >Camlin Kokuyo</mat-checkbox><br>
        <mat-checkbox >Cartini</mat-checkbox><br> 
        <mat-checkbox >Classmate</mat-checkbox><br>
        <mat-checkbox >Cubic</mat-checkbox><br> 
        <mat-checkbox >Darshi</mat-checkbox><br>
 </div>
 </div>

 <div style="width: 230px;height: 130px;background-color:transparent;margin-left: 80px;margin-top: 10px;position: relative;z-index: 1;">
<h4 id="price-title" style="font-size: 16px;color: #222;margin-left: 10px;">Price</h4>
<mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>   
<div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
    <mat-checkbox >Less than Rs 20 (14)</mat-checkbox><br>
    <mat-checkbox >Rs 21 to Rs 50 (43)</mat-checkbox><br>
    <mat-checkbox >Rs 51 to Rs 100 (46)</mat-checkbox><br>
    <mat-checkbox >Rs 101 to Rs 200 (51)</mat-checkbox><br>
    <mat-checkbox >Rs 201 to Rs 500 (28)</mat-checkbox><br>
    <mat-checkbox >More than Rs 501 (289)</mat-checkbox><br>
 </div> 
</div> 

<div style="width: 230px;height: 130px;background-color:transparent;margin-left: 80px;margin-top: 100px;position: relative;z-index: 1;">
 <h4 id="discount" style="font-size: 16px;color: #222;margin-left: 10px;">Discount</h4>
 <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>   
 <div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
    <mat-checkbox >Upto 5% (6)</mat-checkbox><br>
    <mat-checkbox >5% - 10% (69)</mat-checkbox><br>
    <mat-checkbox >10% - 15% (68)</mat-checkbox><br>
    <mat-checkbox >15% - 25% (3)</mat-checkbox><br>
    <mat-checkbox >More than 25% (11)</mat-checkbox><br>
   </div> 
</div>

<div style="width: 230px;height: 250px;background-color:transparent;margin-left: 80px;margin-top: 70px;position: relative;z-index: 1;">
 <h4 id="pack-size" style="font-size: 16px;color: #222;margin-left: 10px;">Pack Size</h4>
 <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
 <input type="text" placeholder="Search by Pack Size" id="search-icon" style="width: 208px;margin-top: 3px;margin-left:6px;padding-left: 16px;"/>
 <img src="../../assets/images/search.png" id="search-brand" style="margin-left: 186px;margin-top: -50px;">
 <div style="position: absolute;overflow-y:scroll;height: 140px;width: 200px;margin-left: 10px;margin-top: -20px;">
        <mat-checkbox >1 pc    </mat-checkbox><br>
        <mat-checkbox >1 pc (10 Colours)</mat-checkbox><br>
        <mat-checkbox >1 pc (5 Colours)</mat-checkbox><br>
        <mat-checkbox >1 pc Pouch</mat-checkbox><br>
        <mat-checkbox >1 pcs</mat-checkbox><br>
        <mat-checkbox >1 pcs Yes</mat-checkbox><br>
        <mat-checkbox >2x180 Pages Multipack</mat-checkbox><br>
        <mat-checkbox >2x300 Pages Multipack</mat-checkbox><br>
 </div> 
 </div>

 <div class="country" style="width: 230px;height: 200px;background-color:transparent;margin-left: 80px;margin-top:-30px;position: relative;z-index: 1;">
 <h4 style="font-size: 16px;color: #222;margin-left: 10px;">Country Of Origin</h4>
 <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
    
<div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
    <mat-checkbox >China</mat-checkbox><br>
    <mat-checkbox >Germany</mat-checkbox><br>
    <mat-checkbox >India</mat-checkbox><br>
</div>
</div>

<mat-divider [vertical]="true" style="width: 300px;height: 1130px;margin-left: 20px;margin-top: -1200px;"></mat-divider> 
<div class="banner-section" >
<div style="width: 900px;height: 1080px;background-color: transparent;margin-left: 330px;margin-top: -1130px;">
 <h4 class="stationeries" style="font: 24px ProximaNovaA;color:#58595b;">Stationery (6)</h4>
 <ul id="all-products" style="list-style-type: none;">
 <li style="margin-top: 40px;margin-left:-1px;">
 <a href="" style="color: #58595b!important;font-size: 12px;font-family: ProximaNovaA-Semibold;border-bottom: 2px solid #84c225;">ALL PRODUCTS</a>
  </li>
  </ul>
  <img src="../../assets/images/bus.png" id="bus-img" style="margin-top:-60px"/>  
 <mat-divider style="margin-top: -30px;"></mat-divider> 
 <div class="dell">
 <mat-card  style="width: 240px;height: 420px;margin-top: 20px;margin-left: 20px;">
 <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
 <span style="color: #ba5253;font-size: 10px;margin-left:110px;"> GET 10% OFF </span> 
 <img src="../../assets/images/asterisk.png"/>
 </mat-toolbar>
 <img src="../../assets/images/wireless-mouse.png" style="margin-left: 40px;"/> 
 <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Dell</h6> 
 <ul style="list-style-type: none;">
 <li style="margin-top: -13px;margin-left: -30px;">
 <a href="" style="font-size:13px;color:#000;margin-top: -30px;">WM118 Wireless Mouse</a>
 </li>
 </ul> 
 <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">1 pc</h6> 
 <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 10px;">
    <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 999 </h6>
    <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 899</h4>  
    <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
  <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
  <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
 <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
 <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
 <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
    <img src="../../assets/images/grey-basket.png"/>
</button>
    </mat-card>
 </mat-card> 
</div>
<div class="logitech">
 <mat-card  style="width: 240px;height: 420px;margin-top: -420px;margin-left: 290px;">
 <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
<span style="color: #ba5253;font-size: 10px;margin-left:110px;"> GET 10% OFF </span> 
<img src="../../assets/images/asterisk.png"/>
 </mat-toolbar>
 <img src="../../assets/images/usb-keyboard-wired.png" style="margin-left: 40px;"/> 
 <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Logitech</h6> 
 <ul style="list-style-type: none;">
 <li style="margin-top: -13px;margin-left: -30px;">
 <a href="" style="font-size:13px;color:#000;margin-top: -30px;">K120 USB Keyboard Wired</a>
 </li>
 </ul> 
 <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">1 pc</h6> 
 <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 10px;">
<h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 795 </h6>
<h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 715</h4>  
    <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
  <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
  <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
 <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
 <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
 <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
    <img src="../../assets/images/grey-basket.png"/>
</button>
    </mat-card>
</mat-card>
</div>
<div class="doms">
<mat-card  style="width: 240px;height: 420px;margin-top:-420px;margin-left: 560px;">
<mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
 <span style="color: #ba5253;font-size: 10px;margin-left:110px;"> SAVE Rs 11</span> 
 <img src="../../assets/images/asterisk.png"/>
 </mat-toolbar>
 <img src="../../assets/images/doms-academia-math-draw-instrument-box.png" style="margin-left: 40px;"/> 
 <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Doms</h6> 
 <ul style="list-style-type: none;">
 <li style="margin-top: -13px;margin-left: -30px;">
 <a href="" style="font-size:13px;color:#000;margin-top: -30px;">Academia Math Draw Instrument Box</a>
 </li>
 </ul> 
 <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">1 pc</h6>  
 <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 10px;">
    <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 110 </h6>
    <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 99</h4>  
        <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
      <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
      <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
     <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
     <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
     <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
        <img src="../../assets/images/grey-basket.png"/>
    </button>
        </mat-card>
 </mat-card>
</div>
<div class="pencil">
 <mat-card  style="width: 240px;height: 420px;margin-top: 20px;margin-left: 20px;">
 <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
<span style="color: #ba5253;font-size: 10px;margin-left:110px;"> GET 16% OFF </span> 
 <img src="../../assets/images/asterisk.png"/>
  </mat-toolbar>
<img src="../../assets/images/mummas-boy-pencil.png" style="margin-left: 40px;"/> 
<h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Doms</h6> 
 <ul style="list-style-type: none;">
<li style="margin-top: -13px;margin-left: -30px;">
 <a href="" style="font-size:13px;color:#000;margin-top: -30px;">Mumma's Boy Pencil - X-Tra Super Dark</a>
</li>
</ul> 
 <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">10 pcs</h6>
 <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 10px;">
    <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 70 </h6>
    <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 59</h4>  
        <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
      <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
      <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
     <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
     <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
     <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
        <img src="../../assets/images/grey-basket.png"/>
    </button>
        </mat-card>   
  </mat-card>
</div>
<div class="wiro">
<mat-card  style="width: 240px;height: 420px;margin-top: -420px;margin-left: 290px;">
<mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
<span style="color: #ba5253;font-size: 10px;margin-left:110px;"> GET 11% OFF </span> 
<img src="../../assets/images/asterisk.png"/>
 </mat-toolbar> 
 <img src="../../assets/images/doms-wiro-note-book-1-subject-note-book-160-pages.png" style="margin-left: 40px;"/> 
 <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Doms</h6> 
  <ul style="list-style-type: none;">
 <li style="margin-top: -13px;margin-left: -30px;">
  <a href="" style="font-size:13px;color:#000;margin-top: -30px;">Wiro Note Book 1 Subject Note Book - 160 Pages</a>
 </li>
 </ul> 
  <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">1 pc</h6> 
 <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 10px;">
 <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 100 </h6>
 <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 89</h4>  
        <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
      <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
      <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
     <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
     <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
     <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
        <img src="../../assets/images/grey-basket.png"/>
    </button>
        </mat-card>
</mat-card>
</div>
<div class="paper">
<mat-card  style="width: 240px;height: 420px;margin-top:-420px;margin-left: 560px;">
<img src="../../assets/images/double-a-a4-paper-ream-80-gsm.png" style="margin-left: 40px;"/> 
 <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Double A</h6> 
 <ul style="list-style-type: none;">
<li style="margin-top: -13px;margin-left: -30px;">
 <a href="" style="font-size:13px;color:#000;margin-top: -30px;">A4 Paper Ream - 80 Gsm</a>
 </li>
 </ul> 
 <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">1 pc</h6> 
 <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 30px;">
    <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -26px;margin-left: 45px;">MRP Rs 359</h4>  
           <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
         <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
         <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
        <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
        <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
        <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
           <img src="../../assets/images/grey-basket.png"/>
       </button>
           </mat-card>
 </mat-card>  
</div>
</div>
</div>
</div>     

