<div class="soaps">
<a href="http://localhost:4200/" class="home"  style="text-decoration: none;margin-left: 90px;">HOME ></a>
<h6 style="color: #808285;margin-left:140px;margin-top: -20px;">SOAPS & SHOWER GELS</h6>
<div class="category" style="background-color:transparent;width: 270px;height: 80px;margin-left: 90px;margin-top: -40px;">
    <h4 id="category" style="margin-top: 70px;font-size: 16px;color: #222;">Categories</h4>
     <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
    <ul style="display: inline;list-style-type:none;">
     <li style="margin-top:-20px;">
     <a href="">Beauty & Hygiene</a>
     </li>
     <li>
     <a href="">Bath & Hand Wash</a>
     </li>
     <li>
        <a href="">Men's Grooming </a>
        </li>  
 </ul>
</div>

<div class="brand" style="width: 230px;height: 250px;background-color:transparent;margin-left: 80px;margin-top: 20px;position: relative;z-index: 1;">
<h4 id="brand-title" style="font-size: 16px;color: #222;margin-left: 10px;">Brand</h4>
<mat-divider style="width: 210px;margin-top: -15px;"></mat-divider> 
 <input type="text" placeholder="Search by Brand" id="search-icon" style="width: 208px;margin-top: 3px;margin-left:4px;padding-left: 16px;"/>
<img src="../../assets/images/search.png" id="search-brand" style="margin-left: 186px;margin-top: -50px;">
<div style="position: absolute;overflow-y:scroll;height: 180px;width: 200px;margin-left: 10px;margin-top: -10px;">
                                                 <mat-checkbox >50ap</mat-checkbox><br>
                                                 <mat-checkbox >Classic Essentials</mat-checkbox><br> 
                                                 <mat-checkbox >BIOTIQUE</mat-checkbox><br>
                                                 <mat-checkbox >Cetaphil</mat-checkbox><br> 
                                                 <mat-checkbox >Chandrika</mat-checkbox><br>
                                                 <mat-checkbox >Chicco</mat-checkbox><br> 
                                                 <mat-checkbox >Cinthol</mat-checkbox><br>
                                                 <mat-checkbox >Dettol</mat-checkbox><br> 
                                                 <mat-checkbox >Dove </mat-checkbox><br>
                                                 <mat-checkbox >Enchanteur</mat-checkbox><br> 
                                                 <mat-checkbox >Lux</mat-checkbox><br>
 </div>
</div> 

<div style="width: 250px;height: 100px;background-color:transparent;margin-left: 80px;margin-top: 10px;position: relative;z-index: 1;">
    <h4 id="price-title" style="font-size: 16px;color: #222;margin-left: 10px;">Price</h4>
     <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>   
    <div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
        <mat-checkbox >Less than Rs 20 (5)</mat-checkbox><br>
        <mat-checkbox >Rs 21 to Rs 50 (47)</mat-checkbox><br>
        <mat-checkbox >Rs 201 to Rs 500 (7)</mat-checkbox><br>
        <mat-checkbox >More than Rs 501 (138)</mat-checkbox><br>
    </div> 
     </div> 

 <div style="width: 230px;height: 130px;background-color:transparent;margin-left: 80px;margin-top: 70px;position: relative;z-index: 1;">
 <h4 id="discount" style="font-size: 16px;color: #222;margin-left: 10px;">Discount</h4>
 <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>   
<div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
                                           <mat-checkbox >Upto 5% (8)</mat-checkbox><br>
                                           <mat-checkbox >5% - 10% (7)</mat-checkbox><br>
                                           <mat-checkbox >10% - 15% (3)</mat-checkbox><br>
                                           <mat-checkbox >15% - 25% (1)</mat-checkbox>
 </div> 
 </div> 
 <div style="width: 230px;height: 250px;background-color:transparent;margin-left: 80px;margin-top: 40px;position: relative;z-index: 1;">
    <h4 id="pack-size" style="font-size: 16px;color: #222;margin-left: 10px;">Pack Size</h4>
   <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
    <input type="text" placeholder="Search by Pack Size" id="search-icon" style="width: 208px;margin-top: 3px;margin-left:6px;padding-left: 16px;"/>
    <img src="../../assets/images/search.png" id="search-brand" style="margin-left: 186px;margin-top: -50px;">
    <div style="position: absolute;overflow-y:scroll;height: 160px;width: 200px;margin-left: 10px;margin-top: -20px;">
                                            <mat-checkbox >3x150 g Carton</mat-checkbox><br>
                                            <mat-checkbox >12 pcs Box</mat-checkbox><br>
                                            <mat-checkbox >50 g</mat-checkbox><br>
                                            <mat-checkbox >50 g Carton</mat-checkbox><br>
                                            <mat-checkbox >70 g (Pack of 5)</mat-checkbox><br>
                                            <mat-checkbox >75 g</mat-checkbox><br>
                                            <mat-checkbox >75 g Carton</mat-checkbox><br>
                                            <mat-checkbox >75 g Carton (Pack of 4)</mat-checkbox><br>
                                            <mat-checkbox >75 ml</mat-checkbox><br>
    </div> 
   </div> 

   <div class="bath" style="width: 230px;height: 30px;background-color:transparent;margin-left: 80px;margin-top:-20px;position: relative;z-index: 1;">
    <h4 style="font-size: 16px;color: #222;margin-left: 10px;">Bath & Shower</h4>
   <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
    <div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
                        
                                       <mat-checkbox >Soaps</mat-checkbox><br>
    </div>
   </div> 
   
   <div style="width: 230px;height: 160px;background-color:transparent;margin-left: 80px;margin-top:40px;position: relative;z-index: 1;">
    <h4 id="colour" style="font-size: 16px;color: #222;margin-left: 10px;">Colour</h4>
   <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
    <div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
                        
        <mat-checkbox >Blue</mat-checkbox><br>
        <mat-checkbox >Green</mat-checkbox><br>
        <mat-checkbox >Red</mat-checkbox><br>
        <mat-checkbox >White</mat-checkbox><br>
        <mat-checkbox >Gold</mat-checkbox><br>                               
        
    </div>
   </div>   
   <mat-divider [vertical]="true" style="width: 300px;height: 1350px;margin-left: 20px;margin-top: -1200px;"></mat-divider> 
   <div class="banner-section" >
   <div style="width: 900px;height: 1450px;background-color: transparent;margin-left: 330px;margin-top: -1350px;">
    <h4 class="shower" style="font: 24px ProximaNovaA;color:#58595b;">Soaps & Shower Gels (9)</h4>
   <ul id="all-products" style="list-style-type: none;">
    <li style="margin-top: 40px;margin-left:-1px;">
    <a href="" style="color: #58595b!important;font-size: 12px;font-family: ProximaNovaA-Semibold;border-bottom: 2px solid #84c225;">ALL PRODUCTS</a>
    </li>
    </ul>
    <img src="../../assets/images/bus.png" id="bus-img" style="margin-top:-60px"/>  
   <mat-divider style="margin-top: -30px;"></mat-divider> 
   <div class="mysore">
   <mat-card  style="width: 240px;height: 420px;margin-top: 20px;margin-left: 20px;">  
    <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
    <span style="color: #ba5253;font-size: 10px;margin-left:110px;">SAVE Rs 13</span> 
     <img src="../../assets/images/asterisk.png"/>
     </mat-toolbar> 
     <img src="../../assets/uploads/mysore-sandal-bathing-soap-superior-with-pure-sandalwood-oil.png" style="margin-left: 40px;"/> 
     <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Mysore Sandal</h6> 
      <ul style="list-style-type: none;">
      <li style="margin-top: -13px;margin-left: -30px;">
      <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Bathing Soap - Superior with Pure Sandalwood Oil</a>
     </li>
     </ul> 
     <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">150 g Pack of 3</h6>
     <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: -10px;">
        <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 220</h6>
         <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 206.80</h4>  
         <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
             <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
         <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
         <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
         <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
        <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
             <img src="../../assets/images/grey-basket.png"/>
             </button>
           </mat-card>     
    </mat-card>   
</div>
<div class="gel">
    <mat-card  style="width: 240px;height: 420px;margin-top: -420px;margin-left: 290px;">
        <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
            <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 12% OFF</span> 
             <img src="../../assets/images/asterisk.png"/>
             </mat-toolbar> 
             <img src="../../assets/uploads/fiama-gel-bathing-bar-celebration-pack-with-5-unique-gel-bars.png" style="margin-left: 40px;"/> 
             <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Fiama</h6> 
              <ul style="list-style-type: none;">
              <li style="margin-top: -13px;margin-left: -30px;">
              <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Gel Bathing Bar Celebration Pack - With 5 Unique Gel Bars</a>
             </li>
             </ul> 
             <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">125 g (Buy 4 Get 1 Free)</h6>
             <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: -10px;">
                <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 259</h6>
                 <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 227.92</h4>  
                 <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
                     <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
                 <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
                 <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
                 <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
                <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
                     <img src="../../assets/images/grey-basket.png"/>
                     </button>
                   </mat-card>     
        </mat-card>   
    </div>
    <div class="aroma">
        <mat-card  style="width: 240px;height: 420px;margin-top:-420px;margin-left: 560px;">
            <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
                <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 26% OFF</span> 
                 <img src="../../assets/images/asterisk.png"/>
                 </mat-toolbar> 
                 <img src="../../assets/uploads/palmolive-shower-gel-aroma-absolute-relax.png" style="margin-left: 40px;"/> 
                 <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Palmolive</h6> 
                  <ul style="list-style-type: none;">
                  <li style="margin-top: -13px;margin-left: -30px;">
                  <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Shower Gel - Aroma, Absolute Relax</a>
                 </li>
                 </ul> 
                 <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">750 ml</h6>
                 <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: -10px;">
                    <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 409</h6>
                     <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 367.92</h4>  
                     <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
                         <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
                     <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
                     <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
                     <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
                    <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
                         <img src="../../assets/images/grey-basket.png"/>
                         </button>
                       </mat-card>           
       </mat-card>        
    </div>
    <div class="bar">
       <mat-card  style="width: 240px;height: 430px;margin-top: 20px;margin-left: 20px;"> 
         <img src="../../assets/uploads/pears-pure-gentle-bathing-bar.png" style="margin-left: 40px;"/> 
         <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Pears</h6> 
          <ul style="list-style-type: none;">
          <li style="margin-top: -13px;margin-left: -30px;">
          <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Pure & Gentle Bathing Bar</a>
         </li>
         </ul> 
         <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">75 g (Buy 3 Get 1 Free)</h6>    
         <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top:30px;">
             <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -16px;margin-left: 65px;">MRP:Rs 105</h4>  
             <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
                 <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
             <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
             <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
             <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
            <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
                 <img src="../../assets/images/grey-basket.png"/>
            </button>        
        </mat-card>     
        </mat-card>  
    </div>
    <div class="soft">
        <mat-card  style="width: 240px;height: 430px;margin-top: -430px;margin-left: 290px;">
            <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
                <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 25% OFF</span> 
               <img src="../../assets/images/asterisk.png"/>
                </mat-toolbar> 
                <img src="../../assets/uploads/pears-bathing-soap-soft-fresh.png" style="margin-left: 40px;"/> 
                <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Pears</h6> 
                 <ul style="list-style-type: none;">
                 <li style="margin-top: -13px;margin-left: -30px;">
                 <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Bathing Soap - Soft & Fresh</a>
                </li>
                </ul> 
                <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">125 g (Pack of 4)</h6>    
                <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top:20px;">
                   <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 180</h6>
                    <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 135</h4>  
                    <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
                        <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
                    <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
                    <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
                    <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
        <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
             <img src="../../assets/images/grey-basket.png"/>
         </button>        
         </mat-card>             
     </mat-card>  
    </div>
    <div class="cream">
     <mat-card  style="width: 240px;height: 430px;margin-top:-430px;margin-left: 560px;"> 
            <img src="../../assets/uploads/dove-cream-beauty-bathing-bar.png" style="margin-left: 40px;"/> 
            <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Dove</h6> 
             <ul style="list-style-type: none;">
             <li style="margin-top: -13px;margin-left: -30px;">
             <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Cream Beauty Bathing Bar</a>
            </li>
            </ul> 
            <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top:30px;">
                <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">MRP:Rs 45</h4>  
                <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
                    <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
                <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
                <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
                <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
               <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
                    <img src="../../assets/images/grey-basket.png"/>
               </button>        
           </mat-card>            
    </mat-card> 
</div>
<div class="bodywash">
    <mat-card class="pedigree" style="width: 240px;height: 420px;margin-left: 20px;margin-top: 20px;">
        <img src="../../assets/uploads/pears-bodywash-moisturising-98-pure-glycerine.png" style="margin-left: 40px;"/> 
        <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Pears</h6> 
         <ul style="list-style-type: none;">
         <li style="margin-top: -13px;margin-left: -30px;">
         <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Bodywash Moisturising 98% Pure Glycerine</a>
        </li>
        </ul> 
        <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">250 ml (Free Loofah)</h6>    
        <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top:20px;">
            <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -16px;margin-left: 65px;">MRP:Rs 135</h4>  
            <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
                <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
            <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
            <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
            <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
<button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
     <img src="../../assets/images/grey-basket.png"/>
 </button>        
 </mat-card>               
  </mat-card>   
</div>
<div class="silk">
  <mat-card class="pedigree" style="width: 240px;height: 420px;margin-left: 290px;margin-top: -420px;">
    <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
        <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 23% OFF</span> 
        <img src="../../assets/images/asterisk.png"/>
        </mat-toolbar>    
        <img src="../../assets/uploads/lux-soap-bar-soft-touch-silk-essence-rose-water.png" style="margin-left: 40px;"/> 
        <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Lux</h6> 
         <ul style="list-style-type: none;">
         <li style="margin-top: -13px;margin-left: -30px;">
         <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Soap Bar - Soft Touch Silk Essence & Rose Water</a>
        </li>
        </ul> 
        <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">150 g Pack of 3</h6>    
        <mat-card style="width: 212px;height: 150px;border: 1px solid #fcfcfc;margin-top:-10px;">
            <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 114</h6>      
            <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -35px;margin-left: 65px;">Rs 88.30</h4>  
            <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
                <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
            <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
            <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
            <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
<button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
     <img src="../../assets/images/grey-basket.png"/>
 </button>        
 </mat-card>                     
  </mat-card>    
</div>
<div class="palmolive">
  <mat-card class="pedigree" style="width: 240px;height: 420px;margin-left: 560px;margin-top: -420px;">
    <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
        <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 26% OFF</span> 
        <img src="../../assets/images/asterisk.png"/>
        </mat-toolbar> 
        <img src="../../assets/uploads/palmolive-shower-gel-aroma-morning-tonic.png" style="margin-left: 40px;"/> 
        <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Palmolive</h6> 
         <ul style="list-style-type: none;">
         <li style="margin-top: -13px;margin-left: -30px;">
         <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">palmolive-shower-gel-aroma-morning-tonic</a>
        </li>
        </ul> 
        <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">750 ml</h6>    
        <mat-card style="width: 212px;height: 150px;border: 1px solid #fcfcfc;margin-top:20px;">
            <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 499</h6>      
            <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -35px;margin-left: 65px;">Rs 367.92</h4>  
            <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
                <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
            <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
            <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
            <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
<button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
     <img src="../../assets/images/grey-basket.png"/>
 </button>        
 </mat-card>                
  </mat-card> 
</div>      
</div>
</div>
  </div>        