<div class="sauce">
<a href="http://localhost:4200/" class="home"  style="text-decoration: none;margin-left: 90px;">HOME ></a>
<h6 style="color: #808285;margin-left:140px;margin-top: -20px;">SAUCE, SPREADS & DIPS</h6>
<div class="category" style="background-color:transparent;width: 270px;height: 50px;margin-left: 90px;margin-top: -40px;">
    <h4 id="category" style="margin-top: 70px;font-size: 16px;color: #222;">Categories</h4>
     <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
    <ul style="display: inline;list-style-type:none;">
     <li style="margin-top:-20px;">
     <a href="">Snacks & Branded Foods</a>
     </li>
     <li>
     <a href="">Spreads, Sauces, Ketchup (149)</a>
     </li> 
     </ul>
    </div>
 <div class="brand" style="width: 230px;height: 250px;background-color:transparent;margin-left: 80px;margin-top: 30px;position: relative;z-index: 1;">
  <h4 id="brand-title" style="font-size: 16px;color: #222;margin-left: 10px;">Brand</h4>
<mat-divider style="width: 210px;margin-top: -15px;"></mat-divider> 
 <input type="text" placeholder="Search by Brand" id="search-icon" style="width: 208px;margin-top: 3px;margin-left:4px;padding-left: 16px;"/>
 <img src="../../assets/images/search.png" id="search-brand" style="margin-left: 186px;margin-top: -50px;">
 <div style="position: absolute;overflow-y:scroll;height: 180px;width: 200px;margin-left: 10px;margin-top: -10px;">
                               <mat-checkbox >24 Mantra</mat-checkbox><br>
                               <mat-checkbox >Aachi</mat-checkbox><br> 
                               <mat-checkbox >Alpino</mat-checkbox><br>
                               <mat-checkbox >Apis</mat-checkbox><br> 
                               <mat-checkbox >Bison</mat-checkbox><br>
                               <mat-checkbox >Cadbury Dairy Milk</mat-checkbox><br> 
                               <mat-checkbox >Chings</mat-checkbox><br>
                               <mat-checkbox >Cremica</mat-checkbox><br> 
                               <mat-checkbox >Dabur  </mat-checkbox><br>
                               <mat-checkbox >Del Monte</mat-checkbox><br> 
                               <mat-checkbox >Double horse</mat-checkbox><br>
</div>
</div>  

<div style="width: 230px;height: 130px;background-color:transparent;margin-left: 80px;margin-top: 10px;position: relative;z-index: 1;">
<h4 id="price-title" style="font-size: 16px;color: #222;margin-left: 10px;">Price</h4>
<mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>   
<div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
               <mat-checkbox >Rs 21 to Rs 50 (40)</mat-checkbox><br>
               <mat-checkbox >Rs 51 to Rs 100 (46)</mat-checkbox><br>
               <mat-checkbox >Rs 101 to Rs 200 (4)</mat-checkbox><br>
               <mat-checkbox >Rs 201 to Rs 500 (3)</mat-checkbox><br>
               <mat-checkbox >More than Rs 501 (16)</mat-checkbox><br>
 </div> 
 </div> 
 
 <div style="width: 230px;height: 250px;background-color:transparent;margin-left: 80px;margin-top: 70px;position: relative;z-index: 1;">
 <h4 id="pack-size" style="font-size: 16px;color: #222;margin-left: 10px;">Pack Size</h4>
<mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
<input type="text" placeholder="Search by Pack Size" id="search-icon" style="width: 208px;margin-top: 3px;margin-left:6px;padding-left: 16px;"/>
<img src="../../assets/images/search.png" id="search-brand" style="margin-left: 186px;margin-top: -50px;">
<div style="position: absolute;overflow-y:scroll;height: 140px;width: 200px;margin-left: 10px;margin-top: -20px;">
                        <mat-checkbox >85 g</mat-checkbox><br>
                        <mat-checkbox >90 g</mat-checkbox><br>
                        <mat-checkbox >100 g</mat-checkbox><br>
                        <mat-checkbox >170 ml Bottle</mat-checkbox><br>
                        <mat-checkbox >188 g bottel</mat-checkbox><br>
                        <mat-checkbox >200 g </mat-checkbox><br>
                        <mat-checkbox >200 g Bottle</mat-checkbox><br>
                        <mat-checkbox >220 g</mat-checkbox><br>
                        <mat-checkbox >220 g Bottle</mat-checkbox><br>
</div> 
 </div> 

 <div style="width: 230px;height: 130px;background-color:transparent;margin-left: 80px;margin-top: -35px;position: relative;z-index: 1;">
<h4 id="discount" style="font-size: 16px;color: #222;margin-left: 10px;">Discount</h4>
<mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>   
<div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
                    <mat-checkbox >Upto 5% (8)</mat-checkbox><br>
                    <mat-checkbox >5% - 10% (7)</mat-checkbox><br>
                    <mat-checkbox >10% - 15% (3)</mat-checkbox><br>
                    <mat-checkbox >15% - 25% (1)</mat-checkbox>
</div> 
</div>

<div class="consistency" style="width: 230px;height: 100px;background-color:transparent;margin-left: 80px;margin-top:40px;position: relative;z-index: 1;">
 <h4 style="font-size: 16px;color: #222;margin-left: 10px;">Consistency</h4>
 <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
<div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
                 <mat-checkbox >Ketchup</mat-checkbox><br>
                 <mat-checkbox >Puree</mat-checkbox><br>
                 <mat-checkbox >Sauce</mat-checkbox><br>
   </div>
   </div>

<div style="width: 230px;height: 100px;background-color:transparent;margin-left: 80px;margin-top:40px;position: relative;z-index: 1;">
 <h4 id="contains" style="font-size: 16px;color: #222;margin-left: 10px;">Contains</h4>
<mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
<div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
                    <mat-checkbox >No Onion & No Garlic</mat-checkbox><br>
                    <mat-checkbox >Onion & Garlics</mat-checkbox><br>
 </div>
</div>

<div style="width: 230px;height: 200px;background-color:transparent;margin-left: 80px;margin-top:10px;position: relative;z-index: 1;">
    <h4 id="country" style="font-size: 16px;color: #222;margin-left: 10px;">Country Of Origin</h4>
    <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
    <div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
                 <mat-checkbox >India</mat-checkbox><br>
   </div>
   </div>

<div style="width: 230px;height: 200px;background-color:transparent;margin-left: 80px;margin-top:-130px;position: relative;z-index: 1;">
<h4 id="food" style="font-size: 16px;color: #222;margin-left: 10px;">Food Preference</h4>
<mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
 <div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
                  <mat-checkbox >Vegetarian</mat-checkbox><br>
                  <mat-checkbox >Non Vegetarian</mat-checkbox><br>
                  
 </div>
</div>

<mat-divider [vertical]="true" style="width: 300px;height: 1380px;margin-left: 20px;margin-top: -1460px;"></mat-divider> 
<div class="banner-section" >
<div style="width: 900px;height: 1430px;background-color: transparent;margin-left: 330px;margin-top: -1360px;">
    <h4 class="spreads" style="font: 24px ProximaNovaA;color:#58595b;">Sauce, Spreads & Dips (9)</h4>
    <ul id="all-products" style="list-style-type: none;">
    <li style="margin-top: 40px;margin-left:-1px;">
    <a href="" style="color: #58595b!important;font-size: 12px;font-family: ProximaNovaA-Semibold;border-bottom: 2px solid #84c225;">ALL PRODUCTS</a>
    </li>
    </ul>
    <img src="../../assets/images/bus.png" id="bus-img" style="margin-top:-60px"/>  
    <mat-divider style="margin-top: -30px;"></mat-divider> 
    <div class="chilli">
    <mat-card  style="width: 240px;height: 420px;margin-top: 20px;margin-left: 20px;">  
        <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
            <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 10% OFF</span> 
           <img src="../../assets/images/asterisk.png"/>
           </mat-toolbar>       
           <img src="../../assets/uploads/veeba-mayonnaise-chilli.jpg" style="margin-left: 40px;"/> 
          <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Veeba</h6> 
           <ul style="list-style-type: none;">
           <li style="margin-top: -13px;margin-left: -30px;">
           <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Mayonnaise - Chilli</a>
          </li>
          </ul> 
          <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">415 g Pouch</h6> 
          <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 20px;">
            <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 84 </h6>
            <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 75.60</h4>  
            <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
            <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
            <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
             <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
             <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
             <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
                <img src="../../assets/images/grey-basket.png"/>
            </button>
                </mat-card>               
 </mat-card>      
</div>
<div class="sandwich">
 <mat-card  style="width: 240px;height: 420px;margin-top: -420px;margin-left: 290px;">
    <img src="../../assets/uploads/oetker-funfoods-sandwich-spread-cucumber-carrot-eggless.jpg" style="margin-left: 40px;"/> 
    <img src="../../assets/images/green-circle.png"/>
    <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Dr. Oetker</h6> 
     <ul style="list-style-type: none;">
     <li style="margin-top: -13px;margin-left: -30px;">
     <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">FunFoods Sandwich Spread - Cucumber & Carrot, Eggless</a>
    </li>
    </ul> 
    <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">300 g Jar</h6> 
    <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: -10px;">
        <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -16px;margin-left: 65px;">MRP: Rs 79</h4>  
        <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
        <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
        <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
         <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
         <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
         <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
            <img src="../../assets/images/grey-basket.png"/>
        </button>
            </mat-card>     
  </mat-card> 
</div>
<div class="green">
  <mat-card  style="width: 240px;height: 420px;margin-top:-420px;margin-left: 560px;">
    <img src="../../assets/uploads/chings-green-chilli-sauce.jpg" style="margin-left: 40px;"/> 
    <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Chings</h6> 
     <ul style="list-style-type: none;">
     <li style="margin-top: -13px;margin-left: -30px;">
     <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Green Chilli Sauce</a>
    </li>
    </ul> 
    <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">90 g</h6>    
    <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 20px;">
        <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -16px;margin-left: 65px;">MRP: Rs 20</h4>  
        <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
        <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
        <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
         <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
         <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
         <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
            <img src="../../assets/images/grey-basket.png"/>
        </button>
            </mat-card>     
    </mat-card> 
</div>
<div class="red">
    <mat-card  style="width: 240px;height: 430px;margin-top: 20px;margin-left: 20px;">
        <img src="../../assets/uploads/chings-red-chilli-sauce.jpg" style="margin-left: 40px;"/> 
        <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Chings</h6> 
         <ul style="list-style-type: none;">
         <li style="margin-top: -13px;margin-left: -30px;">
         <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Red Chilli Sauce</a>
        </li>
        </ul> 
        <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">90 g</h6>    
        <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 20px;">
            <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -16px;margin-left: 65px;">MRP: Rs 20</h4>  
            <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
            <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
            <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
             <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
             <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
             <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
                <img src="../../assets/images/grey-basket.png"/>
            </button>
                </mat-card>           
   </mat-card>   
</div>
<div class="vinegar">
   <mat-card  style="width: 240px;height: 430px;margin-top: -430px;margin-left: 290px;">
<mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
 <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 6% OFF</span> 
 <img src="../../assets/images/asterisk.png"/>
 </mat-toolbar>     
 <img src="../../assets/uploads/chings-chilly-vinegar.jpg" style="margin-left: 40px;"/> 
 <img src="../../assets/images/green-circle.png"/>
 <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Chings</h6> 
  <ul style="list-style-type: none;">
  <li style="margin-top: -13px;margin-left: -30px;">
  <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Chilly Vinegar</a>
 </li>
 </ul> 
 <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">170 ml Bottle</h6>  
 <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 10px;">
    <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 50 </h6>
    <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 47</h4>  
    <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
    <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
    <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
    <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
    <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
    <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
     <img src="../../assets/images/grey-basket.png"/>
     </button>
     </mat-card> 
    </mat-card> 
</div>  
<div class="tomato">
    <mat-card  style="width: 240px;height: 420px;margin-top:-420px;margin-left: 560px;">
        <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
            <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 12% OFF</span> 
            <img src="../../assets/images/asterisk.png"/>
            </mat-toolbar>     
            <img src="../../assets/uploads/kissan-fresh-tomato-ketchup.jpg" style="margin-left: 40px;"/>  
            <img src="../../assets/images/green-circle.png"/>
            <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Kissan</h6> 
             <ul style="list-style-type: none;">
             <li style="margin-top: -13px;margin-left: -30px;">
             <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Fresh Tomato Ketchup</a>
            </li>
            </ul> 
            <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">950 g Pouch</h6>  
            <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: -10px;">
                <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 130 </h6>
                <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 115</h4>  
                <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
                <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
                <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
                <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
                <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
                <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
                 <img src="../../assets/images/grey-basket.png"/>
                 </button>
                 </mat-card>                           
 </mat-card> 
</div>
<div class="chipotle">
 <mat-card class="pedigree" style="width: 240px;height: 420px;margin-left: 20px;margin-top: 20px;">
    <img src="../../assets/uploads/veeba-chipotle-southwest-dressing.jpg" style="margin-left: 40px;"/> 
    <img src="../../assets/images/green-circle.png" style="margin-top: -10px;margin-left: 20px;"/>  
    <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Veeba</h6> 
     <ul style="list-style-type: none;">
    <li style="margin-top: -13px;margin-left: -30px;">
    <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Chipotle Southwest Dressing</a>
    </li>
    </ul> 
    <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -20px;">300 g</h6> 
    <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 20px;">
        <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -16px;margin-left: 65px;">MRP: Rs 149</h4>  
        <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
        <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
        <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
         <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
         <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
         <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
            <img src="../../assets/images/grey-basket.png"/>
        </button>
            </mat-card>    
    </mat-card>
 </div>
 <div class="vegfood">
    <mat-card class="pedigree" style="width: 240px;height: 420px;margin-left: 290px;margin-top: -420px;">
        <img src="../../assets/uploads/oetker-funfoods-veg-mayonnaise-original.jpg" style="margin-left: 40px;"/> 
        <img src="../../assets/images/green-circle.png" style="margin-top: -10px;margin-left: 20px;"/>  
        <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Dr. Oetker</h6> 
         <ul style="list-style-type: none;">
        <li style="margin-top: -13px;margin-left: -30px;">
        <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">FunFoods - Veg Mayonnaise, Original</a>
        </li>
        </ul> 
        <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -20px;">875 g</h6>    
        <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: -10px;">
            <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -16px;margin-left: 65px;">MRP: Rs 159</h4>  
            <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
            <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
            <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
             <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
             <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
             <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
                <img src="../../assets/images/grey-basket.png"/>
            </button>
                </mat-card>             
    </mat-card>
</div>
<div class="cheese">
    <mat-card class="pedigree" style="width: 240px;height: 420px;margin-left: 560px;margin-top: -420px;">
        <img src="../../assets/uploads/veeba-sandwich-spread-cheese-chilli.jpg" style="margin-left: 40px;"/> 
        <img src="../../assets/images/green-circle.png" style="margin-top: -10px;margin-left: 20px;"/> 
        <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Veeba</h6> 
     <ul style="list-style-type: none;">
    <li style="margin-top: -13px;margin-left: -30px;">
    <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Sandwich Spread - Cheese & Chilli</a>
    </li>
    </ul> 
    <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -20px;">275 g</h6> 
    <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 20px;">
        <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -16px;margin-left: 65px;">MRP: Rs 89</h4>  
        <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
        <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
        <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
         <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
         <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
         <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
            <img src="../../assets/images/grey-basket.png"/>
        </button>
            </mat-card>    
 </mat-card>   
</div>       
 </div>
</div>
</div>   
   