.home{
    color: #808285;
    font: 400 10px/11px Lato,sans-serif;
}
.home:hover{
    color: #096;
}
a{
    text-decoration: none;
    color: #666;
    font-size: 14px;
}
a:hover{
    color: #096;
}
li{
    margin-left: 14px;
    margin-top: 3px;
}
mat-checkbox:hover{
    color: #096;
    
}
@media screen and (max-width:425px){
    .sauce{
        overflow-x: hidden;
    }
    .category{
        display: none;
    }
    mat-checkbox{
        display: none;
    }
    mat-divider{
        display: none;
    }
    #category{
        display: none;
    }
    #brand-title{
        display: none;
    }
    #search-brand{
        display: none;
    }
    #search-icon{
        display: none;
    }
    #price-title{
        display: none;
    }
    #discount{
        display: none;
    }
    .consistency{
        display: none;
    }
    #pack-size{
        display: none;
    }
    #food{
        display: none;
    }
    #country{
        display: none;
    }
    #contains{
        display: none;
    }
    .spreads{
        margin-left: -310px;
        margin-top: 130px;
       }
    
        #all-products{
            margin-left: -250px;
            margin-top: -10px;
        }
        #bus-img{
            margin-left: -270px;
        }
        .banner-section{
            max-width: 400px;
            height:550vh;
        }
 .chilli{
      margin-top: 10px;
     margin-left: -280px; 
 }
 .sandwich{
    margin-left: -550px;
    margin-top: 430px;   
 }
 .green{
    margin-left: -820px;
    margin-top: 430px; 
 }
 .red{
    margin-left: -280px;
    margin-top: -13px; 
 }
 .vinegar{
    margin-left: -550px;
    margin-top: 435px; 
 }
 .tomato{
    margin-top: 430px;
    margin-left: -820px;
 }
 .chipotle{
    margin-left: -280px;
    margin-top: -10px;
 }
 .vegfood{
    margin-left: -550px;
    margin-top: 430px;
 }
 .cheese{
    margin-left: -820px;
    margin-top: 430px; 
 }
}
@media screen and (max-width:385px){
    .banner-section{
        max-width: 400px;
        height:630vh;
    }
}
@media screen and (max-width:375px){
    .banner-section{
        max-width: 400px;
        height:500vh;
    }
}
@media screen and (max-width:320px){
    .banner-section{
        max-width: 400px;
        height:550vh;
    }
.chilli{
  margin-top: 10px;
 margin-left: -320px; 
}
.sandwich{
margin-left: -590px;
margin-top: 430px;   
}
.green{
margin-left: -860px;
margin-top: 430px; 
}
.red{
margin-left: -320px;
margin-top: -13px; 
}
.vinegar{
margin-left: -590px;
margin-top: 435px; 
}
.tomato{
margin-top: 430px;
margin-left: -860px;
}
.chipotle{
margin-left: -320px;
margin-top: -10px;
}
.vegfood{
margin-left: -590px;
margin-top: 430px;
}
.cheese{
margin-left: -860px;
margin-top: 430px; 
}  
}
@media screen and (min-width:426px) and (max-width:800px){
    .sauce{
        overflow-x: hidden;
    }
    .category{
        display: none;
    }
    mat-checkbox{
        display: none;
    }
    mat-divider{
        display: none;
    }
    #category{
        display: none;
    }
    #brand-title{
        display: none;
    }
    #search-brand{
        display: none;
    }
    #search-icon{
        display: none;
    }
    #price-title{
        display: none;
    }
    #discount{
        display: none;
    }
    .consistency{
        display: none;
    }
    #pack-size{
        display: none;
    }
    #food{
        display: none;
    }
    #country{
        display: none;
    }
    #contains{
        display: none;
    }
    .spreads{
        margin-left: -110px;
        margin-top: 130px;
       }
    
        #all-products{
            margin-left: -150px;
            margin-top: -10px;
        }
        #bus-img{
            margin-left: -170px;
        }
        .banner-section{
            max-width: 400px;
            height:140vh;
        }
 .chilli{
      margin-top: 10px;
     margin-left: -340px; 
 }
 .sandwich{
    margin-left: -360px;
    margin-top: -10px;   
 }
 .green{
    margin-left: -380px;
    margin-top: -10px; 
 }
 .red{
    margin-left: -340px;
    margin-top: -10px; 
 }
 .vinegar{
    margin-left: -360px;
    margin-top: -18px; 
 }
 .tomato{
    margin-top: -18px;
    margin-left: -380px;
 }
 .chipotle{
    margin-left: -340px;
    margin-top: -10px;
 }
 .vegfood{
    margin-left: -360px;
    margin-top: -18px;
 }
 .cheese{
    margin-left: -380px;
    margin-top: -18px; 
 } 
}
