.home{
    color: #808285;
    font: 400 10px/11px Lato,sans-serif;
}
.home:hover{
    color: #096;
}
a{
    text-decoration: none;
    color: #666;
    font-size: 14px;
}
a:hover{
    color: #096;
}
li{
    margin-left: 14px;
    margin-top: 3px;
}
mat-checkbox:hover{
    color: #096;
    
}

@media screen and (max-width:425px){
    .deals-of-the-week{
        overflow-x: hidden;
    }
    .category{
        display: none;
    }
    mat-checkbox{
        display: none;
    }
    mat-divider{
        display: none;
    }
    #category{
        display: none;
    }
    #brand-title{
        display: none;
    }
    #search-brand{
        display: none;
    }
    #search-icon{
        display: none;
    }
    #price-title{
        display: none;
    }
    #discount{
        display: none;
    }
    #body-care{
        display: none;
    }
    .weight{
        display: none;
    }
    #pack-size{
        display: none;
    }
    .deals{
        margin-left: -310px;
        margin-top: 530px;
    }
    #all-products{
        margin-left: -250px;
        margin-top: -30px;
    }
    #bus-img{
        margin-left: -270px;
    }
    .banner-section{
        max-width: 400px;
        height:600vh;
    }
    .chilli{
        margin-top: 10px;
        margin-left: -280px;
    }
    .fillet{
        margin-left: -550px;
        margin-top: 480px;  
     }
     .perfume{
        margin-left: -820px;
        margin-top: 480px;
    }
    .cheese{
        margin-left: -280px;
        margin-top: -10px;
    }
    .kasa{
        margin-left: -550px;
        margin-top: 480px;  
    }
    .instant{
        margin-top: 475px;
    margin-left: -820px;
    }
    .shampoo{
        margin-left: -280px;
    margin-top: -10px;
    }
    .moong{
        margin-left: -550px;
        margin-top: 460px; 
    }
    .glucose{
        margin-left: -820px;
    margin-top: 470px;
    }
}
@media screen and (max-width:320px){
    .banner-section{
        max-width: 400px;
        height:670vh;
    }
    .chilli{
        margin-top: 10px;
        margin-left: -320px;
    }
    .fillet{
        margin-left: -590px;
        margin-top: 480px;  
     }
     .perfume{
        margin-left: -860px;
        margin-top: 480px;
    }
    .cheese{
        margin-left: -320px;
        margin-top: -10px;
    }
    .kasa{
        margin-left: -590px;
        margin-top: 480px;  
    }
    .instant{
        margin-top: 475px;
    margin-left: -860px;
    }
    .shampoo{
        margin-left: -320px;
    margin-top: -10px;
    }
    .moong{
        margin-left: -590px;
        margin-top: 460px; 
    }
    .glucose{
        margin-left: -860px;
    margin-top: 470px;
    }
}
@media screen and (min-width:426px) and (max-width:800px){
    .deals-of-the-week{
        overflow-x: hidden;
    }
    .category{
        display: none;
    }
    mat-checkbox{
        display: none;
    }
    mat-divider{
        display: none;
    }
    #category{
        display: none;
    }
    #brand-title{
        display: none;
    }
    #search-brand{
        display: none;
    }
    #search-icon{
        display: none;
    }
    #price-title{
        display: none;
    }
    #discount{
        display: none;
    }
    #body-care{
        display: none;
    }
    .weight{
        display: none;
    }
    #pack-size{
        display: none;
    }
    .deals{
        margin-left: -110px;
        margin-top: 530px;
    }
    #all-products{
        margin-left: -150px;
        margin-top: -30px;
    }
    #bus-img{
        margin-left: -170px;
    }
    .banner-section{
        max-width: 400px;
        height:146vh;
    }
    .chilli{
        margin-top: 10px;
        margin-left: -340px;
    }
    .fillet{
        margin-left: -360px;
        margin-top: -10px;  
     }
     .perfume{
        margin-left: -380px;
        margin-top: -10px;
    }
    .cheese{
        margin-left: -340px;
        margin-top: -10px;
    }
    .kasa{
        margin-left: -360px;
        margin-top: -18px;  
    }
    .instant{
        margin-top: -18px;
    margin-left: -380px;
    }
    .shampoo{
        margin-left: -340px;
    margin-top: -10px;
    }
    .moong{
        margin-left: -360px;
        margin-top: -18px; 
    }
    .glucose{
        margin-left: -380px;
    margin-top: -18px;
    }

}