<div class="deals-of-the-week">
<a href="http://localhost:4200/" class="home"  style="text-decoration: none;margin-left: 90px;">HOME ></a>
<h6 style="color: #808285;margin-left:140px;margin-top: -20px;">DEALS OF THE WEEK</h6>
<div class="category" style="background-color:transparent;width: 270px;height: 270px;margin-left: 90px;margin-top: -40px;">
    <h4 id="category" style="margin-top: 70px;font-size: 16px;color: #222;">Categories</h4>
    <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
    <ul style="display: inline;list-style-type:none;">
     <li style="margin-top:-20px;">
            <a href="">Baby Care</a>
     </li>
        <li>
            <a href="">Baby Bath & Hygiene (2)</a>
        </li>
        <li>
            <a href="">Diapers & Wipes (34)</a>
        </li>
        <li>
            <a href="">Mothers & Maternity (2) </a>
        </li>
        <li>
            <a href="">Bakery, Cakes & Dairy </a>
        </li>
        <li>
            <a href="">Cookies, Rusk & Khari (1)</a>
        </li>
        <li>
            <a href="">Dairy (8)</a>
        </li>
        <li>
            <a href="">Ice Creams & Desserts (5)</a>
        </li>
    <li>
     <a href="">Beauty & Hygiene </a>
    </li>
    <li>
        <a href="">Bath & Hand Wash (9)</a>
    </li>
    <li>
        <a href="">Feminine Hygiene (3)</a>
    </li>
    <li>
        <a href="">Fragrances & Deos (162)</a>
    </li>
  </ul>   
 </div>

 <div class="brand" style="width: 230px;height: 250px;background-color:transparent;margin-left: 80px;margin-top: 40px;position: relative;z-index: 1;">
    <h4 id="brand-title" style="font-size: 16px;color: #222;margin-left: 10px;">Brand</h4>
    <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>  
    <input type="text" placeholder="Search by Brand" id="search-brand" style="width: 208px;margin-top: 3px;margin-left:4px;padding-left: 16px;"/>
<img src="../../assets/images/search.png" id="search-icon" style="margin-left: 186px;margin-top: -50px;">
<div style="position: absolute;overflow-y:scroll;height: 180px;width: 200px;margin-left: 10px;margin-top: -20px;">
<mat-checkbox >18 Herbs  </mat-checkbox><br>
<mat-checkbox >Aaha Oho</mat-checkbox><br>
<mat-checkbox >Abbies</mat-checkbox><br>
<mat-checkbox >Adidas</mat-checkbox><br>
<mat-checkbox >Aer</mat-checkbox><br>
<mat-checkbox >Ajmal</mat-checkbox><br>
<mat-checkbox >Alpino</mat-checkbox><br>
<mat-checkbox >Ambi pur</mat-checkbox><br>
</div>
</div>

<div style="width: 230px;height: 190px;background-color:transparent;margin-left: 80px;margin-top: 2px;position: relative;z-index: 1;">
    <h4 id="price-title" style="font-size: 16px;color: #222;margin-left: 10px;">Price</h4>
    <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
    
<div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
    <mat-checkbox >Less than Rs 20 (8)</mat-checkbox><br>
    <mat-checkbox >Rs 21 to Rs 50 (43)</mat-checkbox><br>
    <mat-checkbox >Rs 51 to Rs 100 (128)</mat-checkbox><br>
    <mat-checkbox >Rs 101 to Rs 200 (207)</mat-checkbox><br>
    <mat-checkbox >Rs 201 to Rs 500 (519)</mat-checkbox><br>
    <mat-checkbox >More than Rs 501 (1149)</mat-checkbox><br>
   </div> 
</div>


<div style="width: 230px;height: 170px;background-color:transparent;margin-left: 80px;margin-top: 40px;position: relative;z-index: 1;">
    <h4 id="discount" style="font-size: 16px;color: #222;margin-left: 10px;">Discount</h4>
    <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
    
<div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
    <mat-checkbox >Upto 5% (13)</mat-checkbox><br>
    <mat-checkbox >5% - 10% (259)</mat-checkbox><br>
    <mat-checkbox >10% - 15% (296)</mat-checkbox><br>
    <mat-checkbox >15% - 25% (175)</mat-checkbox><br>
    <mat-checkbox >More than 25% (827)</mat-checkbox><br>
   </div> 
</div>

<div style="width: 230px;height: 250px;background-color:transparent;margin-left: 80px;margin-top: 33px;position: relative;z-index: 1;">
    <h4 id="pack-size" style="font-size: 16px;color: #222;margin-left: 10px;">Pack Size</h4>
    <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
    <input type="text" placeholder="Search by Pack Size" id="search-icon" style="width: 208px;margin-top: 3px;margin-left:6px;padding-left: 16px;"/>
<img src="../../assets/images/search.png" id="search-brand" style="margin-left: 186px;margin-top: -50px;">
<div style="position: absolute;overflow-y:scroll;height: 220px;width: 200px;margin-left: 10px;margin-top: -20px;">
    <mat-checkbox >0.35 g   </mat-checkbox><br>
    <mat-checkbox >0.20 g 853</mat-checkbox><br>
    <mat-checkbox >0.28 g 22 Almond</mat-checkbox><br>
    <mat-checkbox >0.28 g 20 Black</mat-checkbox><br>
    <mat-checkbox >0.28 g 22 Dark Brown</mat-checkbox><br>
    <mat-checkbox >0.28 g 20 Ivory</mat-checkbox><br>
    <mat-checkbox >0.35 g No.18 Nude</mat-checkbox><br>
    <mat-checkbox >0.3 g 58 Marsala </mat-checkbox><br>
    <mat-checkbox >0.3 g 66 Mulberry</mat-checkbox><br>
    <mat-checkbox >0.3 g 52 Praline</mat-checkbox><br>
    <mat-checkbox >0.3 g 64 True Red</mat-checkbox><br>
</div>
</div>

<div class="weight" style="width: 230px;height: 250px;background-color:transparent;margin-left: 80px;margin-top:30px;position: relative;z-index: 1;">
    <h4 style="font-size: 16px;color: #222;margin-left: 10px;">Baby Weight</h4>
    <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
    
<div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
    <mat-checkbox >Less than 4kg</mat-checkbox><br>
    <mat-checkbox >5-6kg</mat-checkbox><br>  
    <mat-checkbox >7-8kg</mat-checkbox><br>  
    <mat-checkbox >9-10kg</mat-checkbox><br>  
</div>
</div>

<div style="width: 230px;height: 250px;background-color:transparent;margin-left: 80px;margin-top:-80px;position: relative;z-index: 1;">
    <h4 id="body-care" style="font-size: 16px;color: #222;margin-left: 10px;">Body Care</h4>
    <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>   
<div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
    <mat-checkbox >Body Lotion & Cream</mat-checkbox><br>
    <mat-checkbox >Hand & Foot Cream</mat-checkbox><br>  
    <mat-checkbox >Sunscreen</mat-checkbox><br>  
    <mat-checkbox >Sunscreen Lotion</mat-checkbox><br>
</div>
</div>

<mat-divider [vertical]="true" style="width: 300px;height: 1640px;margin-left: 20px;margin-top: -1710px;"></mat-divider>
<div class="banner-section" >
<div style="width: 900px;height: 1590px;background-color: transparent;margin-left: 330px;margin-top: -1640px;">
    <h4 class="deals" style="font: 24px ProximaNovaA;color:#58595b;">Deals of the Week (9)</h4>
    <ul id="all-products" style="list-style-type: none;">
        <li style="margin-top: 40px;margin-left:-1px;">
            <a href="" style="color: #58595b!important;font-size: 12px;font-family: ProximaNovaA-Semibold;border-bottom: 2px solid #84c225;">ALL PRODUCTS</a>
        </li>
    </ul>
    <img src="../../assets/images/bus.png" id="bus-img" style="margin-top:-70px"/>
    <mat-divider style="margin-top: -30px;"></mat-divider>
    <div class="chilli">
 <mat-card  style="width: 240px;height: 470px;margin-top: 20px;margin-left: 20px;">
 <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
    <span style="color: #ba5253;font-size: 10px;margin-left:110px;"> GET 44% OFF </span> 
     <img src="../../assets/images/asterisk.png"/>
    </mat-toolbar> 
    <img src="../../assets/images/bb-royal-dry-red-chilli-stemless.jpg" style="margin-left: 40px;"/>   
 <img src="../../assets/images/green-circle.png" style="margin-left: 16px;"/>  
 <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 18px;margin-top: -20;">bb Royal</h6> 
 <ul style="list-style-type: none;">
    <li style="margin-top: -13px;margin-left: -30px;">
        <a href="" style="font-size:13px;color:#000;margin-top: -30px;">Chilli Red Long Stemless/Sigappu Milagai</a>
    </li>
</ul>
<h6 style="font-size: 12px;color:#999 ;margin-left: 10px;">200 g</h6> 
<mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 20px;">
    <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 120 </h6>
    <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 55px;">Rs 67</h4>  
    <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
  <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
  <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
 <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
 <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
 <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
    <img src="../../assets/images/grey-basket.png"/>
</button>
    </mat-card>
</mat-card>
</div>
<div class="fillet">
<mat-card  style="width: 240px;height: 470px;margin-top: -470px;margin-left: 290px;">
    <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
        <span style="color: #ba5253;font-size: 10px;margin-left:110px;"> SAVE Rs 22 </span> 
        <img src="../../assets/images/asterisk.png"/>
        </mat-toolbar>
        <img src="../../assets/images/fresho-basa-fillet-preservative-free.jpg" style="margin-left: 40px;"/> 
        <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 18px;margin-top: -20;">Fresho</h6>          
        <ul style="list-style-type: none;">
            <li style="margin-top: -13px;margin-left: -30px;">
                <a href="" style="font-size:13px;color:#000;margin-top: -30px;">Basa Fillet - Preservative Free</a>
            </li>
        </ul> 
        <h6 style="font-size: 12px;color:#999 ;margin-left: 10px;margin-top: 40px;">500 g Pouch</h6>     
    <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 40px;">
    <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 220 </h6>
            <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 55px;">Rs 198</h4>  
            <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
          <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
          <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
         <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
         <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
         <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
            <img src="../../assets/images/grey-basket.png"/>
        </button>
            </mat-card>   
    </mat-card>    
</div>
<div class="perfume">
    <mat-card  style="width: 240px;height: 470px;margin-top:-470px;margin-left: 560px;">
        <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
            <span style="color: #ba5253;font-size: 10px;margin-left:110px;"> SAVE Rs 20 </span> 
            <img src="../../assets/images/asterisk.png"/>
            </mat-toolbar>
            <img src="../../assets/images/park-avenue-perfume-body-spray-good-morning-intense.jpg" style="margin-left: 40px;"/> 
            <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 18px;margin-top: -20;">Park avenue</h6>                  
    <ul style="list-style-type: none;">
     <li style="margin-top: -13px;margin-left: -30px;">
         <a href="" style="font-size:13px;color:#000;margin-top: -30px;">Perfume Body Spray - Good Morning, Intense</a>
     </li>
     </ul> 
     <h6 style="font-size: 12px;color:#999 ;margin-left: 10px;margin-top: 40px;">150 ml</h6>  
     <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 20px;">
        <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 199 </h6>
                <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 55px;">Rs 179.10</h4>  
                <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
              <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
              <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
             <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
             <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
             <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
                <img src="../../assets/images/grey-basket.png"/>
            </button>
                </mat-card>         
        </mat-card>
    </div>
       <div class="cheese">
        <mat-card  style="width: 240px;height: 470px;margin-top:20px;margin-left: 20px;">
            <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
                <span style="color: #ba5253;font-size: 10px;margin-left:110px;"> GET 25% OFF </span> 
                <img src="../../assets/images/asterisk.png"/>
                </mat-toolbar>
     <img src="../../assets/images/malkist-cheese-crunchy-layer-crackers.jpg" style="margin-left: 40px;"/>   
     <img src="../../assets/images/green-circle.png" style="margin-left: 16px;"/>    
     <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 18px;margin-top: -20;">Malkist</h6>                  
    <ul style="list-style-type: none;">
     <li style="margin-top: -13px;margin-left: -30px;">
         <a href="" style="font-size:13px;color:#000;margin-top: -30px;">Cheese Crunchy Layer Crackers</a>
     </li>
     </ul> 
     <h6 style="font-size: 12px;color:#999 ;margin-left: 10px;margin-top: 30px;">138 g Pouch</h6>
     <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 20px;">
        <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 45 </h6>
                <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 55px;">Rs 33.75</h4>  
                <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
              <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
              <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
             <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
             <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
             <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
                <img src="../../assets/images/grey-basket.png"/>
            </button>
                </mat-card>     
     </mat-card>    
    </div>
    <div class="kasa">
     <mat-card  style="width: 240px;height: 470px;margin-top: -469px;margin-left: 290px;">
        <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
            <span style="color: #ba5253;font-size: 10px;margin-left:110px;"> SAVE Rs 8 </span> 
            <img src="../../assets/images/asterisk.png"/>
            </mat-toolbar>
      <img src="../../assets/images/bb-royal-khus-khusposta-dana.jpg" style="margin-left: 40px;"/>
     <img src="../../assets/images/green-circle.png" style="margin-left: 16px;"/>  
     <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 18px;margin-top: -20;">bb Royal</h6>                  
     <ul style="list-style-type: none;">
     <li style="margin-top: -13px;margin-left: -30px;">
        <a href="" style="font-size:13px;color:#000;margin-top: -30px;">Khus Khus/Kasa Kasa</a>
     </li>
     </ul> 
     <h6 style="font-size: 12px;color:#999 ;margin-left: 10px;margin-top: 30px;">100 g</h6>  
     <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 20px;">
        <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 200 </h6>
                <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 55px;">Rs 192</h4>  
                <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
              <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
              <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
             <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
             <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
             <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
                <img src="../../assets/images/grey-basket.png"/>
            </button>
                </mat-card>       
     </mat-card>
    </div>
    <div class="instant">
     <mat-card  style="width: 240px;height: 470px;margin-top:-470px;margin-left: 560px;">
        <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
            <span style="color: #ba5253;font-size: 10px;margin-left:110px;"> GET 10% OFF </span> 
            <img src="../../assets/images/asterisk.png"/>
            </mat-toolbar>
 <img src="../../assets/images/glucon-d-instant-energy-health-drink-regular.jpg" style="margin-left: 40px;"/>        
 <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 18px;margin-top: -20;">Glucon-D</h6>                  
 <ul style="list-style-type: none;">
 <li style="margin-top: -13px;margin-left: -30px;">
    <a href="" style="font-size:13px;color:#000;margin-top: -30px;">Instant Energy Health Drink - Regular</a>
 </li>
 </ul> 
 <h6 style="font-size: 12px;color:#999 ;margin-left: 10px;margin-top: 30px;">200 g Carton</h6> 
 <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 30px;">
    <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 57 </h6>
            <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 55px;">Rs 51.30</h4>  
            <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
          <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
          <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
         <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
         <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
         <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
            <img src="../../assets/images/grey-basket.png"/>
        </button>
            </mat-card>        
</mat-card>
</div>
<div class="shampoo">
<mat-card  style="width: 240px;height: 450px;margin-top:20px;margin-left: 20px;">
    <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
        <span style="color: #ba5253;font-size: 10px;margin-left:110px;"> GET 10% OFF </span> 
        <img src="../../assets/images/asterisk.png"/>
        </mat-toolbar>
        <img src="../../assets/images/clinic-plus-shampoo-with-milk-protein.jpg" style="margin-left: 40px;"/>        
        <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 18px;margin-top: -20;">Clinic Plus</h6>                  
        <ul style="list-style-type: none;">
        <li style="margin-top: -13px;margin-left: -30px;">
           <a href="" style="font-size:13px;color:#000;margin-top: -30px;">Shampoo - with Milk Protein</a>
        </li>
        </ul>  
<h6 style="font-size: 12px;color:#999 ;margin-left: 10px;margin-top: 30px;">30 ml</h6> 
<mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 30px;">
  <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 10 </h6>
  <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 55px;">Rs 9</h4>  
     <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
     <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
     <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
        <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
         <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
         <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
       <img src="../../assets/images/grey-basket.png"/>
         </button>
         </mat-card>          
        </mat-card>
    </div>
    <div class="moong">
        <mat-card  style="width: 240px;height: 450px;margin-top: -453px;margin-left: 290px;">
            <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
                <span style="color: #ba5253;font-size: 10px;margin-left:110px;"> GET 5% OFF </span> 
                <img src="../../assets/images/asterisk.png"/>
                </mat-toolbar>
                <img src="../../assets/images/tata-sampann-moong-whole.jpg" style="margin-left: 40px;"/> 
                <img src="../../assets/images/green-circle.png" style="margin-left: 16px;"/>  
                <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 18px;margin-top: -20;">Tata Sampann</h6>                  
                <ul style="list-style-type: none;">
                <li style="margin-top: -13px;margin-left: -30px;">
                   <a href="" style="font-size:13px;color:#000;margin-top: -30px;">Moong Whole</a>
                </li>
                </ul> 
                <h6 style="font-size: 12px;color:#999 ;margin-left: 10px;margin-top: 30px;">500 g</h6> 
 <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 30px;">
          <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 83 </h6>
      <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 55px;">Rs 78.44</h4>  
         <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
         <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
 <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
  <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span> 
   <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
     <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
            <img src="../../assets/images/grey-basket.png"/>
      </button>
     </mat-card>                     
          </mat-card>      
        </div>
        <div class="glucose">
     <mat-card  style="width: 240px;height: 460px;margin-top:-460px;margin-left: 560px;">
            <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
                <span style="color: #ba5253;font-size: 10px;margin-left:110px;"> SAVE Rs 31 </span> 
                <img src="../../assets/images/asterisk.png"/>
                </mat-toolbar>
                <img src="../../assets/images/glucon-d-instant-energy-health-drink-regular.jpg" style="margin-left: 40px;"/>          
 <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 18px;margin-top: -20;">Glucon-D</h6>                  
     <ul style="list-style-type: none;">
         <li style="margin-top: -13px;margin-left: -30px;">
       <a href="" style="font-size:13px;color:#000;margin-top: -30px;">Glucose Based Beverage Mix - Nimbu Pani</a>
     </li>
     </ul> 
     <h6 style="font-size: 12px;color:#999 ;margin-left: 10px;margin-top: 30px;">1 kg (Sipper Worth Rs.140Free)</h6>           
     <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 20px;">
        <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 310 </h6>
    <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 55px;">Rs 279</h4>  
       <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
       <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
<h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
<span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span> 
 <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
   <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
          <img src="../../assets/images/grey-basket.png"/>
    </button>
   </mat-card>        
            </mat-card>   
        </div>          
    </div>
</div>
</div>
