.top-section-banner-inner{
    position: absolute;
    background: url('../../assets/images/bbstar-banner.png');
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;


}

.top-section-container{
    position: absolute;
    z-index: 10;
    padding-left: 120px;
    padding-top: 100px;
}
.join-at-a{
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    color: #fff;
    padding-bottom: 4px;
}
.orig-fee {
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: .67;
    letter-spacing: normal;
    color: #fff;
}
.disc-fee {
    font-size: 42px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: .67;
    letter-spacing: normal;
    color: #fff;
    
}

.join{
    width: 300px;
    background-color: #e95f62;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.3px;
    text-align: center;
    box-shadow: 0 6px 12px 0 rgba(233,95,98,.5);
    height: 8.5vh;
    margin-left: 16px;
}
.tnc {
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    text-align: center;
    color: #fff;
    letter-spacing: .5px;
    margin-top:16px;
    margin-left: -20px;
}
.proceed-available-coupons{
    width: 260px;
    background: url('../../assets/images/available_coupons.png');
    background-repeat: no-repeat;
    margin: 0 auto;
    height: 31px;
    z-index: 1;
    margin-top: 30px;
    position: relative;
}
.delivery{
    box-shadow: none;
    border: 1px solid #f3f3f3;
    background: #fff;
    border-radius: 3px;
    height: 170px;
    width: 430px;
    margin-left: 20px;
    margin-top: 30px;
}
.cashback{
    box-shadow: none;
    border: 1px solid #f3f3f3;
    background: #fff;
    border-radius: 3px;
    height: 170px;
    width: 430px;
    margin-left: 470px;
    margin-top: -170px;

}
.access{
    box-shadow: none;
    border: 1px solid #f3f3f3;
    background: #fff;
    border-radius: 3px;
    height: 170px;
    width: 430px;
    margin-left:917px;
    margin-top: -170px;

}
ul {
    list-style-type: disc;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
    font-size: 14px;
}

@media screen and (max-width:425px){
    .top-section-banner-inner img{
            width:100%;  
    }
 .join-at-a{
        margin-top: 20px;
        margin-left: -50px;
    }
   .top-section-pricing{
       margin-left: -50px;
   } 
  .join{
      margin-left: -50px;
  } 
  .proceed-available-coupons{
      margin-top: -5px;
  }
  .delivery{
      max-width: 350px;
      margin-left: 20px;
  }
 .cashback{
     margin-left: 20px;
     margin-top: 10px;
     max-width: 350px;
 } 
 .access{
    max-width: 350px;
    margin-left: 20px; 
    margin-top: 5px;
 }
 .images{
    height: 136vh;
}
 .exclusive{
    max-width: 350px;
 }
 .exclusive img{
     width: 100%;
     margin-top: 310px;
     margin-left: -100px;
 }
 .bbstar-button{
     overflow-x: hidden;
     height: 330vh;
 }
 .month-img{
     max-width: 350px;
     margin-left: -100px;
     margin-top: 30px;
 }
 .priority{
    max-width: 350px;
    margin-left: -100px;
    margin-top: 30px;
 }
 
 .additional{
    max-width: 350px;
    margin-left: -100px;
    margin-top: 50px; 
 }
 .benefits{
    max-width: 350px;
    margin-left: -100px;
    margin-top: 90px; 
 }
 .membership{
   display:block;
 }
 .section-title{
     margin-left:-40px;
     max-width: 250px;
     margin-top: -120px;
 }
 mat-divider{
     margin-left: -90px;
     max-width: 350px;
 }
 
 #cashback-on{
     margin-left: -100px;
     margin-top: -30px;
     max-width: 350px;
 }
 li{
     max-width: 300px;
     margin-left: -150px;
 }
 .no-del{
     display:none;
     margin-top: 500px;
 }
.faq2{
    display: none;
}
 .cancellation{
     display:block;
     margin-top: 180px;
 }
 .reserved{
     display:none;
 }
 .bbstar-offer{
     display:none;
 }

}
@media screen and (min-width:426px) and (max-width:800px){
    .bbstar-button{
        overflow-x: hidden;
    }
    .top-section-banner{
       width: 100%;
        margin-top: 10px;
        max-height: 300px;
}
.join-at-a{
    margin-top: -70px;
    margin-left: -50px;
}
.top-section-pricing{
   margin-left: -50px;
} 
.join{
  margin-left: -50px;
  max-width: 190px;
  max-height: 40px;
} 
.delivery{
    max-width: 350px;
    margin-left: 20px;
}
.cashback{
   margin-left: 380px;
   margin-top: -170px;
   max-width: 350px;
} 
.access{
  max-width: 350px;
  margin-left: 20px; 
  margin-top: 5px;
}
.exclusive{
    max-width: 750px;
 }
 .exclusive img{
     width: 100%;
     margin-top: 140px;
     margin-left: -110px;
 }
 .month-img{
    max-width: 750px;
    margin-left: -110px;
    margin-top: 30px;
}
.priority{
   max-width: 750px;
   margin-left: -110px;
   margin-top: 70px;
}

.additional{
   max-width: 750px;
   margin-left: -110px;
   margin-top: 50px; 
}
.benefits{
   max-width: 750px;
   margin-left: -110px;
   margin-top: 90px; 
}
.membership{
    display:block;
  }
  .section-title{
      margin-left:-40px;
      max-width: 450px;
      margin-top: -120px;
  }
  mat-divider{
      margin-left: -90px;
      max-width: 350px;
  }
  
  #cashback-on{
      margin-left: -100px;
      margin-top: -30px;
      max-width: 550px;
  }
  li{
      max-width: 600px;
      margin-left: -150px;
  }
  .no-del{
    display:none;
    margin-top: 500px;
  }
 .faq2{
     display: none;
 }
  .cancellation{
      display:block;
      margin-top: 40px;
  }
  .reserved{
      display:none;
  }
  .bbstar-offer{
      display:none;
  }

}