<div class="bbstar-button">
<div class="top-section-banner" style="position: relative;height:350px;background-color: burlywood;">

    <div class="top-section-banner-inner">
        <div class="top-section-container">
            <p class="join-at-a">Join at a special price of just</p>
            <p class="top-section-pricing">
                <span class="orig-fee" style="text-decoration: line-through;">Rs
                  <span >599</span>
                </span>
                <span class="disc-fee">Rs <span ng-bind="spec.fee.discounted |ToInt" class="ng-binding">299</span>/
                  <span style="padding-left: 5x" ng-bind="spec.display_period" class="orig-fee ng-binding">6 months</span>
                </span>
              </p>
              <button mat-button class="join">JOIN NOW</button>
              <p class="tnc" >
                You can cancel anytime within first
                <span ng-bind="spec.trial_duration" class="ng-binding">15</span> days
              </p>
              <div  class="proceed-available-coupons">
            </div>
        </div>
        
    </div>

</div>
<div style="height: 200px;">
    <mat-card class="delivery">
        <img src="../../assets/images/delivery.png" style="margin-left: 130px;margin-top: -4px;">
        <h2 style="color:#84c225;font-size: 18px;text-align: center;">No Delivery Charge</h2>
        <p style="font: 13px;text-align: center;color: #666;font-family: ProximaNova-Regular;margin-top:-10px ;">on orders above Rs 600</p>
    </mat-card>
    <mat-card class="cashback">
        <img src="../../assets/images/cashback.png" style="margin-left: 130px;margin-top: -10px;">
        <h2 style="color:#84c225;font-size: 18px;text-align: center;margin-top: -5px;">Rs 300 Cashback</h2>
        <p style="font: 13px;text-align: center;color: #666;font-family: ProximaNova-Regular;margin-top:-13px ;" >Rs 100 Cashback on first order of any 3 months</p>
    </mat-card>
    <mat-card class="access">
    <img src="../../assets/images/access.png" style="margin-left: 130px;margin-top: 5px;">
    <h2 style="color:#84c225;font-size: 18px;text-align: center;">Access to Priority Slots</h2>
    <p style="font: 13px;text-align: center;color: #666;font-family: ProximaNova-Regular;margin-top:-13px ;" >bbstar members always get preference</p>
</mat-card>
</div>
<div class="images">
<div class="exclusive"  style="width: 1120px;height: 420px;background-color: transparent;margin-left: 120px;margin-top: 30px;">
  <a href="">
    <img src="../../assets/images/bbstar_exclusive.png"/>
  </a>
</div>

<a href="" style="width: 1132px;height: 410px;background-color:transparent;margin-left: 120px;margin-top: 20px;border: 1px solid #e1e1e1;">
  <img src="../../assets/images/monthly.png"  class="month-img"/>
</a>
<a href="" style="background-color:transparent;margin-left: 120px;margin-top: 36px;border: 1px solid #e1e1e1;">
  <img src="../../assets/images/priority.png" style="margin-top: 20px;"   class="priority" />
</a>
<a href="" style="width: 1132px;height: 410px;background-color:transparent;margin-left: 120px;margin-top: 32px;border: 1px solid #e1e1e1;">
  <img src="../../assets/images/additional.png" style="margin-top: 20px;" class="additional" >
</a>
<a href="" style="width: 1132px;height: 410px;background-color:transparent;margin-left: 120px;margin-top: 32px;border: 1px solid #e1e1e1;">
  <img src="../../assets/images/benefits.png" style="margin-top: 20px;" class="benefits" />
</a>
</div>
<div class="lists">
<div class="membership" style="width: 1132px;height: 250px;background-color:transparent;margin-left: 120px;margin-top:40px;">
  <h2 class="section-title" style="color: rgb(68, 68, 68); text-align: center; font-size: 24px ProximaNovaA-Regular;margin-top:30px;">
    Know more about bbstar Membership Program</h2>
    <mat-divider style="margin-top:-15px;"></mat-divider>
   
    <h4 id="cashback-on" style="color: #222;padding: 45px; font-size: 16px;">
      Cashback on Successful Delivery</h4>
      <img src="../../assets/images/bbstar-faq3.png" id="faq3" style="margin-left: 865px;margin-top:-120px ;"/>
    
      <ul style="margin-top: -110px;margin-left: 50px;">
        <li>
          Cashback will be credited to your bbwallet upon completion of first order of any 3 months of the membership period.</li>
          <li>
            There is no minimum order value to receive the cashback.</li>
            <li>
              Cashback is over and above all savings you do on bigbasket.</li>
              <li>
                Total cashback in the program is Rs. 300. Place an order in at least 3 different months and get Rs. 100 cashback on <br> successful order delivery.</li>
                <li>
                  Cashback will be credited within 48 hours of order delivery.</li>
                  <li>
                    No expiry on cashback - use it whenever you want.</li>
        </ul>
        <mat-divider style="width: 470px;margin-left: -20px;margin-top: -18px;"></mat-divider>
      </div>  

<div class="no-del" style="width: 1132px;height: 250px;background-color:transparent;margin-left: 120px;margin-top:30px;">
  <img src="../../assets/images/bbstar-faq2.png" class="faq2" style="margin-top:-15px ;">
  <h4 id="no-delivery" style="color: #222;font-size: 16px;margin-top: -145px;margin-left: 260px;">
    No Delivery Charge</h4>
    <ul style="margin-left: 260px;">
      <li>
        No delivery charge on order above Rs 600.</li>
      <li>
        Free delivery can be used across all bigbasket orders - slotted, express and specialty.</li>
<li>
        If order is split into multiple shipments, then delivery tokens are applied on each shipment above Rs 600.</li>

    </ul>
</div>
<div class="reserved" style="width: 1132px;height: 250px;background-color:transparent;margin-left:120px;margin-top:-30px">
  <img src="../../assets/images/bbstar-faq1.png" style="margin-left:865px ;">
  <h4 style="color: #222;font-size: 16px;margin-top: -160px;margin-left: 60px;">
    Reserved Delivery Slots</h4>
    <ul style="margin-left:55px;">
      <li>
        Delivery slots are reserved only for bbstar members.</li>
      <li>
        Get priority access before non bbstar member.</li>
      <li>
        Only available on bigbasket slotted delivery.</li>
      <li>
        *Reserved delivery slots are subject to availability.</li>
    </ul>
    <mat-divider style="width: 480px;margin-top: 40px;margin-left: -10px;"></mat-divider>
</div>
<div class="bbstar-offer" style="width: 1132px;height: 250px;background-color:transparent;margin-left:120px;margin-top:-30px">
  <img src="../../assets/images/bbstar-price.png">
  <h4 style="color: #222;font-size: 16px;margin-left: 250px;margin-top: -140px;">
    Exclusive bbstar Offers:</h4>
    <ul style="margin-left: 245px;">
      <li>
        Enjoy exclusive promotions available only for bbstar members.</li>
      <li>
        Check our special promos and payment offers for members every month.</li>
    </ul>
</div>
<div class="cancellation" style="width: 1132px;height: 250px;background-color:transparent;margin-left: 160px;">
  <img src="../../assets/images/bbstar-faq5.png" style="margin-left: 865px;">
  <h4 style="color: #222;font-size: 16px;margin-top:-170px ;margin-left: 20px;">
    Cancellation Policy:</h4>
    <ul style="margin-left: 15px;">
      <li>
        You can cancel the membership anytime within first 15 days.</li>
      <li>
        The membership fees will be credited back to your bbwallet.</li>
      <li>
        If cashback was availed during membership then it will be reverted on cancellation.</li>
      <li>
        After the 15 day period, membership cancellation will not be allowed.</li>
      <li>
        Your membership will be auto-cancelled if payment for membership is not completed in 15 days.</li>
    </ul>
    <mat-divider style="width: 550px;margin-left: -40px;margin-top: 30px;"></mat-divider>
  </div>
</div>
</div>