<a href="http://localhost:4200/" class="home"  style="text-decoration: none;margin-left: 90px;">HOME ></a>
<h6 style="color: #808285;margin-left:140px;margin-top: -20px;">DEOS & FRAGRANCES</h6>
<div class="category" style="background-color:transparent;width: 270px;height: 150px;margin-left: 90px;margin-top: -40px;">
    <h4 style="margin-top: 70px;font-size: 16px;color: #222;">Categories</h4>
     <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
    <ul style="display: inline;list-style-type:none;">
     <li style="margin-top:-20px;">
     <a href="">Beauty & Hygiene</a>
     </li>
     <li>
     <a href="">Men's Grooming </a>
     </li>
     <li>
     <a href="">Fragrances & Deos (1)</a>
 </li>            
 </ul>
</div>

<div style="width: 230px;height: 250px;background-color:transparent;margin-left: 80px;margin-top: -50px;position: relative;z-index: 1;">
<h4 style="font-size: 16px;color: #222;margin-left: 10px;">Brand</h4>
 <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider> 
 <input type="text" placeholder="Search by Brand" style="width: 208px;margin-top: 3px;margin-left:4px;padding-left: 16px;"/>
 <img src="../../assets/images/search.png" style="margin-left: 186px;margin-top: -50px;">
<div style="position: absolute;overflow-y:scroll;height: 180px;width: 200px;margin-left: 10px;margin-top: -10px;">
                                                     <mat-checkbox >Adidas</mat-checkbox><br>
                                                     <mat-checkbox >Aigner</mat-checkbox><br> 
                                                     <mat-checkbox >Ajmal</mat-checkbox><br>
                                                     <mat-checkbox >All Good Scents</mat-checkbox><br> 
                                                     <mat-checkbox >Anna sui</mat-checkbox><br>
                                                     <mat-checkbox >Antonio Banderas</mat-checkbox><br> 
                                                     <mat-checkbox >ARAMIS</mat-checkbox><br>
                                                     <mat-checkbox >Aramusk</mat-checkbox><br> 
                                                     <mat-checkbox >Axe </mat-checkbox><br>
                                                     <mat-checkbox >Bentley</mat-checkbox><br> 
                                                     <mat-checkbox >Beyonce</mat-checkbox><br>
</div>
 </div> 

 <div style="width: 250px;height: 120px;background-color:transparent;margin-left: 80px;margin-top: 10px;position: relative;z-index: 1;">
 <h4 style="font-size: 16px;color: #222;margin-left: 10px;">Price</h4>
 <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>   
<div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
        <mat-checkbox >Rs 51 to Rs 100 (1)</mat-checkbox><br>
        <mat-checkbox >Rs 101 to Rs 200 (9)</mat-checkbox><br>
        <mat-checkbox >Rs 201 to Rs 500 (7)</mat-checkbox><br>
        <mat-checkbox >More than Rs 501 (138)</mat-checkbox><br>
 </div> 
 </div> 

 <div style="width: 230px;height: 130px;background-color:transparent;margin-left: 80px;margin-top: 50px;position: relative;z-index: 1;">
<h4 style="font-size: 16px;color: #222;margin-left: 10px;">Discount</h4>
 <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>   
 <div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
                                              <mat-checkbox >Upto 5% (8)</mat-checkbox><br>
                                              <mat-checkbox >5% - 10% (7)</mat-checkbox><br>
                                              <mat-checkbox >10% - 15% (3)</mat-checkbox><br>
                                              <mat-checkbox >15% - 25% (1)</mat-checkbox>
 </div> 
 </div>

 <div style="width: 230px;height: 250px;background-color:transparent;margin-left: 80px;margin-top: 40px;position: relative;z-index: 1;">
 <h4 style="font-size: 16px;color: #222;margin-left: 10px;">Pack Size</h4>
   <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
    <input type="text" placeholder="Search by Pack Size" style="width: 208px;margin-top: 3px;margin-left:6px;padding-left: 16px;"/>
    <img src="../../assets/images/search.png" style="margin-left: 186px;margin-top: -50px;">
    <div style="position: absolute;overflow-y:scroll;height: 160px;width: 200px;margin-left: 10px;margin-top: -20px;">
                                     <mat-checkbox >3x150 ml Multipack</mat-checkbox><br>
                                     <mat-checkbox >6 ml</mat-checkbox><br>
                                     <mat-checkbox >10 ml</mat-checkbox><br>
                                     <mat-checkbox >14 ml</mat-checkbox><br>
                                     <mat-checkbox >25 ml</mat-checkbox><br>
                                     <mat-checkbox >30 ml</mat-checkbox><br>
                                     <mat-checkbox >40 ml</mat-checkbox><br>
                                    <mat-checkbox >50 ml</mat-checkbox><br>
                                    <mat-checkbox >60 ml</mat-checkbox><br>
    </div> 
   </div> 

 <div style="width: 230px;height: 250px;background-color:transparent;margin-left: 80px;margin-top:-30px;position: relative;z-index: 1;">
<h4 style="font-size: 16px;color: #222;margin-left: 10px;">Concern</h4>
<mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
 <div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
        <mat-checkbox >Daily-Use</mat-checkbox><br>                
    </div>
   </div>    
   
<div style="width: 230px;height: 340px;background-color:transparent;margin-left: 80px;margin-top:-170px;position: relative;z-index: 1;">
    <h4 style="font-size: 16px;color: #222;margin-left: 10px;">Country Of Origin</h4>
    <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
    <div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
                                   
                   <mat-checkbox >Belgium</mat-checkbox><br>
                   <mat-checkbox >Mexico</mat-checkbox><br>
                   <mat-checkbox >France</mat-checkbox><br>
                   <mat-checkbox >Germany</mat-checkbox><br>
                   <mat-checkbox >India</mat-checkbox><br>
                   <mat-checkbox >Indonesia</mat-checkbox><br> 
                   <mat-checkbox >Italy</mat-checkbox><br>
                   <mat-checkbox >Spain</mat-checkbox><br>  
                   <mat-checkbox >Switzerland</mat-checkbox><br>  
                   <mat-checkbox >UAE</mat-checkbox><br>
                   <mat-checkbox >USA</mat-checkbox><br>                           
                   
    </div>
    </div>  
    <mat-divider [vertical]="true" style="width: 300px;height: 1400px;margin-left: 20px;margin-top: -1370px;"></mat-divider>      
 <div style="width: 900px;height: 1550px;background-color: transparent;margin-left: 330px;margin-top: -1390px;">
 <h4 style="font: 24px ProximaNovaA;color:#58595b;">Deos & Fragrances (9)</h4>     
 <ul style="list-style-type: none;">
<li style="margin-top: 40px;margin-left:-1px;">
<a href="" style="color: #58595b!important;font-size: 12px;font-family: ProximaNovaA-Semibold;border-bottom: 2px solid #84c225;">ALL PRODUCTS</a>
 </li>
 </ul>
 <img src="../../assets/images/bus.png" style="margin-top:-60px"/>  
 <mat-divider style="margin-top: -30px;"></mat-divider>  
 <mat-card  style="width: 240px;height: 420px;margin-top: 20px;margin-left: 20px;">  
<mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
 <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 25% OFF</span> 
 <img src="../../assets/images/asterisk.png"/>
 </mat-toolbar>    
 <img src="../../assets/uploads/spinz-perfumed-deo-acheiver.png" style="margin-left: 40px;"/> 
<h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Spinz</h6> 
<ul style="list-style-type: none;">
<li style="margin-top: -13px;margin-left: -30px;">
 <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Perfumed Deo - Acheiver</a>
</li>
 </ul> 
<h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">150 ml</h6> 
<mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 20px;">
 <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 190</h6>
 <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 142.50</h4>  
<img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
 <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
<h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
 <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
 <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
 <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
  <img src="../../assets/images/grey-basket.png"/>
 </button>          
</mat-card>  
   </mat-card> 

   <mat-card  style="width: 240px;height: 420px;margin-top: -420px;margin-left: 290px;">
    <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
        <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 18% OFF</span> 
        <img src="../../assets/images/asterisk.png"/>
        </mat-toolbar>    
        <img src="../../assets/uploads/wild-stone-red-deodorant-spray.png" style="margin-left: 40px;"/> 
       <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Wild Stone</h6> 
       <ul style="list-style-type: none;">
       <li style="margin-top: -13px;margin-left: -30px;">
        <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Red Deodorant Spray</a>
       </li>
        </ul> 
       <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">225 ml</h6>   
       <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 20px;">
        <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 299</h6>
        <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 245.18</h4>  
       <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
        <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
       <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
        <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
        <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
        <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
         <img src="../../assets/images/grey-basket.png"/>
        </button>          
       </mat-card>          
  </mat-card>    
  
<mat-card  style="width: 240px;height: 420px;margin-top:-420px;margin-left: 560px;">
<mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
 <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 15% OFF</span> 
 <img src="../../assets/images/asterisk.png"/>
 </mat-toolbar> 
 <img src="../../assets/uploads/enchanteur-romantic-perfumed-deo-spray-for-women.png" style="margin-left: 40px;"/> 
       <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Enchanteur</h6> 
       <ul style="list-style-type: none;">
       <li style="margin-top: -13px;margin-left: -30px;">
        <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Romantic Perfumed Deo Spray For Women</a>
       </li>
        </ul> 
       <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">150 ml</h6>   
       <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: -10px;">
        <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 199</h6>
        <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 161.50</h4>  
       <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
        <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
       <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
        <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
        <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
        <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
         <img src="../../assets/images/grey-basket.png"/>
        </button>          
       </mat-card>       
 </mat-card>         
  
 <mat-card  style="width: 240px;height: 430px;margin-top: 20px;margin-left: 20px;"> 
 <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
 <span style="color: #ba5253;font-size: 10px;margin-left:110px;">SAVE Rs 30</span> 
<img src="../../assets/images/asterisk.png"/>
</mat-toolbar> 
<img src="../../assets/uploads/park-avenue-perfume-spray-voyage.png" style="margin-left: 40px;"/> 
       <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Park avenue</h6> 
       <ul style="list-style-type: none;">
       <li style="margin-top: -13px;margin-left: -30px;">
        <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Perfume Spray - Voyage</a>
       </li>
        </ul> 
       <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">220 ml (Mega Pack)</h6>   
       <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 20px;">
        <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 299</h6>
        <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 269.10</h4>  
       <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
        <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
       <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
        <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
        <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
        <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
         <img src="../../assets/images/grey-basket.png"/>
        </button>          
       </mat-card>   
 </mat-card>  
 <mat-card  style="width: 240px;height: 430px;margin-top: -430px;margin-left: 290px;">
<mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
 <span style="color: #ba5253;font-size: 10px;margin-left:110px;">SAVE Rs 10</span> 
 <img src="../../assets/images/asterisk.png"/>
 </mat-toolbar> 
 <img src="../../assets/uploads/layerr-wottagirl-perfume-spray-mystic-island.png" style="margin-left: 40px;"/> 
 <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Layerr</h6> 
 <ul style="list-style-type: none;">
<li style="margin-top: -13px;margin-left: -30px;">
 <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Wottagirl! Perfume Spray - Mystic Island</a>
 </li>
      </ul> 
 <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">135 ml (Mega Pack)</h6>   
<mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: -10px;">
 <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 195</h6>
<h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 185.25</h4>  
<img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
 <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
<h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
 <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
 <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
 <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
 <img src="../../assets/images/grey-basket.png"/>
 </button>          
 </mat-card>       
</mat-card>
 

<mat-card  style="width: 240px;height: 430px;margin-top:-430px;margin-left: 560px;"> 
 <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
 <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 20% OFF</span> 
 <img src="../../assets/images/asterisk.png"/>
 </mat-toolbar> 
 <img src="../../assets/uploads/set-wet-cool-charm-mischief-avatar-deodorant-spray-perfume.png" style="margin-left: 40px;"/> 
 <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Set Wet</h6> 
 <ul style="list-style-type: none;">
<li style="margin-top: -13px;margin-left: -30px;">
 <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Cool, Charm & Mischief Avatar Deodorant Spray Perfume</a>
 </li>
      </ul> 
 <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">150 ml Pack of 3</h6>   
<mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: -10px;">
 <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 507</h6>
<h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 477.60</h4>  
<img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
 <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
<h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
 <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
 <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
 <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
 <img src="../../assets/images/grey-basket.png"/>
 </button>          
 </mat-card> 
 </mat-card>
 
 <mat-card class="pedigree" style="width: 240px;height: 420px;margin-left: 20px;margin-top: 20px;">
<mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
 <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 15% OFF</span> 
 <img src="../../assets/images/asterisk.png"/>
 </mat-toolbar> 
 <img src="../../assets/uploads/engage-xx3-cologne-for-men.png" style="margin-left: 40px;"/> 
 <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Engage</h6> 
 <ul style="list-style-type: none;">
<li style="margin-top: -13px;margin-left: -30px;">
 <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">XX3 Cologne - for Men</a>
 </li>
      </ul> 
 <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: 20px;">135 ml</h6>   
<mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: -10px;">
 <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 250</h6>
<h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 212.50</h4>  
<img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
 <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
<h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
 <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
 <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
 <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
 <img src="../../assets/images/grey-basket.png"/>
 </button>          
 </mat-card> 
 </mat-card>  
 
 <mat-card class="pedigree" style="width: 240px;height: 420px;margin-left: 290px;margin-top: -420px;">
    <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
        <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 40% OFF</span> 
        <img src="../../assets/images/asterisk.png"/>
        </mat-toolbar> 
        <img src="../../assets/uploads/set-wet-global-edition-perfume-spray-for-men-new-york-nights.png" style="margin-left: 40px;"/> 
        <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Set Wet</h6> 
        <ul style="list-style-type: none;">
       <li style="margin-top: -13px;margin-left: -30px;">
        <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Global Edition Perfume Spray For Men - New York Nights</a>
        </li>
             </ul> 
        <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">120 ml</h6>   
       <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: -10px;">
        <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 250</h6>
       <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 150</h4>  
       <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
        <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
       <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
        <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
        <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
        <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
        <img src="../../assets/images/grey-basket.png"/>
        </button>          
        </mat-card>
</mat-card>

<mat-card class="pedigree" style="width: 240px;height: 420px;margin-left: 560px;margin-top: -420px;">
    <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
        <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 15% OFF</span> 
        <img src="../../assets/images/asterisk.png"/>
        </mat-toolbar> 
        <img src="../../assets/uploads/axe-recharge-marine-splash-long-lasting-deodorant-for-men.png" style="margin-left: 40px;"/> 
        <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Axe</h6> 
        <ul style="list-style-type: none;">
       <li style="margin-top: -13px;margin-left: -30px;">
        <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Recharge Marine Splash Long Lasting Deodorant For Men</a>
        </li>
             </ul> 
        <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">150 ml</h6>   
       <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: -10px;">
        <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 230</h6>
       <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 195.50</h4>  
       <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
        <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
       <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
        <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
        <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
        <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
        <img src="../../assets/images/grey-basket.png"/>
        </button>          
        </mat-card>    
</mat-card>
   </div>            
