<div class="soups">
<a href="http://localhost:4200/" class="home"  style="text-decoration: none;margin-left: 90px;">HOME ></a>
<h6 style="color: #808285;margin-left:140px;margin-top: -20px;">SOUPS, NOODLES & PASTA</h6>
<div class="category" style="background-color:transparent;width: 270px;height: 330px;margin-left: 90px;margin-top: -40px;">
    <h4 id="category" style="margin-top: 70px;font-size: 16px;color: #222;">Categories</h4>
     <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
    <ul style="display: inline;list-style-type:none;">
     <li style="margin-top:-20px;">
     <a href="">Beverages</a>
     </li>
     <li>
     <a href="">Tea (2)</a>
     </li> 
    <li>
 <a href="">Foodgrains, Oil & Masala</a>
 </li> 
 <li>
  <a href="">Rice & Rice Products (1)</a>
 </li> 
 <li>
 <a href="">Gourmet & World Food</a>
 </li> 
<li>
 <a href="">Cooking & Baking Needs (1)</a>
 </li> 
 <li>
 <a href="">Oils & Vinegar (1)</a>
  </li> 
  <li>
<a href="">Pasta, Soup & Noodles (115)</a>
 </li> 
  <li>
 <a href="">Sauces, Spreads & Dips (1)</a>
 </li> 
 <li>
  <a href="">Snacks & Branded Foods</a>
 </li>    
 <li>
 <a href=""> Biscuits & Cookies (1) </a>    
 </li> 
 <li>
 <a href="">Noodle, Pasta, Vermicelli (189)</a>    
 </li> 
<li>
  <a href="">Noodles (1) </a>    
 </li> 
 <li>
 <a href="">Pasta & Vermicelli (41)</a>    
</li> 

 </ul>
</div>

<div class="brand" style="width: 230px;height: 250px;background-color:transparent;margin-left: 80px;margin-top: 23px;position: relative;z-index: 1;">
<h4 id="brand-title" style="font-size: 16px;color: #222;margin-left: 10px;">Brand</h4>
<mat-divider style="width: 210px;margin-top: -15px;"></mat-divider> 
<input type="text" placeholder="Search by Brand" id="search-icon" style="width: 208px;margin-top: 3px;margin-left:4px;padding-left: 16px;"/>
<img src="../../assets/images/search.png" id="search-brand" style="margin-left: 186px;margin-top: -50px;">
<div style="position: absolute;overflow-y:scroll;height: 180px;width: 200px;margin-left: 10px;margin-top: -10px;">
                                 <mat-checkbox >A&M</mat-checkbox><br>
                                 <mat-checkbox >Agnesi</mat-checkbox><br> 
                                 <mat-checkbox >Bambino</mat-checkbox><br>
                                 <mat-checkbox >Barilla</mat-checkbox><br> 
                                 <mat-checkbox >Batchelors</mat-checkbox><br>
                                 <mat-checkbox >bb Combo</mat-checkbox><br> 
                                 <mat-checkbox >Blue Bells</mat-checkbox><br>
                                 <mat-checkbox >Blue Dragon</mat-checkbox><br> 
                                 <mat-checkbox >BORGES  </mat-checkbox><br>
                                 <mat-checkbox >Ching'S Secret</mat-checkbox><br> 
                                 <mat-checkbox >Cascina Belvedere</mat-checkbox><br>
  </div>
  </div> 
  
  <div style="width: 230px;height: 130px;background-color:transparent;margin-left: 80px;margin-top: 10px;position: relative;z-index: 1;">
<h4 id="price-title" style="font-size: 16px;color: #222;margin-left: 10px;">Price</h4>
<mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>   
<div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
                   <mat-checkbox >Rs 21 to Rs 50 (40)</mat-checkbox><br>
                   <mat-checkbox >Rs 51 to Rs 100 (46)</mat-checkbox><br>
                   <mat-checkbox >Rs 101 to Rs 200 (4)</mat-checkbox><br>
                   <mat-checkbox >Rs 201 to Rs 500 (3)</mat-checkbox><br>
                   <mat-checkbox >More than Rs 501 (16)</mat-checkbox><br>
     </div> 
     </div>  

<div style="width: 230px;height: 250px;background-color:transparent;margin-left: 80px;margin-top: 70px;position: relative;z-index: 1;">
 <h4 id="pack-size" style="font-size: 16px;color: #222;margin-left: 10px;">Pack Size</h4>
<mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
<input type="text" placeholder="Search by Pack Size" id="search-icon" style="width: 208px;margin-top: 3px;margin-left:6px;padding-left: 16px;"/>
 <img src="../../assets/images/search.png" id="search-brand" style="margin-left: 186px;margin-top: -50px;">
 <div style="position: absolute;overflow-y:scroll;height: 140px;width: 200px;margin-left: 10px;margin-top: -20px;">
                               <mat-checkbox >10x15 g Multipack</mat-checkbox><br>
                               <mat-checkbox >10x60 g Multipack</mat-checkbox><br>
                               <mat-checkbox >12x70 g Multipack</mat-checkbox><br>
                               <mat-checkbox >12x70 g Pouch Multipack</mat-checkbox><br>
                               <mat-checkbox >2x280 g</mat-checkbox><br>
                               <mat-checkbox >2x500 g</mat-checkbox><br>
                               <mat-checkbox >2x240 g Multipack</mat-checkbox><br>
                               <mat-checkbox >2x500 g Multipack</mat-checkbox><br>
                               <mat-checkbox >2x70 g</mat-checkbox><br>
</div> 
 </div> 

 <div style="width: 230px;height: 130px;background-color:transparent;margin-left: 80px;margin-top: -35px;position: relative;z-index: 1;">
<h4 id="discount" style="font-size: 16px;color: #222;margin-left: 10px;">Discount</h4>
 <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>   
 <div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
                        <mat-checkbox >Upto 5% (8)</mat-checkbox><br>
                        <mat-checkbox >5% - 10% (7)</mat-checkbox><br>
                        <mat-checkbox >10% - 15% (3)</mat-checkbox><br>
                        <mat-checkbox >15% - 25% (1)</mat-checkbox>
    </div> 
    </div>

<div class="country" style="width: 230px;height: 240px;background-color:transparent;margin-left: 80px;margin-top:40px;position: relative;z-index: 1;">
 <h4 style="font-size: 16px;color: #222;margin-left: 10px;">Country Of Origin</h4>
 <mat-divider style="width: 210px;margin-top: -15px;"></mat-divider>
 <div style="position: absolute;height: 220px;width: 200px;margin-left: 10px;margin-top: 10px;">
                     <mat-checkbox >Bangkok</mat-checkbox><br>
                     <mat-checkbox >India</mat-checkbox><br>
                     <mat-checkbox >Itali</mat-checkbox><br>
                     <mat-checkbox >Singapore</mat-checkbox><br>
                     <mat-checkbox >Spain</mat-checkbox><br>
                     <mat-checkbox >Thailand</mat-checkbox><br>
                     <mat-checkbox >Nepal</mat-checkbox><br>
                     <mat-checkbox >UK</mat-checkbox><br>
 </div>
 </div>   
 
 <div style="width: 230px;height: 200px;background-color:transparent;margin-left: 80px;margin-top:70px;position: relative;z-index: 1;">
    
     </div>
    <mat-divider [vertical]="true" style="width: 300px;height: 1500px;margin-left: 20px;margin-top: -1750px;"></mat-divider> 
    <div class="banner-section" >
    <div style="width: 900px;height: 1490px;background-color: transparent;margin-left: 330px;margin-top: -1480px;">
    <h4 class="pasta" style="font: 24px ProximaNovaA;color:#58595b;">Soups, Noodles & Pasta (9)</h4>
    <ul id="all-products" style="list-style-type: none;">
    <li style="margin-top: 40px;margin-left:-1px;">
    <a href="" style="color: #58595b!important;font-size: 12px;font-family: ProximaNovaA-Semibold;border-bottom: 2px solid #84c225;">ALL PRODUCTS</a>
    </li>
    </ul>
    <img src="../../assets/images/bus.png" id="bus-img" style="margin-top:-60px"/>  
    <mat-divider style="margin-top: -30px;"></mat-divider> 
    <div class="borges">
    <mat-card  style="width: 240px;height: 420px;margin-top: 20px;margin-left: 20px;">  
 <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
 <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 36% OFF</span> 
<img src="../../assets/images/asterisk.png"/>
 </mat-toolbar> 
 <img src="../../assets/uploads/borges-fusilli-tricolor-pasta.png" style="margin-left: 40px;"/> 
 <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">BORGES</h6> 
  <ul style="list-style-type: none;">
  <li style="margin-top: -13px;margin-left: -30px;">
  <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Fusilli - Tricolor Pasta</a>
 </li>
 </ul> 
 <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">500 g Pouch</h6>  
 <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 20px;">
    <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 250</h6>
    <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 159</h4>  
    <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
    <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
    <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
     <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
     <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
     <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
        <img src="../../assets/images/grey-basket.png"/>
    </button>
        </mat-card> 
   </mat-card> 
</div>
<div class="label">
   <mat-card  style="width: 240px;height: 420px;margin-top: -420px;margin-left: 290px;">    
    <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
        <span style="color: #ba5253;font-size: 10px;margin-left:110px;">SAVE Rs 10</span> 
       <img src="../../assets/images/asterisk.png"/>
        </mat-toolbar> 
        <img src="../../assets/uploads/bb-combo-red-label-tea-natural-care-500-gm-knorr-soupy-noodles-mast-masala-308-gm.png" style="margin-left: 40px;"/> 
        <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">bb Combo</h6> 
         <ul style="list-style-type: none;">
         <li style="margin-top: -13px;margin-left: -30px;">
         <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Red Label Tea - Natural Care 500 gm + Knorr Soupy Noodles - Mast Masala 308 gm</a>
        </li>
        </ul> 
        <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -20px;">Combo 2 Items</h6> 
        <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: -15px;">
            <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 330</h6>
            <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 320</h4>  
            <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
            <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
            <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
             <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
             <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
             <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
                <img src="../../assets/images/grey-basket.png"/>
            </button>
                </mat-card>             
  </mat-card> 
</div>
<div class="natural">
  <mat-card  style="width: 240px;height: 420px;margin-top:-420px;margin-left: 560px;">
    <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
        <span style="color: #ba5253;font-size: 10px;margin-left:110px;">SAVE Rs 14</span> 
       <img src="../../assets/images/asterisk.png"/>
        </mat-toolbar> 
        <img src="../../assets/uploads/combo-red-label-tea-natural-care-500-gm-knorr-chinese-hot-sour-veg-soup-43-gm.png" style="margin-left: 40px;"/> 
        <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">bb Combo</h6> 
         <ul style="list-style-type: none;">
         <li style="margin-top: -13px;margin-left: -30px;">
         <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Red Label Tea - Natural Care 500 gm + Knorr Chinese Hot & Sour Veg Soup 43 gm</a>
        </li>
        </ul> 
        <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -20px;">Combo 2 Items</h6> 
        <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: -15px;">
            <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 325</h6>
            <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 311.20</h4>  
            <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
            <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
            <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
             <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
             <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
             <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
                <img src="../../assets/images/grey-basket.png"/>
            </button>
                </mat-card>    
 </mat-card>   
</div>
<div class="wheat">
 <mat-card  style="width: 240px;height: 430px;margin-top: 20px;margin-left: 20px;">
    <img src="../../assets/uploads/wingreens-farms-durum-wheat-pasta-penne.png" style="margin-left: 40px;"/> 
    <img src="../../assets/images/green-circle.png"/>
    <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Wingreens Farms</h6> 
     <ul style="list-style-type: none;">
     <li style="margin-top: -13px;margin-left: -30px;">
     <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Durum Wheat Pasta - Penne</a>
    </li>
    </ul> 
    <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">500 g</h6> 
    <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 20px;">
        <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -16px;margin-left: 65px;">MRP: Rs 175</h4>  
        <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
        <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
        <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
         <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
         <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
         <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
            <img src="../../assets/images/grey-basket.png"/>
        </button>
            </mat-card>       
    </mat-card>
</div>
<div class="durum">
    <mat-card  style="width: 240px;height: 430px;margin-top: -430px;margin-left: 290px;">
        <img src="../../assets/uploads/wingreens-farms-durum-wheat-pasta-elbow-macaroni.png" style="margin-left: 40px;"/> 
        <img src="../../assets/images/green-circle.png"/>
        <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Wingreens Farms</h6> 
         <ul style="list-style-type: none;">
         <li style="margin-top: -13px;margin-left: -30px;">
         <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Durum Wheat Pasta - Elbow Macaroni</a>
        </li>
        </ul> 
        <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -10px;">500 g</h6> 
        <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: -10px;">
            <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -16px;margin-left: 65px;">MRP: Rs 175</h4>  
            <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
            <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
            <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
             <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
             <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
             <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
                <img src="../../assets/images/grey-basket.png"/>
            </button>
                </mat-card>               
   </mat-card> 
</div>
<div class="fusili">
   <mat-card  style="width: 240px;height: 420px;margin-top:-420px;margin-left: 560px;">
    <img src="../../assets/uploads/wingreens-farms-durum-wheat-pasta-fusili.png" style="margin-left: 40px;"/> 
    <img src="../../assets/images/green-circle.png"/>
    <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Wingreens Farms</h6> 
     <ul style="list-style-type: none;">
     <li style="margin-top: -13px;margin-left: -30px;">
     <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Durum Wheat Pasta - Fusili</a>
    </li>
    </ul> 
    <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: 20px;">500 g</h6> 
    <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: -16px;">
        <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -16px;margin-left: 65px;">MRP: Rs 175</h4>  
        <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
        <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
        <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
         <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
         <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
         <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
            <img src="../../assets/images/grey-basket.png"/>
        </button>
            </mat-card>         
 </mat-card>  
</div>
<div class="whole">
 <mat-card class="pedigree" style="width: 240px;height: 420px;margin-left: 20px;margin-top: 20px;">
<mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
        <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 36% OFF</span> 
       <img src="../../assets/images/asterisk.png"/>
        </mat-toolbar> 
        <img src="../../assets/uploads/borges-whole-wheat-pasta-penne-rigate.png" style="margin-left: 40px;"/> 
     <img src="../../assets/images/green-circle.png"/>   
        <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">BORGES</h6> 
         <ul style="list-style-type: none;">
         <li style="margin-top: -13px;margin-left: -30px;">
         <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Whole Wheat Pasta - Penne Rigate</a>
        </li>
        </ul> 
        <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -20px;">500 g Pouch</h6>    
        <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: -15px;">
            <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 250</h6>
            <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 159</h4>  
            <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
            <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
            <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
             <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
             <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
             <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
                <img src="../../assets/images/grey-basket.png"/>
            </button>
                </mat-card> 
</mat-card>
</div>
<div class="tomato">
<mat-card class="pedigree" style="width: 240px;height: 420px;margin-left: 290px;margin-top: -420px;">
    <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
        <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 10% OFF</span> 
       <img src="../../assets/images/asterisk.png"/>
        </mat-toolbar> 
        <img src="../../assets/uploads/knorr-tomato-soup-classic-thick.png" style="margin-left: 40px;"/> 
     <img src="../../assets/images/green-circle.png"/>   
        <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Knorr</h6> 
         <ul style="list-style-type: none;">
         <li style="margin-top: -13px;margin-left: -30px;">
         <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Tomato Soup - Classic Thick</a>
        </li>
        </ul> 
        <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -20px;">53 g</h6>    
        <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 10px;">
            <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 55</h6>
            <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 49.50</h4>  
            <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
            <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
            <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
             <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
             <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
             <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
                <img src="../../assets/images/grey-basket.png"/>
            </button>
                </mat-card>             
</mat-card>
</div>
<div class="masala">
<mat-card class="pedigree" style="width: 240px;height: 420px;margin-left: 560px;margin-top: -420px;">
    <mat-toolbar style="width: 220px;height: 20px;margin-top: -10px;">
        <span style="color: #ba5253;font-size: 10px;margin-left:110px;">GET 10% OFF</span> 
       <img src="../../assets/images/asterisk.png"/>
        </mat-toolbar> 
        <img src="../../assets/uploads/sunfeast-noodles-magic-masala.png" style="margin-left: 40px;"/> 
     <img src="../../assets/images/green-circle.png"/>   
        <h6 style="color: #999;font-size: 11px ProximaNovaA-Regular;margin-left: 24px;margin-top: -20;">Sunfeast</h6> 
         <ul style="list-style-type: none;">
         <li style="margin-top: -13px;margin-left: -30px;">
         <a href="" style="font-size:13px;color:rgb(12, 10, 10);margin-top: -30px;">Noodles - Magic Masala</a>
        </li>
        </ul> 
        <h6 style="font-size: 12px;color:#999 ;margin-left:10px;margin-top: -20px;">360 g Pouch</h6>   
        <mat-card style="width: 212px;height: 140px;border: 1px solid #fcfcfc;margin-top: 10px;">
            <h6 style="font-size: 10px ProximaNovaA-Regular;color:#999;margin-top: -15px;text-decoration: line-through;">MRP: Rs 68</h6>
            <h4 style="font-size:10px ProximaNovaA-Regular;color:black;margin-top: -36px;margin-left: 65px;">Rs 61.20</h4>  
            <img src="../../assets/images/grey-bus.png" style="margin-left: -20px;margin-top: 5px;"/>
            <span style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top:-10px;margin-left:10px;">Standard Delivery: Tomorrow </span>
            <h4 style="color: #333;;font-size:10px;font-family: ProximaNovaA-Regular;margin-top: -10px;margin-left:18px;">10.00 AM - 12.00 PM </h4>
             <span style="color: #999;font-size: 12px;margin-left: -15px;">Qty</span>
             <input type="text" value="1"  style="width: 50px;height: 20px;margin-left: 6px;text-align: center;"/>
             <button mat-button style="background-color: #fee67c;width: 80px;height: 30px;margin-left:4px;">ADD
                <img src="../../assets/images/grey-basket.png"/>
            </button>
                </mat-card>            
</mat-card>
</div>
</div>
  </div>  
 </div>      